{% extends "student_base.html" %}
{% load i18n %}
{% block title %}Live Courses{% endblock %}
{% block content %}

<div class="mt-3 d-sm-flex align-items-center justify-content-between mb-4 p-2">
    <h1 class="h3 mb-0 text-gray-800">{% trans 'My courses' %}</h1>
</div>


<div class="container-fluid">

    <div class="row">
        {% for room in object_list %}

        <div class="col-md-4 mb-2">
            <div class="card">

                <div class="card-body">

                    {% for entry in room.participants.all %}
                    {% if entry.member.id == request.user.id %}
                    <input type="hidden" class="hfJoin" id="{{room.id}}" />
                    {% endif %}
                    {% endfor %}

                    <h5>
                        {{ room.title }}
                    </h5>

                    <p> Course: {{room.course}} </p>
                    <p> Date: {{room.start_date|default_if_none:"N/A"}} </p>
                    <p> Time: {{room.start_time|default_if_none:"N/A"}} </p>
                </div>

                <div class="card-footer">
                    <a href="#"" class="btn btn-info btn-sm link-join free" owner="{{room.owner.id}}" title="{{room.title}}"
                    id="{{room.id}}"> Join </a>
                </div>
    
            </div>
        </div>
        {% endfor %}

    </div>


</div>

{% endblock %}

{% block scripts %}

<script>

    var addNewMember = function (roomId, owner, title) {

        var data = {
            member: '{{request.user.id}}',
            room: roomId,
            is_approved: false
        };

        $.ajax({
            type: "POST",
            url: "/api/video-participants/",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                toastr.success('Your request has been sent.', 'Success!');
                sentNotification(roomId, owner, title);
            },
            failure: function (errMsg) {
            }
        });
    };

    var sentNotification = function (roomId, receiverId, videoTitle) {

        var data = {
            action_target: window.location.origin + '{% url "video_rooms" %}?id=' + roomId + '&action=member',
            action: "link",
            receiver: receiverId,
            status: 'pending',
            title: 'New student want to join the live video ' + videoTitle,
            is_deleted: 0
        };

        $.ajax({
            type: "POST",
            url: "/api/notifications/",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                console.log(response);
            },
            failure: function (errMsg) {
            }
        });

    };


    $(document).ready(function () {

        $(".hfJoin").each(function () {

            var id = $(this).attr('id');
            if (id) {
                $(".link-join[id=" + id + "]").removeClass('link-join').text('Added');
            }

        });

        $("div").on("click", '.link-join', function (e) {
            e.stopPropagation();

            var id = $(this).attr('id');
            var title = $(this).attr('title');
            var own = $(this).attr('owner');

            if (id) {
                addNewMember(id, own, title);
            }
        });
    });

</script>

{% endblock %}