{% extends "base.html" %}

{% block title %}
{% if conversation is not None%}
{{conversation}}
{%else%}
Manage Conversations
{%endif%}
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3" id="conversation-panel">
            <div class="card">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-10">
                            <strong>
                                Chat
                            </strong>
                        </div>
                        <div class="col-md-2 float-right">
                            <button class="btn btn-success btn-sm btn-new-chat">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group" id="list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            {% if conversation is not None%}
            <div class="card">
                <div class="card-header container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <strong>
                                {{conversation}}
                            </strong>

                            {% if conversation.course is not None%}
                            ({{conversation.course}})
                            {%endif%}
                        </div>
                        <div class="col-md-7 text-sm-right">
                            <button class="btn btn-info btn-sm" id="btn-members">
                                <i class="fa fa-users"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" pk="{{conversation.id}}" id="btn-delete-conversation">
                                <i class="fa fa-trash"></i>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="card-body" id="conversation-list">
                   
                </div>
                <div class="card-footer">
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input class="form-control" id="text-msg"></input>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="button" id="btn-send-msg" class="btn btn-primary btn-sm">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {%else%}
            <div>
                <strong>
                    No conversation selected
                </strong>
            </div>
            {%endif%}


        </div>
    </div>

</div>

<div id="create-chat-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Create New Chat
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Title</label>
                        <input type="text" class="form-control" id="title" name="title"
                            placeholder="Conversation title.">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Course</label>
                        <select class="form-control" id="course" name="course">
                        </select>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-save-chat">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="members-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Manage Members
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header bg-secondary text-white">
                                Members List
                            </div>

                            <div class="card-body">
                                <ul class="list-group" id="added-members-list">

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                Add New
                            </div>

                            <div class="card-body">
                                <ul class="list-group" id="all-members-list" style="max-height: 300px; overflow: auto;">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

<script>

    (function ($) {
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();

            $.each(a, function () {

                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }

                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });

            return o;
        };

    })(jQuery);

    (function ($) {

        $.MessagesPage = function (options) {

            var that = this;

            var courseList = [];
            var conversationsList = [];
            var studentsList = [];
            var savedMembersList = [];
            var allMessagesList = [];

            var settings = $.extend({

            }, options);

            var getCourses = function () {
                $.get('/api/teacher-courses/?format=json', {}, function (response) {
                    courseList = response;
                    fillCourseDropdown();
                });
            };

            var fillCourseDropdown = function () {
                $("#create-chat-modal #course").empty();
                $("#create-chat-modal #course").append('<option value="">Select Course</option>');

                $(courseList).each(function (index, item) {
                    var opt = $("<option />", { value: item.id, text: item.title });
                    $("#create-chat-modal #course").append(opt);
                });
            };

            var getConversations = function () {
                $.get('/api/conversations/?format=json', {}, function (response) {
                    conversationsList = response;
                    drawConversationsList();
                });
            };

            var drawConversationsList = function () {
                $("#conversation-panel #list").empty();

                $(conversationsList).each(function (index, item) {
                    var a = $("<a />", { text: item.title, href: '{% url "messages" %}' + item.id, class: "list-group-item rounded-0" });
                    $("#conversation-panel #list").append(a);
                });
            };

            var getStudents = function () {
                $.get('/api/teacher-students/?format=json', {}, function (response) {
                    studentsList = response;
                    drawStudentsList();
                });
            };

            var drawStudentsList = function () {
                $("#all-members-list").empty();

                $(studentsList).each(function (index, item) {

                    var li = $("<li />", { class: "list-group-item d-flex justify-content-between align-items-center" });

                    var a = $("<a />", { href: '#', text: 'Add', id: item.id, class: "link-add-member badge badge-primary badge-pill text-white" });

                    li.append(item.username).append(a);

                    $("#all-members-list").append(li);
                });
            };

            var getAddedMembers = function () {

                id = '{{conversation.id}}';

                if (id) {
                    $.get('/api/conversation-members/?format=json', { conversation: id }, function (response) {
                        savedMembersList = response;
                        drawMembersList();
                    });
                }

            };

            var drawMembersList = function () {

                $("#added-members-list").empty();

                $(savedMembersList).each(function (index, item) {

                    var li = $("<li />", { class: "list-group-item d-flex justify-content-between align-items-center" });

                    var a = $("<a />", { href: '#', text: 'X', id: item.id, class: "link-remove-member badge badge-primary badge-pill text-white" });

                    li.append(item.member.username).append(a);

                    $("#added-members-list").append(li);
                });
            };

            var addNewMember = function (id) {
                var data = {
                    member: id,
                    conversation: '{{conversation.id}}'
                };

                $.ajax({
                    type: "POST",
                    url: "/api/conversation-members/",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {
                        toastr.success('Member is added.', 'Success!');
                        getAddedMembers();
                    },
                    failure: function (errMsg) {
                    }
                });
            };

            var deleteMember = function (id) {
                $.ajax({
                    type: "DELETE",
                    url: "/api/conversation-members/" + id + "/",
                    data: {},
                    contentType: 'application/json',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {
                        toastr.warning('Member is removed.', 'Warning!');
                        getAddedMembers();
                    },
                    failure: function (errMsg) {
                    }
                });
            };

            var deleteConversation = function (id) {
                $.ajax({
                    type: "DELETE",
                    url: "/api/conversations/" + id + "/",
                    data: {},
                    contentType: 'application/json',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {

                        toastr.warning('Conversations is removed.', 'Warning!');

                        setTimeout(function () {
                            window.location.href = "{% url 'messages' %}";
                        }, 1000)
                    },
                    failure: function (errMsg) {
                    }
                });
            };

            var setConversationHeight = function () {
                var height = $(window).height() - 300;

                $("#conversation-list").css({
                    'max-height': height,
                    'height': height,
                    'overflow': 'auto'
                });

            };

            var sendMessage = function (msg) {

                var data = {
                    sent: '{{request.user.id}}',
                    conversation: '{{conversation.id}}',
                    content: msg
                };

                $.ajax({
                    type: "POST",
                    url: "/api/messages/",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {
                        getLatestMessages();
                    },
                    failure: function (errMsg) {
                    }
                });

            };

            var getAllMessages = function () {
                id = '{{conversation.id}}';

                if (id) {
                    $.get('/api/messages/?format=json', { conversation: id }, function (response) {
                        allMessagesList = response;
                        drawAllMessages();
                    });
                }
            };

            var drawAllMessages = function () {

                $("#conversation-list").empty();

                $(allMessagesList).each(function (index, item) {

                    var div = makeMsgItem(item);

                    $("#conversation-list").append(div);

                });

                $("#conversation-list").scrollTop($("#conversation-list")[0].scrollHeight);
            };

            var getLatestMessages = function () {
                id = '{{conversation.id}}';

                if (id) {
                    $.get('/api/messages/?format=json', { type: 'top10', conversation: id }, function (response) {
                        drawLatestMessages(response);
                    });
                }
            };

            var drawLatestMessages = function (data) {

                $(data).each(function (index, item) {

                    var ln = $('#' + item.id + '.msg-item').length;

                    if (ln <= 0) {
                        var div = makeMsgItem(item);

                        $("#conversation-list").append(div);
                    }

                });

                $("#conversation-list").scrollTop($("#conversation-list")[0].scrollHeight);
            };

            var makeMsgItem = function (item) {
                var img_div = $("<div />", { class: "img_cont_msg" });
                var img = $("<img />", { class: "rounded-circle user_img_msg", src: 'https://via.placeholder.com/40x40.png?text=.' });

                img_div.append(img);

                var msg_div = $("<div />", { class: "msg_cotainer" });

                msg_div.html(item.content);

                var time_div = $("<div />", { class: "msg_time" });

                var span_sent = $("<span />", { text: item.sent.username });

                var dt = moment(item.created).format('YYYY-MM-DD HH:m:s');

                var span_time = $("<span />", { text: dt });

                time_div.append(span_sent).append(" | ").append(span_time);

                var mn_div = $("<div />", { id: item.id, class: "d-flex justify-content-start mb-5 msg-item" });

                mn_div.append(img_div).append(msg_div).append(time_div);

                return mn_div;
            };


            var registerEvent = function () {

                $("div").on("click", '.btn-new-chat', function (e) {
                    e.stopPropagation();
                    $("#create-chat-modal").modal('show');
                });

                $("div").on("click", '#btn-save-chat', function (e) {
                    e.stopPropagation();

                    var data = $("#create-chat-modal form").eq(0).serializeObject();

                    $.ajax({
                        type: "POST",
                        url: "/api/conversations/",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function (response) {
                            if (response) {
                                window.location.reload();
                            }
                            $("#create-chat-modal").modal('hide');
                        },
                        failure: function (errMsg) {
                            $("#create-chat-modal").modal('hide');
                        }
                    });

                });

                $("div").on("click", '#btn-members', function (e) {
                    e.stopPropagation();
                    $("#members-modal").modal('show');

                });

                $("div").on("click", '.link-add-member', function (e) {
                    e.stopPropagation();

                    var id = $(this).attr('id');

                    if (id) {
                        //var student = studentsList.find(a => id == id);
                        addNewMember(id);
                    }
                });

                $("div").on("click", '.link-remove-member', function (e) {
                    e.stopPropagation();
                    var id = $(this).attr('id');

                    if (id) {
                        deleteMember(id);
                    }
                });

                $("div").on("click", '#btn-delete-conversation', function (e) {
                    e.stopPropagation();
                    var id = $(this).attr('pk');

                    if (id) {
                        deleteConversation(id);
                    }
                });

                $("div").on("click", '#btn-send-msg', function (e) {
                    e.stopPropagation();

                    var val = $("#text-msg").val();

                    if (val) {
                        sendMessage(val);
                        $("#text-msg").val(null);
                    }

                });

            };

            var init = function () {
                registerEvent();
                getConversations();
                getCourses();
                getAddedMembers();
                getStudents();
                setConversationHeight();
                getAllMessages();
            };

            init();

            return this;

        };


    }(jQuery));

    $(document).ready(function () {
        var messagesPage = new $.MessagesPage({
        });
    });
</script>

{% endblock %}