{% extends "student_base.html" %}
{% block title %}
Live Class {{object.title}}
{% endblock %}

{% block content %}

<div class="mt-1" id="video-screen">

    <input type="hidden" id="hf-info" value="{{object.info}}" />

    <div class="row">
        <div class="col-md-12">
            <div class="card embed-responsive embed-responsive-21by9" id="local">

            </div>
        </div>
    </div> <!-- end row -->


    <div class="row">

        <div class="col-md-8">
            <div class="p-1 bg-white" id="controls">

                <button class="btn btn-success btn-sm" title="Start Call" id="btn-start-video">
                    <i class="fa fa-video-camera "></i> Start Call
                </button>

                <button class="btn btn-info btn-sm" disabled id="btn-full-screen" title="Full Screen">
                    <i class="fa fa-arrows-alt"></i> Full Screen
                </button>

                <button class="btn btn-info btn-sm" disabled id="btn-default-screen" title="Small Screen">
                    <i class="fa fa-compress"></i> Small Screen
                </button>

                <button class="btn btn-primary btn-sm" disabled id="btn-mute" title="Mute">
                    <i class="fa fa-microphone"></i> Mute
                </button>

                <button class="btn btn-danger btn-sm" disabled id="btn-stop-video">
                    <i class="fa fa-phone"></i> End Call
                </button>
            </div>
        </div> <!-- end col -->

        <div class="col-md-4">
            <div class="p-1 bg-white text-right d-flex flex-row-reverse">

                <div>
                    <a href="{% url 'video_rooms' %}" class="btn btn-primary btn-sm" id="btn-exit">
                        <i class="fa fa-undo"></i> Close & return </a>
                </div>

                <div>
                    <div class="btn-group dropup mr-1">
                        <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Back to Course
                        </button>
                        <div class="dropdown-menu">

                            {% for course in courses %}
                            <a href="{% url 'quick_enroll' course.course_id %}" class="dropdown-item">
                                <small>{{course.course}}</small>
                            </a>
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- end col -->

    </div> <!-- end row -->

    <div class="img-thumbnail embed-responsive embed-responsive-21by9" id="me-vid">
    </div> <!-- end img-thumbnail -->

    <div id="participant-list">
    </div> <!-- end participant-list -->

    <span id="count">Disconnected. (0)</span> <!-- end count -->

</div>


{% endblock %}

{% block scripts %}

<style>
    #video-screen {
        position: relative;
    }

    #me-vid {
        width: 150px;
        height: 150px;
        position: absolute;
        right: 25px;
        top: 10px;
        background: #d3d3d3;
        cursor: pointer;
    }

    #me-vid:hover {
        border: 1px solid #515151;
    }

    #count {
        font-size: 8px;
        position: absolute;
        bottom: 44px;
        left: 7px;
        color: #7f7a7a;
    }

    #participant-list {
        width: 150px;
        position: absolute;
        left: 10px;
        top: 10px;
        background: #d3d3d3;
        padding: 5px;
        display: none;
    }

    .participant {
        margin-bottom: 5px;
        width: 100%;
        font-size: 10px;
    }

    .connecting-sign {
        position: absolute;
        top: 16%;
        left: 36%;
        color: #1cba45;
    }
</style>

<script>
    var room;

    $(document).ready(function () {

        // const button = document.getElementById('btn-start-video');
        //const container = document.getElementById('container');
        const pcontainer = document.getElementById('participant-list');
        const count = document.getElementById('count');

        var connected = false;

        var room_object;
        var videoTrack;

        function addLocalVideo() {
            Twilio.Video.createLocalVideoTrack().then(track => {
                videoTrack = track;
                $("#me-vid").html(videoTrack.attach());
                //$("#local").html(videoTrack.attach());
                //$("#local video").addClass('embed-responsive-item');
            });
        };

        function connectButtonHandler() {

            addLocalVideo();

            $("#local").html(
                '<div class="connecting-sign"><h5> <i class="fa fa-lg fa-phone-square"></i> Connecting Live Class...</h5></div>'
            );

            $("#participant-list").empty();
            $("#controls button").attr('disabled', false);
            $("#btn-start-video").attr('disabled', true);

            if (!connected) {

                var username = '{{request.user.username}}'

                if (!username) {
                    alert('Enter your name before connecting');
                    return;
                }

                connect(username).then(() => {

                }).catch(function (err) {

                    toastr.error('Connection failed. Is the meeting started?', 'Warning!');

                    $("#controls button").attr('disabled', true);
                    $("#btn-start-video").attr('disabled', false);

                });

            } else {

                $("#controls button").attr('disabled', true);
                $("#btn-start-video").attr('disabled', false);

                toastr.info('Connection failed. meeting is started!', 'Warning!');
            }
        };

        function connect(username) {

            var promise = new Promise((resolve, reject) => {

                var ds = {
                    'room_sid': room_object.sid
                };

                var videoOptions = {
                    audio: true,
                    video: {
                        height: 720,
                        frameRate: 24,
                        width: 1280
                    },
                    bandwidthProfile: {
                        video: {
                            mode: 'presentation',
                            maxTracks: 10,
                            dominantSpeakerPriority: 'standard',
                            renderDimensions: {
                                high: {
                                    height: 1080,
                                    width: 1920
                                },
                                standard: {
                                    height: 720,
                                    width: 1280
                                },
                                low: {
                                    height: 176,
                                    width: 144
                                }
                            }
                        }
                    },
                    dominantSpeaker: true,
                    maxAudioBitrate: 16000,
                    preferredVideoCodecs: [{
                        codec: 'VP8',
                        simulcast: true
                    }],
                    networkQuality: {
                        local: 1,
                        remote: 1
                    }
                };


                // get a token from the back end
                fetch('/communicate/video-token/', {
                    method: 'POST',
                    body: JSON.stringify(ds),
                    headers: {
                        "X-CSRFToken": '{{ csrf_token }}'
                    }
                }).then(res => res.json()).then(data => {
                    // join video call
                    return Twilio.Video.connect(data.token, videoOptions);
                }).then(_room => {

                    room = _room;
                    room.participants.forEach(participantConnected);
                    room.on('participantConnected', participantConnected);
                    room.on('participantDisconnected', participantDisconnected);
                    connected = true;
                    updateParticipantCount();
                    resolve();
                    addLog();

                }).catch(function (err) {
                    console.log(err);
                    disconnect();
                    reject();
                    $("#local").html(
                        '<div class="connecting-sign text-danger"> <h5> <i class="fa fa-lg fa-exclamation-triangle"></i> Connection Failed .. </h5> </div>'
                    );

                });
            });

            return promise;
        };

        function updateParticipantCount() {
            if (!connected)
                count.innerHTML = 'Disconnected.';
            else
                count.innerHTML = (room.participants.size + 1) + ' participants online.';
        };

        function participantConnected(participant) {

            console.log(participant);

            var participant_div = document.createElement('div');
            participant_div.setAttribute('id', participant.sid);
            participant_div.setAttribute('class', 'participant');

            var tracks_div = document.createElement('div');
            tracks_div.setAttribute('class', 'vd img-thumbnail embed-responsive embed-responsive-21by9 ');
            participant_div.appendChild(tracks_div);

            var label_div = document.createElement('div');

            label_div.setAttribute('id', participant.sid + "_lbl");
            label_div.innerHTML = participant.identity.split('__')[0];
            participant_div.appendChild(label_div);

            pcontainer.appendChild(participant_div);

            participant.tracks.forEach(publication => {
                if (publication.isSubscribed)
                    trackSubscribed(tracks_div, publication.track, participant);
            });

            participant.on('trackSubscribed', track => trackSubscribed(tracks_div, track,
                participant));
            participant.on('trackUnsubscribed', trackUnsubscribed);

            updateParticipantCount();
        };

        function participantDisconnected(participant) {
            document.getElementById(participant.sid).remove();
            document.getElementById(participant.sid + "_lbl").remove();

            updateParticipantCount();
        };

        function trackSubscribed(div, track, participant) {

            console.log(track);

            //console.log(participant.identity);

            div.appendChild(track.attach());

            if (participant.identity.indexOf('__inst') >= 0) {

                if (track.kind == 'video' && track.name == 'screen') {

                    if ($("#local video").length > 0) {

                        $("#local video").css({
                            top: '86px',
                            right: '34px',
                            width: '200px',
                            height: '164px',
                            left: 'auto',
                            'z-index': 99
                        });

                        $("#local video").addClass('face');
                    }
                }

                $("#local").html(track.attach());

                //$("#btn-full-screen").trigger('click');
            }

        };

        function trackUnsubscribed(track) {

            track.detach().forEach(element => element.remove());

            if ($("#local video").length == 1) {
                $("#local video").removeClass('face').removeAttr('style');
            }

        };

        function disconnect() {

            if (room) {
                room.disconnect();
            }

            if (videoTrack) {
                videoTrack.detach().forEach(mediaElement => mediaElement.remove());
                videoTrack.stop();
                videoTrack = undefined;
            }

            $("#local").empty();
            $("#me-vid").empty();
            $("#participant-list").empty();

            connected = false;
            updateParticipantCount();

            $("#controls button").attr('disabled', true);
            $("#btn-start-video").attr('disabled', false);
        };

        var addLog = function (id) {
            var data = {
                room: '{{object.id}}',
                participant: '{{request.user.id}}'
            };

            $.ajax({
                type: "POST",
                url: "/api/video-participantslog/",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {
                    console.log(response)
                },
                failure: function (errMsg) {}
            });
        };

        var events = function () {

            $("#btn-full-screen").click(function () {

                $("#local video:not('.face')").css({
                    height: '100%',
                    width: '100%',
                    'object-fit': 'fill'
                });
            });

            $("#btn-default-screen").click(function () {
                $("#local video:not('.face')").css({
                    height: '100%',
                    width: '100%',
                    'object-fit': 'contain'
                });
            });

            $("#btn-start-video").click(function () {
                connectButtonHandler();
            });

            $("#btn-stop-video").click(function () {
                disconnect();
                $("#btn-stop-video").attr('disabled', true);
                $("#btn-start-video").attr('disabled', false);
                $("#pcontainer").empty();
            });

            $("#btn-mute").click(function () {
                var title = $(this).attr('title');

                if (!room) {
                    return;
                }

                if (title == 'Mute') {
                    $(this).attr('title', 'Unmute');
                    $(this).find("i").addClass('fa-microphone-slash').removeClass(
                        'fa-microphone');
                    $(this).addClass('btn-danger').removeClass('btn-primary');

                    room.localParticipant.audioTracks.forEach(function (audioTrack) {
                        audioTrack.track.disable()
                    });

                } else {
                    $(this).attr('title', 'Mute');
                    $(this).find("i").addClass('fa-microphone').removeClass(
                        'fa-microphone-slash');
                    $(this).addClass('btn-primary').removeClass('btn-danger');

                    room.localParticipant.audioTracks.forEach(function (audioTrack) {
                        audioTrack.track.enable()
                    });
                }

            });

            $("#btn-enroll").click(function () {
                $(".list-group").toggle();
            });

            var val = $("#hf-info").val();

            if (val && val != 'None') {
                room_object = JSON.parse(val);
                window.room_object = room_object;
            } else {

                $("#btn-stop-video").attr('disabled', true);
                $("#btn-start-video").attr('disabled', true);
                toastr.warning('Live meeting is not started yet', 'Info!');
            }

            $(".navbar").hide();

            var width = $(window).width() - 30;
            var height = $(window).height() - $(".navbar").eq(0).outerHeight() - 10;

        };

        events();

        getPendingNotifications();

    });
</script>
{% endblock %}