{% extends "teacher_base.html" %}
{% load i18n %}
{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}

<div class="mt-1" id="video-screen">

    <span id="count">Disconnected. (0)</span>

    <div id="pcontainer">
    </div>

    <div id="container">
        <div id="local">
        </div>
        <!-- more participants will be added dynamically here -->
    </div>

    <div id="controls">
        <button class="btn btn-success btn-sm" title="Start Video" id="btn-start-video">
            <i class="fa fa-video-camera "></i>
        </button>

        <button class="btn btn-info btn-sm" id="btn-full-screen" title="Full Screen">
            <i class="fa fa-arrows-alt"></i>
        </button>

        <button class="btn btn-info btn-sm" id="btn-default-screen" title="Default Screen">
            <i class="fa fa-compress"></i>
        </button>

        <button class="btn btn-primary btn-sm" id="btn-mute" title="Mute">
            <i class="fa fa-microphone"></i>
        </button>

        <button class="btn btn-danger btn-sm" disabled id="btn-stop-video">
            <i class="fa fa-phone"></i>
        </button>
    </div>

    <div id="room-info"></div>


</div>


<div id="devicesModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Call Configurations</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="audo">Audio Input</label>
                            <select id="audioinput" class="form-control form-control-sm">
                            </select>
                        </div>
                        <button type="button" class="btn btn-sm btn-primary">Apply (Audio Input)</button>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="audo">Video Input</label>
                            <select id="videoinput" class="form-control form-control-sm">
                            </select>
                        </div>
                        <button type="button" class="btn btn-sm btn-info">Apply (Video Input)</button>
                    </div>

                </div>

                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="audo">Audio Output</label>
                            <select id="audiooutput" class="form-control form-control-sm">
                            </select>
                        </div>
                        <button type="button" class="btn btn-sm btn-success">Apply (Audio)</button>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<style>
    #video-screen {
        width: 100%;
        height: 100%;
        position: relative;
        top: 0;
        left: 0;
    }

    #container {
        height: 100%;
        width: 100%;
    }

    #local {
        height: 100%;
        width: 100%;
        text-align: center;
    }

    #count {
        font-size: 8px;
        position: absolute;
        bottom: 3px;
        left: 0;
        color: #cdcbcb;
    }

    #controls {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    #pcontainer {
        position: absolute;
        max-height: 100%;
        width: 121px;
        padding: 10px;
    }

    .participant {
        width: 100px;
        margin-bottom: 10px;
    }

    .participant .vd {
        max-height: 60px;
        border: 1px solid #eaeaea;
        height: 60px;
        width: 100%;
    }

    .participant .vd video {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
</style>

<script>

    var room;

    $(document).ready(function () {

        const usernameInput = document.getElementById('username');
        const button = document.getElementById('btn-start-video');
        const container = document.getElementById('container');
        const pcontainer = document.getElementById('pcontainer');
        const count = document.getElementById('count');

        var connected = false;


        var room_object;
        var videoTrack;

        var savedMembersList;

        function addLocalVideo() {
            Twilio.Video.createLocalVideoTrack().then(track => {

                videoTrack = track;

                $("#local").append(videoTrack.attach());

                $("#local video").css({
                    height: '100%'
                });

                $(".vd").eq(0).html(videoTrack.attach());
            });
        };

        function connectButtonHandler() {

            addLocalVideo();

            $("#btn-stop-video").attr('disabled', false);
            $("#btn-start-video").attr('disabled', true);

            if (!connected) {

                var username = '{{request.user.username}}'

                if (!username) {
                    alert('Enter your name before connecting');
                    return;
                }

                connect(username).then(() => {

                }).catch(function (err) {
                    toastr.error('Connection failed. Is the meeting started?', 'Warning!');
                    console.log(err);
                });
            }
            else {
                //disconnect();
                //button.innerHTML = 'Join call';
                // connected = false;
            }
        };

        function connect(username) {

            var promise = new Promise((resolve, reject) => {

                var ds = { 'room_sid': room_object.sid };

                // get a token from the back end
                fetch('/communicate/video-token/', {
                    method: 'POST',
                    body: JSON.stringify(ds),
                    headers: { "X-CSRFToken": '{{ csrf_token }}' }
                }).then(res => res.json()).then(data => {
                    // join video call
                    return Twilio.Video.connect(data.token, {
                        video: { height: $(window).height(), frameRate: 24, width: $(window).width() },
                        audio: true
                    });
                }).then(_room => {
                    room = _room;

                    room.participants.forEach(participantConnected);
                    room.on('participantConnected', participantConnected);
                    room.on('participantDisconnected', participantDisconnected);
                    connected = true;
                    updateParticipantCount();
                    resolve();
                }).catch(function (err) {
                    console.log(err)
                    reject();
                });
            });

            return promise;
        };

        function updateParticipantCount() {
            if (!connected)
                count.innerHTML = 'Disconnected.';
            else
                count.innerHTML = (room.participants.size + 1) + ' participants online.';
        };

        function participantConnected(participant) {

            console.log(participant);

            var participant_div = document.createElement('div');
            participant_div.setAttribute('id', participant.sid);
            participant_div.setAttribute('class', 'participant');

            var tracks_div = document.createElement('div');
            tracks_div.setAttribute('class', 'vd');

            participant_div.appendChild(tracks_div);

            var label_div = document.createElement('div');
            label_div.innerHTML = participant.identity;
            participant_div.appendChild(label_div);

            pcontainer.appendChild(participant_div);

            participant.tracks.forEach(publication => {
                if (publication.isSubscribed)
                    trackSubscribed(tracks_div, publication.track);
            });

            participant.on('trackSubscribed', track => trackSubscribed(tracks_div, track));
            participant.on('trackUnsubscribed', trackUnsubscribed);

            updateParticipantCount();
        };

        function participantDisconnected(participant) {
            document.getElementById(participant.sid).remove();
            updateParticipantCount();
        };

        function trackSubscribed(div, track) {
            div.appendChild(track.attach());
        };

        function trackUnsubscribed(track) {
            track.detach().forEach(element => element.remove());
        };

        function disconnect() {

            if (room) {
                room.disconnect();
            }

            if (videoTrack) {
                videoTrack.detach().forEach(mediaElement => mediaElement.remove());
                videoTrack.stop();
                videoTrack = undefined;
            }

            $("#local video").remove();
            connected = false;
            updateParticipantCount();
        };

        function startCall() {
            createRoom(true);
        };

        function createRoom(isStartVideo) {
            $.ajax({
                type: "GET",
                url: '{% url "create-room"%}',
                data: { id: '{{object.id}}' },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {
                    room_object = response;
                    window.room_object = response;

                    $('#room-info').html(JSON.stringify(response));
                    $('#room-info').hide();

                    if (isStartVideo) {
                        connectButtonHandler();
                    }
                },
                failure: function (errMsg) {
                }
            });
        }

        function completeRoom() {
            $.ajax({
                type: "GET",
                url: '{% url "complete-room"%}',
                data: { id: '{{object.id}}' },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {
                    console.log(response);
                },
                failure: function (errMsg) {
                }
            });
        };

        var getAddedMembers = function () {

            $.get('/api/video-participants/?format=json', { room: '{{object.id}}' }, function (response) {
                savedMembersList = response;
            });

        };

        var sentNotifications = function () {

            $(savedMembersList).each(function (index, item) {

                var data = {
                    action_target: window.location.origin + '{% url "video_rooms" object.id %}',
                    action: "link",
                    receiver: item.member.id,
                    status: 'pending',
                    title: 'The podcast is started from ({{object.title}})',
                    is_deleted: 0
                };

                $.ajax({
                    type: "POST",
                    url: "/api/notifications/",
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {
                        console.log(response);
                    },
                    failure: function (errMsg) {
                    }
                });


            });
        };

        var deviceSelections = {
            audioinput: document.querySelector('select#audioinput'),
            audiooutput: document.querySelector('select#audiooutput'),
            videoinput: document.querySelector('select#videoinput')
        };

        var mediaSelection = {
            ensureMediaPermissions: function () {
                return navigator.mediaDevices.enumerateDevices().then(function (devices) {
                    return devices.every(function (device) {
                        return !(device.deviceId && device.label);
                    });
                }).then(function (shouldAskForMediaPermissions) {
                    if (shouldAskForMediaPermissions) {
                        return navigator.mediaDevices.getUserMedia({ audio: true, video: true }).then(function (mediaStream) {
                            mediaStream.getTracks().forEach(function (track) {
                                track.stop();
                            });
                        });
                    }
                });
            },
            getDeviceSelectionOptions: function () {
                // before calling enumerateDevices, get media permissions (.getUserMedia)
                // w/o media permissions, browsers do not return device Ids and/or labels.
                return mediaSelection.ensureMediaPermissions().then(function () {
                    return navigator.mediaDevices.enumerateDevices().then(function (deviceInfos) {
                        var kinds = ['audioinput', 'audiooutput', 'videoinput'];
                        return kinds.reduce(function (deviceSelectionOptions, kind) {
                            deviceSelectionOptions[kind] = mediaSelection.getDevicesOfKind(deviceInfos, kind);
                            return deviceSelectionOptions;
                        }, {});
                    });
                });
            },
            getDevicesOfKind: function (deviceInfos, kind) {
                return deviceInfos.filter(function (deviceInfo) {
                    return deviceInfo.kind === kind;
                });
            },
            updateDeviceSelectionOptions: function () {
                return mediaSelection.getDeviceSelectionOptions()
                    .then(function (deviceSelectionOptions) {

                        ['audioinput', 'audiooutput', 'videoinput'].forEach(function (kind) {

                            var kindDeviceInfos = deviceSelectionOptions[kind];
                            var select = deviceSelections[kind];

                            [].slice.call(select.children).forEach(function (option) {
                                option.remove();
                            });

                            kindDeviceInfos.forEach(function (kindDeviceInfo) {


                                var deviceId = kindDeviceInfo.deviceId;
                                var label = kindDeviceInfo.label || 'Device [ id: '
                                    + deviceId.substr(0, 5) + '... ]';

                                var option = document.createElement('option');
                                option.value = deviceId;
                                option.appendChild(document.createTextNode(label));
                                select.appendChild(option);
                            });
                        });
                    });
            }
        };

        var events = function () {

            var val = $("#hf-info").val();

            if (val && val != 'None') {
                room_object = JSON.parse(val);
                window.room_object = room_object;
            }

            $("#btn-start-video").click(function () {
                startCall();
                //connectButtonHandler();
                sentNotifications();
            });

            $("#btn-stop-video").click(function () {
                disconnect();
                completeRoom();

                $("#btn-stop-video").attr('disabled', true);
                $("#btn-start-video").attr('disabled', false);
                $("#pcontainer").empty();
            });

            $("#btn-full-screen").click(function () {

                $("#local video").css({
                    height: '100%',
                    width: '100%',
                    'object-fit': 'cover'
                });
            });

            $("#btn-default-screen").click(function () {
                $("#local video").css({
                    height: '100%',
                    width: '100%',
                    'object-fit': 'contain'
                });
            });


            $("#btn-mute").click(function () {
                var title = $(this).attr('title');

                if (!room) { return; }

                if (title == 'Mute') {
                    $(this).attr('title', 'Unmute');
                    $(this).find("i").addClass('fa-microphone-slash').removeClass('fa-microphone');
                    $(this).addClass('btn-danger').removeClass('btn-primary');

                    room.localParticipant.audioTracks.forEach(function (audioTrack) {
                         audioTrack.track.disable()
                    });

                } else {
                    $(this).attr('title', 'Mute');
                    $(this).find("i").addClass('fa-microphone').removeClass('fa-microphone-slash');
                    $(this).addClass('btn-primary').removeClass('btn-danger');

                    room.localParticipant.audioTracks.forEach(function (audioTrack) {
                         audioTrack.track.enable()
                    });
                }

                alert(title);

            });


            var width = $(window).width() - 30;
            var height = $(window).height() - $(".navbar").eq(0).outerHeight() - 10;

            $("#video-screen").css({ width: width, height: height });
        };

        getAddedMembers();

        events();

        // var r = mediaSelection.updateDeviceSelectionOptions();

        // $("#devicesModal").modal('show');

    });

</script>
{% endblock %}