{% extends "student_base.html" %}
{% block title %}
- attend {{object.title}}
{% endblock %}

{% block content %}

<div class="container mt-1" id="video-screen">
    <input type="hidden" id="hf-info" value="{{object.info}}" />
    <div id="room-info"></div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header p-1 bg-white container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <span id="count">Disconnected. (0)</span>
                        </div>
                        <div class="col-md-7 text-sm-right">
                            <button class="btn btn-success btn-sm" title="Start Video" id="btn-start-video">
                                <i class="fa fa-video-camera "></i>
                            </button>

                            <button class="btn btn-danger btn-sm" disabled id="btn-stop-video">
                                <i class="fa fa-phone"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="container">
                        <div id="me-vid"></div>
                        <div id="local" class="embed-responsive embed-responsive-21by9">

                        </div>
                        <!-- more participants will be added dynamically here -->
                    </div>
                </div>
                <div class="card-footer">
                    <div id="pcontainer" class="d-flex flex-row">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<style>
    #local video {
        height: 100%;
    }

    .participant {
        width: 100px;
        margin: 3px;
        float: left;
    }

    .participant .vd {
        max-height: 57px;
        border: 1px solid #eaeaea;
    }

    .participant video {
        height: 56px;
        width: 100px;
    }

    #me-vid {
        width: 55px;
        height: 55px;
        position: absolute;
        left: 5px;
        top: 45px;
        border: 1px solid #eee;
    }

    #me-vid video {
        width: auto;
        height: 100%;
    }
</style>

<script>

    $(document).ready(function () {

        const usernameInput = document.getElementById('username');
        const button = document.getElementById('btn-start-video');
        const container = document.getElementById('container');
        const pcontainer = document.getElementById('pcontainer');
        const count = document.getElementById('count');

        var connected = false;
        var room;

        var room_object;
        var videoTrack;

        function addLocalVideo() {
            Twilio.Video.createLocalVideoTrack().then(track => {
                videoTrack = track;
                $("#me-vid").append(videoTrack.attach());

            });
        };

        function connectButtonHandler() {

            addLocalVideo();

            $("#btn-stop-video").attr('disabled', false);
            $("#btn-start-video").attr('disabled', true);

            if (!connected) {

                var username = '{{request.user.username}}'

                if (!username) {
                    alert('Enter your name before connecting');
                    return;
                }

                connect(username).then(() => {

                }).catch(function (err) {
                    toastr.error('Connection failed. Is the meeting started?', 'Warning!');
                    console.log(err);
                });
            }
            else {
                //disconnect();
                //button.innerHTML = 'Join call';
                // connected = false;
            }
        };

        function connect(username) {

            var promise = new Promise((resolve, reject) => {

                var ds = { 'room_sid': room_object.sid };

                console.log(room_object);

                // get a token from the back end
                fetch('/communicate/video-token/', {
                    method: 'POST',
                    body: JSON.stringify(ds),
                    headers: { "X-CSRFToken": '{{ csrf_token }}' }
                }).then(res => res.json()).then(data => {
                    // join video call
                    return Twilio.Video.connect(data.token);
                }).then(_room => {
                    room = _room;
                    room.participants.forEach(participantConnected);
                    room.on('participantConnected', participantConnected);
                    room.on('participantDisconnected', participantDisconnected);
                    connected = true;
                    updateParticipantCount();
                    resolve();
                }).catch(function (err) {
                    console.log(err)
                    reject();
                });
            });

            return promise;
        };

        function updateParticipantCount() {
            if (!connected)
                count.innerHTML = 'Disconnected.';
            else
                count.innerHTML = (room.participants.size + 1) + ' participants online.';
        };

        function participantConnected(participant) {

            console.log(participant);

            var participant_div = document.createElement('div');
            participant_div.setAttribute('id', participant.sid);
            participant_div.setAttribute('class', 'participant');

            var tracks_div = document.createElement('div');
            tracks_div.setAttribute('class', 'vd');
            participant_div.appendChild(tracks_div);

            var label_div = document.createElement('div');
            label_div.setAttribute('id', participant.sid+ "_lbl");
            label_div.innerHTML = participant.identity.split('__')[0];
            participant_div.appendChild(label_div);

            pcontainer.appendChild(participant_div);

            participant.tracks.forEach(publication => {
                if (publication.isSubscribed)
                    trackSubscribed(tracks_div, publication.track, participant);
            });

            participant.on('trackSubscribed', track => trackSubscribed(tracks_div, track, participant));
            participant.on('trackUnsubscribed', trackUnsubscribed);

            updateParticipantCount();
        };

        function participantDisconnected(participant) {
            document.getElementById(participant.sid).remove();
            document.getElementById(participant.sid+ "_lbl").remove();

            updateParticipantCount();
        };

        function trackSubscribed(div, track, participant) {

            div.appendChild(track.attach());

            if (participant.identity.indexOf('__inst') >= 0) {
                $("#local").html(track.attach());

                $("#local video").css({
                    width: $("#video-screen .card-body").width(),
                    height: $("#video-screen .card-body").height() - 5
                });

            }

        };

        function trackUnsubscribed(track) {
            track.detach().forEach(element => element.remove());
        };

        function disconnect() {

            if (room) {
                room.disconnect();
            }

            if (videoTrack) {
                videoTrack.detach().forEach(mediaElement => mediaElement.remove());
                videoTrack.stop();
                videoTrack = undefined;
            }

            $("#local video").remove();
            $("#me-vid video").remove();
            connected = false;
            updateParticipantCount();
        };

        var val = $("#hf-info").val();

        if (val && val != 'None') {
            room_object = JSON.parse(val);
            window.room_object = room_object;
        } else {
            $("#btn-stop-video").attr('disabled', false);
            $("#btn-start-video").attr('disabled', false);
            toastr.warning('Meeting is not started yet', 'Info!');
        }

        $("#btn-start-video").click(function () {
            connectButtonHandler();
        });

        $("#btn-stop-video").click(function () {
            disconnect();
            $("#btn-stop-video").attr('disabled', true);
            $("#btn-start-video").attr('disabled', false);
            $("#pcontainer").empty();
        });

        $("#video-screen .card-body").css({
            'min-height': 300,
            'height': $(window).height() - 230
        });

    });

</script>
{% endblock %}