{% extends 'business_base.html' %}
{% load staticfiles %}

{% block title %}
  Business Dashboard
{% endblock %}

{% block content %}
  <section class="section-padding popular-course-slider bg-feature pt-5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7">
          <div class="section-heading center-heading">
            <h3>Business Dashboard (BETA Version)</h3>
          </div>

          <p>
            <a target="_blank" title="Business Account Features & Demo" href="{% url 'business_account_features' %}"> View Features & Demo!</a>
           </p>

          <div class="card">
            <div class="card-body bg-info">
              <p class="text-white">We're excited to share our beta with you! Your feedback will help us improve this new version. Please let us know if you encounter any issues.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}

{% endblock %}
