{% extends "app_base.html" %}
{% load staticfiles %}

{% block title %} Cart | pdhsafety.com {% endblock %}

{% block head%}

<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
    (function () {
        window.__insp = window.__insp || [];
        __insp.push(["wid", 1713537870]);
        var ldinsp = function () {
            if (typeof window.__inspld != "undefined") return;
            window.__inspld = 1;
            var insp = document.createElement("script");
            insp.type = "text/javascript";
            insp.async = true;
            insp.id = "inspsync";
            insp.src =
                ("https:" == document.location.protocol ? "https" : "http") +
                "://cdn.inspectlet.com/inspectlet.js?wid=1713537870&r=" +
                Math.floor(new Date().getTime() / 3600000);
            var x = document.getElementsByTagName("script")[0];
            x.parentNode.insertBefore(insp, x);
        };
        setTimeout(ldinsp, 0);
    })();
</script>
<!-- End Inspectlet Asynchronous Code -->

{% endblock %}

{% block content %}

<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-header-content">
                    <h1>My Cart</h1>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="site-main woocommerce single single-product page-wrapper">
    <!--shop category start-->
    <section class="space-3">
        <div class="container sm-center">
            <div class="row">
                <div class="col-lg-8">
                    <article id="post-6" class="post-6 page type-page status-publish hentry">
                        <!-- .entry-header -->
                        <div class="entry-content">
                            <div class="woocommerce">
                                <div class="woocommerce-notices-wrapper"></div>
                                <form class="woocommerce-cart-form" action="" method="">
                                    <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents"
                                        id="itemsList" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">&nbsp;</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">Product</th>
                                                <th class="product-price">Price</th>
                                                <th class="product-quantity">Quantity</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <!-- .entry-content -->
                    </article>
                </div>
                <div class="col-lg-4">
                    <div class="cart-collaterals">
                        <div class="cart_totals">
                            <h2>Cart totals</h2>
                            <table cellspacing="0" class="shop_table shop_table_responsive">
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td data-title="Subtotal">
                                            <span class="woocommerce-Price-amount amount">
                                                <span class="woocommerce-Price-currencySymbol">$</span>
                                                <span class="sub-total-price"></span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td data-title="Total">
                                            <strong>
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    <span class="total-price"></span>
                                                </span>
                                            </strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="wc-proceed-to-checkout d-none">

                                <a href="{% url 'checkout_detail' %}"
                                class="checkout-button button alt wc-forward">Proceed to checkout</a>

                                {% comment %} {% if request.user.is_authenticated %}
                               
                                {% else %}
                                <a class="checkout-button button alt wc-forward link-auth">Proceed to checkout</a>
                                {% endif %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--shop category end-->

    <section class="team section-padding bg-grey py-3 my-4">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="{% static 'images/money_back.png' %}" width="400" alt="money back" />
                </div>
            </div>
        </div>
    </section>
</main>

{% verbatim %}
<script type="text/x-handlebars-template" id="cartItemTemplate">
   <tr class="woocommerce-cart-form__cart-item cart_item" data-id="{{pk}}">
      <td class="product-remove">
         <a
            href="javascript:;"
            class="remove link-remove-item"
            data-id="{{pk}}"
            aria-label="Remove this item"
            data-product_id="30"
            data-product_sku=""
         >×</a>
      </td>
      <td class="product-thumbnail">
         <a href="#">
            <img width="324" height="324" src="{{fields.image}}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" /></a>
      </td>

      <td class="product-name" data-title="Product">
         <a href="#">{{fields.title}}</a>
      </td>

      <td class="product-price" data-title="Price">
         <span class="woocommerce-Price-amount amount">
            <span class="woocommerce-Price-currencySymbol">$</span>
            {{final_price}}</span>
      </td>

      <td class="product-quantity" data-title="Quantity">
         <div class="quantity">
            <label class="screen-reader-text" for="quantity_5cc58182489a8">Quantity</label>
            <input
               type="number"
               class="input-text qty text"
               step="1"
               min="1"
               max=""
               readonly
               value="1"
               title="Qty"
               size="4"
               pattern="[0-9]*"
               inputmode="numeric"
            /></div>
      </td>
      <td class="product-subtotal" data-title="Total">
         <span class="woocommerce-Price-amount amount">
            <span class="woocommerce-Price-currencySymbol">$</span>
            {{final_price}}</span>
      </td>
   </tr>
</script>
{% endverbatim %}

{% endblock %}

{% block scripts %}

<script>
    (function ($) {

        const isAUTH = '{{request.user.is_authenticated}}' === 'True' ? true : false;

        $.CartPageManager = function (options) {

            var that = this;

            var keyName = '__nyc_cart__data__';

            var settings = $.extend({}, options);

            var drawCartData = function () {

                var memoryData = getMemoryData();

                var count = 0;
                var totalPrice = parseFloat('0.00');

                $("#itemsList tbody").empty();

                if (!('_ps_' in memoryData)) {
                    count = 0;
                } else {

                    count = memoryData['_ps_'].length;

                    $(memoryData['_ps_']).each(function (ix, item) {

                        var price = item.fields.discounted_price > 0 ? item.fields.discounted_price : item.fields.price;
                        price = parseFloat(price);

                        totalPrice = totalPrice + price;

                        item.final_price = price.toFixed(2);

                        if (!item.fields.image) {
                            item.fields.image = '/static/edutim/images/courses/course-' + (
                                Math.floor(Math.random() * 12) + 1
                            ) + ".jpg";
                        }

                        var source = document.getElementById("cartItemTemplate").innerHTML;
                        var template = Handlebars.compile(source);

                        $("#itemsList tbody").append(template(item));

                    });

                };

                totalPrice = totalPrice.toFixed(2);

                $(".sub-total-price").html(totalPrice);
                $(".total-price").html(totalPrice);

                $(".top-cart-count").html(count);

                if (count > 0) {
                    $(".wc-proceed-to-checkout").removeClass('d-none');
                }
                else {
                    $(".wc-proceed-to-checkout").addClass('d-none');
                }

                if (isAUTH) {
                    validateCourseEnrolled();
                }
            };

            var removeCartItem = function (id) {

                var memoryData = getMemoryData();

                if (('_ps_' in memoryData)) {

                    var dataList = memoryData['_ps_'];

                    var itemIndex = dataList.findIndex(a => a.pk == id);

                    if (itemIndex >= 0) {

                        dataList.splice(itemIndex, 1);

                        memoryData['_ps_'] = dataList;
                        localStorage.setItem(keyName, JSON.stringify(memoryData));

                        drawCartData();

                        console.log('cart updated.');

                        Toast.fire({ icon: 'success', title: 'Course has been removed from cart.' });
                    }
                }

            };

            var getMemoryData = function () {

                try {

                    var memoryData = localStorage.getItem(keyName);

                    var parsedMemoryData = {};

                    if (memoryData) {
                        parsedMemoryData = JSON.parse(memoryData);
                    }

                    return parsedMemoryData;

                } catch (error) {
                    return {};
                }

            };

            var loadMessage = function () {

                var urlParts = window.location.href.split('?');

                if (urlParts.length > 1 && urlParts[1] == 'register=success') {
                    Swal.fire('Account Created!', 'You have successfully created a new account.', 'success');

                    window.location.href = '#';
                }
            };

            var validateCourseEnrolled = function () {

                ShowLoadingModal("Please wait", "Validating Courses..")

                var url = '{% url "api_v1:enrollments-my-list" %}';

                $.get(url, {}, function (response) {

                    $(".cart_item").each(function(){
                        var id = $(this).attr('data-id');
                        var courseName = $(this).find('.product-name').text();

                        if(id && id > 0) {
                            var enrolled = response.find(a=>a.course_id == id);
                            if(enrolled) {
                               
                                removeCartItem(id);
                                
                                var dv = $("<div />", {class:'alert alert-warning mt-3'});
                                dv.html('You are already enrolled in this course: ' + courseName)
                                $("#post-6").append(dv)
                            }
                        }
                    });

                   

                    Swal.close();
                })

            }

            var registerEvent = function () {

                $("div").on("click", '.link-remove-item', function (e) {
                    e.stopPropagation();
                    var id = $(this).attr('data-id');

                    removeCartItem(id);
                });

                $("div").on("click", '.link-auth', function (e) {
                    e.stopPropagation();

                    var opts = {
                        title: 'You need to login as verified user to proceed. ',
                        showDenyButton: true,
                        confirmButtonText: 'Log in',
                        denyButtonText: 'Create a new account'
                    };

                    Swal.fire(opts).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "{% url 'login' %}?next=" + "{{ request.path }}";
                        } else if (result.isDenied) {
                            window.location.href = "{% url 'student_registration' %}?next=" + "{{ request.path }}";
                        }
                    });



                });


            };

            var init = function () {
                registerEvent();
                drawCartData();
                loadMessage();
            };

            init();

            return this;

        };


    }(jQuery));

    $(document).ready(function () {
        var cartManager = new $.CartPageManager({});
    });
</script>
{% endblock %}