{% extends "app_base.html" %}
{% load staticfiles %}
{% load course_tags %}

{% block title %}
Checkout | pdhsafety.com
{% endblock %}
{% block content %}

{% block head %}

<!-- Begin Inspectlet Asynchronous Code -->
<script type="text/javascript">
    (function () {
        window.__insp = window.__insp || [];
        __insp.push(["wid", 1713537870]);
        var ldinsp = function () {
            if (typeof window.__inspld != "undefined") return;
            window.__inspld = 1;
            var insp = document.createElement("script");
            insp.type = "text/javascript";
            insp.async = true;
            insp.id = "inspsync";
            insp.src =
                ("https:" == document.location.protocol ? "https" : "http") +
                "://cdn.inspectlet.com/inspectlet.js?wid=1713537870&r=" +
                Math.floor(new Date().getTime() / 3600000);
            var x = document.getElementsByTagName("script")[0];
            x.parentNode.insertBefore(insp, x);
        };
        setTimeout(ldinsp, 0);
    })();
</script>
<!-- End Inspectlet Asynchronous Code -->


{% endblock %}

<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-header-content">
                    <h1>Confirm & Checkout</h1>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item">
                            Checkout
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="site-main woocommerce single single-product page-wrapper">
    <!--shop category start-->
    <section class="space-3">
        <div class="container sm-center">
            <div class="row">
                <div class="col-md-6 offset-md-3 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                        <span class="badge badge-secondary badge-pill count" id="">0</span>
                    </h4>
                    <ul class="list-group mb-3" id="itemsList">
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <span>Total (USD)</span>
                            <strong class="total-price">$0</strong>
                        </li>
                    </ul>
                    <div>
                        <button id="btnPayBank" class="btn btn-block btn-info mb-1">Pay via Bank Transfer</button>
                    </div>
                    <div class="text-center">
                        or Pay Online
                    </div>

                    <div id="paypalLoader">
                        
                        <div class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                          </div>

                        Loading payment method. Please wait..

                    </div>
                    <div id="paypal-button-container" class="mt-3">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--shop category end-->
</main>

<div id="bankTransferModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pay via Bank Transfer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary" role="alert">
                    <strong>How it works!</strong>
                    You can pay via bank transfer. We will provide you with the bank details. The good thing is you can
                    enroll in the course without making payment instantly.

                </div>

                <div class="row">

                    <div class="col-md-8">
                        <table class="table table-bordered table-sm small d-none">
                            <thead>
                                <tr class="text-center">
                                    <th colspan="2">Bank Account Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Bank Name
                                    </td>
                                    <td>
                                        Standard Chartered
                                    </td>
                                </tr>
                                <tr>
                                    <td>IBAN (Account):</td>
                                    <td>PK09SCBL0000001714073601</td>
                                </tr>
                                <tr>
                                    <td>Local Account:</td>
                                    <td>01714073601</td>
                                </tr>
                                <tr>
                                    <td>Name:</td>
                                    <td>Shoaib Ijaz</td>
                                </tr>
                                <tr>
                                    <td>Country:</td>
                                    <td>Pakistan, City: Lahore</td>
                                </tr>

                                <tr>
                                    <td>Address:</td>
                                    <td>H#7A, Gulberg-3, Lahore</td>
                                </tr>
                                <tr>
                                    <td>PostCode:</td>
                                    <td>53000, Phone: +923467082281</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>

                <div>
                    <small>
                        If you wouldn't able to make a bank transfer. You can contact us so we will help you.
                    </small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="enrollViaBank">Enroll Course Now</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% verbatim %}
<script type="text/x-handlebars-template" id='cartItemTemplate'>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">{{ fields.title }}</h6>
                    <small class="text-muted">{{ subject }}</small>
                </div>
                <span class="text-muted">${{ final_price }}</span>
            </li>
        </script>
{% endverbatim %}

{% endblock %}

{% block scripts %}

{% comment %} <script src="https://www.paypal.com/sdk/js?client-id={% settings_value 'PAYPAL_CLIENT_ID' %}"></script> {% endcomment %}
<script src="https://www.paypal.com/sdk/js?client-id={% settings_value 'PAYPAL_CLIENT_ID_SANDBOX' %}"></script>

<script>
    (function ($) {

        $.CartPageManager = function (options) {

            var that = this;

            var _totalPrice;

            var keyName = '__nyc_cart__data__';

            var settings = $.extend({}, options);

            var drawCartData = function () {

                var memoryData = getMemoryData();

                var count = 0;
                var totalPrice = parseFloat('0.00');

                if (!('_ps_' in memoryData)) {
                    count = 0;
                } else {

                    count = memoryData['_ps_'].length;

                    $(memoryData['_ps_']).each(function (ix, item) {

                        var price = item.fields.discounted_price > 0 ? item.fields.discounted_price : item.fields.price;
                        price = parseFloat(price);

                        totalPrice = totalPrice + price;

                        item.final_price = price.toFixed(2);

                        var source = document.getElementById("cartItemTemplate").innerHTML;
                        var template = Handlebars.compile(source);

                        $("#itemsList").prepend(template(item));

                    });

                };

                $(".count").html(count);
                $(".total-price").html('$' + parseFloat(totalPrice).toFixed(2));

                _totalPrice = parseFloat(totalPrice).toFixed(2);

                if (count <= 0) {
                    window.location.href = '/';
                }

                setPaypal();
                logEvent();
            };

            var getMemoryData = function () {

                try {

                    var memoryData = localStorage.getItem(keyName);

                    var parsedMemoryData = {};

                    if (memoryData) {
                        parsedMemoryData = JSON.parse(memoryData);
                    }

                    return parsedMemoryData;

                } catch (error) {
                    return {};
                }

            };

            var setPaypal = function () {
                paypal.Buttons({
                    funding: {
                        // disallowed: [paypal.FUNDING.CREDIT]
                    },
                    style: {
                        label: 'checkout'
                    },
                    onClick: function () {
                        logPayEventClick();
                    },
                    onCancel: function () {
                        logCancelPayEventClick();
                    },
                    createOrder: function (data, actions) {

                        if (_totalPrice <= 0) {
                            return false;
                        }

                        return actions.order.create({
                            purchase_units: [
                                {
                                    amount: {
                                        value: _totalPrice
                                    }
                                }
                            ]
                        });
                    },
                    onApprove: function (data, actions) { // This function captures the funds from the transaction.
                        return actions.order.capture().then(function (details) {

                            if (data.orderID) {

                                var payment = {
                                    orderID: data.orderID,
                                    details: details,
                                    data: data
                                };

                                postOrder(payment);
                            }
                        });
                    }
                }).render('#paypal-button-container');

                $("#paypalLoader").hide();

            };

            var postOrder = function (paymentData) {

                var items = [];
                var payments = [];

                var memoryData = getMemoryData();

                $(memoryData['_ps_']).each(function (ix, item) {

                    var price = item.fields.discounted_price > 0 ? item.fields.discounted_price : item.fields.price;
                    price = parseFloat(price);

                    var item = {
                        course: item.pk,
                        price: price,
                        sub_total: price,
                        qty: 1
                    };

                    items.push(item);

                });

                var payOpts = {
                    gateway: 'paypal',
                    info: JSON.stringify(paymentData),
                    total_price: _totalPrice,
                    amount_paid: _totalPrice
                };

                payments.push(payOpts);

                var orderObject = {
                    ref_id: paymentData.orderID,
                    user: '{{ request.user.id }}',
                    total_amount: _totalPrice,
                    items: items,
                    payments: payments
                };

                $.ajax({
                    type: "POST",
                    url: "/api/orders/",
                    data: JSON.stringify(orderObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        ShowLoadingModal("Please wait", "working on your request");
                    },
                    success: function (response) {

                        if (response && response.ref_id) {
                            sendConfirmMail(response);
                        } else {
                            Swal.close();

                            Swal.fire({ title: 'Order failed to complete', text: 'Please refresh the page and try again.' }).then(function () {
                                window.location.reload();
                            });
                        }
                    },
                    failure: function (errMsg) { }
                });
            };

            var logEvent = function () {

                setTimeout(function () {
                    var _opts = {
                        hitType: 'event',
                        eventCategory: 'Checkout',
                        eventAction: 'checkout_load',
                        eventLabel: window.location.href,
                        eventValue: _totalPrice
                    };

                   // ga('send', _opts);
                }, 2000);

            };

            var logPayEventClick = function () {

                var _opts = {
                    hitType: 'event',
                    eventCategory: 'Payment',
                    eventAction: 'pay_click',
                    eventLabel: window.location.href,
                    eventValue: 'paypal'
                };

               /// ga('send', _opts);

            };

            var logCancelPayEventClick = function () {

                var _opts = {
                    hitType: 'event',
                    eventCategory: 'PaymentCancel',
                    eventAction: 'pay_cancel_click',
                    eventLabel: window.location.href,
                    eventValue: 'paypal'
                };

              //  ga('send', _opts);
            };

            var payViaBank = function () {

                $("#bankTransferModal").find("button, input").attr('disabled', true);

                var items = [];
                var payments = [];

                var memoryData = getMemoryData();

                $(memoryData['_ps_']).each(function (ix, item) {

                    var price = item.fields.discounted_price > 0 ? item.fields.discounted_price : item.fields.price;
                    price = parseFloat(price);

                    var item = {
                        course: item.pk,
                        price: price,
                        sub_total: price,
                        qty: 1
                    };

                    items.push(item);

                });

                var payOpts = {
                    gateway: 'Bank Tranfer',
                    info: JSON.stringify({ created: new Date() }),
                    total_price: _totalPrice,
                    amount_paid: _totalPrice
                };

                payments.push(payOpts);

                var orderObject = {
                    ref_id: createREfID(),
                    user: '{{ request.user.id }}',
                    total_amount: _totalPrice,
                    items: items,
                    payments: payments
                };

                $.ajax({
                    type: "POST",
                    url: "/api/orders/",
                    data: JSON.stringify(orderObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        ShowLoadingModal("Please wait", "working on your request");
                    },
                    success: function (response) {

                        if (response && response.ref_id) {
                            sendConfirmMail(response);
                        } else {
                            Swal.close();

                            Swal.fire({ title: 'Order failed to complete', text: 'Please refresh the page and try again.' }).then(function () {
                                window.location.reload();
                            });
                        }
                    },
                    failure: function (errMsg) { }
                });
            };

            var createREfID = function () {
                return new Date().valueOf() + parseInt('{{user.id}}') + "-" + (Math.random() + 1).toString(36).substring(7).toUpperCase();
            };

            var sendConfirmMail = function (order) {

                $.ajax({
                    type: "POST",
                    url: "/send-order-confirm-mail",
                    data: { ref: order.ref_id },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        ShowLoadingModal("Please wait", "working on your request");
                    },
                    success: function (response) {
                        localStorage.removeItem(keyName);
                        window.location.href = '/order/' + order.ref_id + '/';
                    },
                    failure: function (errMsg) {
                        localStorage.removeItem(keyName);
                        window.location.href = '/order/' + order.ref_id + '/';
                    }
                });

            };

            var registerEvent = function () {

                $("#btnPayBank").click(function () {
                    $("#bankTransferModal").modal('show');
                });

                $("#enrollViaBank").click(function () {
                    payViaBank();
                });

                $('html, body').animate({
                    scrollTop: $(".space-3").offset().top
                }, 3000);
            };

            var init = function () {
                registerEvent();
                drawCartData();
            };

            init();

            return this;

        };


    }(jQuery));

    $(document).ready(function () {
        var cartManager = new $.CartPageManager({});
    });
</script>
{% endblock %}