{% extends "app_base.html" %} {% load staticfiles %} {% block title %} | Order Completed {% endblock %} {% block content %}

<main class="site-main woocommerce single single-product mt-5">
    <!--shop category start-->
    <section class="space-3">
        <div class="container sm-center">
            <div class="row">
                <div class="col">
                    <div class="home-courses cart-page mb-2">
                        <div class="container">
                            <div class="row">
                                <!-- BEGIN INVOICE -->
                                <div class="col-md-12">
                                    <div class="grid invoice">
                                        <div class="grid-body">
                                            <div class="invoice-title">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <h4> Construction Safety Training</h4>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        <h5>Invoice # {{ref}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <address>
                                                    <strong>Invoiced From</strong><br>
                                                    Construction Safety Training, LLC.<br>
                                                    mail@pdhsafety.com<br>
                                                    <abbr title="Phone">P:</abbr> 914-473-6791
                                                </address>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <address>
                                                    <strong>Invoiced To:</strong><br>
                                                    {{request.user.first_name}} {{request.user.last_name}}<br>
                                                    {{request.user.email}}<br>
                                                    <abbr title="Phone">P:</abbr> {{request.user.cell_number}}
                                                </address>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <address>
                                                    <strong>Payment Method:</strong><br>
                                                    <span id="labelPaymentMethod">PayPal</span>
                                                    <br>
                                                </address>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <address>
                                                    <strong>Order Date:</strong><br>
                                                    {% now "SHORT_DATE_FORMAT" %}
                                                </address>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3>ORDER SUMMARY</h3>
                                                    <table class="table table-striped" id="tblItems">
                                                        <thead>
                                                            <tr class="line">
                                                                <td><strong>#</strong></td>
                                                                <td class="text-center"><strong>COURSE</strong></td>
                                                                <td class="text-right"><strong>PRICE</strong></td>
                                                                <td class="text-right"><strong>SUBTOTAL</strong></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-right identity">
                                                    <p>Subtotal : <span class="sub_total">$00</span>
                                                        <br><strong>Total Price : <span class="total_price">$00</span></strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END INVOICE -->
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button type="button" class="btn btn-primary" id="btnPrint">Print Invoice</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--shop category end-->
</main>


{% endblock %} {% block scripts %} {% verbatim %}
<script type="text/x-handlebars-template" id='cartItemTemplate'>
    <tr>
        <td>{{number}}</td>
        <td><strong>{{course.title}}</strong></td>
        <td class="text-center">${{price}}</td>
        <td class="text-right">${{sub_total}}</td>
    </tr>

</script>
{% endverbatim %}
<script>
    (function($) {

        $.CartPageManager = function(options) {

            var that = this;

            var settings = $.extend({}, options);

            var getCourse = function() {
                $.get('/api/orders/?ref=' + '{{ref}}', {}, function(response) {
                    if (response && response.length > 0) {
                        var item = response[0];

                        $(item.items).each(function(ix, item) {
                            item.number = ix + 1;
                            var source = document.getElementById("cartItemTemplate")
                                .innerHTML;
                            var template = Handlebars.compile(source);

                            $("#tblItems tbody").append(template(item));

                        });

                        $(".sub_total").html('$' + item.total_amount);
                        $(".total_price").html('$' + item.total_amount);

                        if(item.payments) {
                            item.payments.forEach(a=>{
                                $("#labelPaymentMethod").html(a.gateway);
                            });
                        }

                    } else {
                        $('.invoice').remove();
                    }
                });
            };

            var registerEvent = function() {
                $("#btnPrint").click(function () {
                    window.print()
                });
            };

            var init = function() {
                registerEvent();
                getCourse();
            };

            init();

            return this;

        };


    }(jQuery));

    $(document).ready(function() {
        var cartManager = new $.CartPageManager({});
    });
</script>
<style>
    .invoice {
        padding: 30px;
    }
    
    .invoice h2 {
        margin-top: 0px;
        line-height: 0.8em;
    }
    
    .invoice .small {
        font-weight: 300;
    }
    
    .invoice hr {
        margin-top: 10px;
        border-color: #ddd;
    }
    
    .invoice .table tr.line {
        border-bottom: 1px solid #ccc;
    }
    
    .invoice .table td {
        border: none;
    }
    
    .invoice .identity {
        margin-top: 10px;
        font-size: 1.1em;
        font-weight: 300;
    }
    
    .invoice .identity strong {
        font-weight: 600;
    }
    
    .grid {
        position: relative;
        width: 100%;
        background: #fff;
        color: #666666;
        border-radius: 2px;
        margin-bottom: 25px;
        box-shadow: 0px 0px 3px rgb(0 0 0 / 38%);
    }
</style>
{% endblock %}