{% extends "app_base.html" %}
{% load staticfiles %}
{% load course_tags %}

{% block title %}
    Buy Package | pdhsafety.com
{% endblock %}

{% block content %}

    <section class="page-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="page-header-content">
                        <h1>Shopping Cart</h1>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">
                                Shopping Cart
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main
        class="site-main woocommerce single single-product page-wrapper">
        <!--shop category start-->
        <section class="space-3">
            <div class="container sm-center">
                <div class="row">
                    <div class="col-lg-8">
                        <article
                            id="post-6" class="post-6 page type-page status-publish hentry">
                            <!-- .entry-header -->
                            <div class="entry-content">
                                <div class="woocommerce">
                                    <div class="woocommerce-notices-wrapper"></div>
                                    <form class="woocommerce-cart-form" action="" method="">
                                        <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" id="itemsList" cellspacing="0" style="max-height: 500px;overflow: hidden auto;display: block;">
                                            <thead>
                                                <tr>
                                                    <th class="product-thumbnail">&nbsp;</th>
                                                    <th class="product-name">Course</th>
                                                    <th class="product-quantity">Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <tr>
                                                    <td colspan="6" class="actions">

                                                        <div class="back-to-shop mt-3">
                                                            <a class="font-weight-bold" href="{% url 'packages' %}">
                                                                <i class="fa fa-box-open"></i>
                                                                Browse More Packages
                                                            </a>
                                                        </div>

                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <!-- .entry-content -->
                        </article>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-collaterals">
                            <div class="cart_totals ">
                                <h2>Cart totals</h2>
                                <table cellspacing="0" class="shop_table shop_table_responsive" >
                                    <tbody>
                                        <tr class="cart-subtotal">
                                            <th>Subtotal</th>
                                            <td data-title="Subtotal">
                                                <span class="woocommerce-Price-amount amount total-price"></span>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <td data-title="Total">
                                                <strong>
                                                    <span class="woocommerce-Price-amount amount total-price"></span>
                                                </strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="wc-proceed-to-checkout">
                                    {% if request.user.is_authenticated %}
                                    <div>
                                        <button id="btnPayBank" class="btn btn-block btn-info mb-1">Pay via Bank Transfer</button>
                                    </div>
                                    <div class="text-center">
                                        or Pay Online
                                    </div>

                                        <div id="paypal-button-container" class="mt-3"></div>
                                    {% else %}

                                        <a href="javascript:;" class="checkout-button button alt wc-forward link-auth">
                                            Pay Now
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--shop category end-->
    </main>

    {% verbatim %}

        <script type="text/x-handlebars-template" id='cartItemTemplate'>

            <tr class="woocommerce-cart-form__cart-item cart_item">

                <td class="product-thumbnail">
                    <a href="#">
                        <img width="100" height="100" src="{{image}}" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt=""/></a>
                </td>

                <td class="product-name" data-title="Product">
                    <a href="#">{{ course.title }}</a>
                </td>


                <td class="product-quantity" data-title="Quantity">
                    <div class="quantity">
                        1
                    </div>
                </td>


            </tr>


        </script>
    {% endverbatim %}

    <div id="bankTransferModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pay via Bank Transfer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary small" role="alert">
                        <strong>How it works!</strong>
                        You can pay via bank transfer. We will provide you with the bank details. The good thing is you can
                        enroll in the course without making payment instantly.
                   
                    </div>
    
                    <div class="row">
    
                        <div class="col-md-8">
                            <table class="table table-bordered table-sm small d-none">
                                <thead>
                                    <tr class="text-center">
                                        <th colspan="2">Bank Account Information</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            Bank Name
                                        </td>
                                        <td>
                                            Standard Chartered
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IBAN (Account):</td>
                                        <td>PK09SCBL0000001714073601</td>
                                    </tr>
                                    <tr>
                                        <td>Local Account:</td>
                                        <td>01714073601</td>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td>Shoaib Ijaz</td>
                                    </tr>
                                    <tr>
                                        <td>Country:</td>
                                        <td>Pakistan, City: Lahore</td>
                                    </tr>
                                  
                                    <tr>
                                        <td>Address:</td>
                                        <td>H#7A, Gulberg-3, Lahore</td>
                                    </tr>
                                    <tr>
                                        <td>PostCode:</td>
                                        <td>53000, Phone: +923467082281</td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                       
                       
                    </div>
    
                    <div>
                        <small>
                            If you wouldn't able to make a bank transfer. You can contact us so we will help you.
                        </small>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="enrollViaBank">Enroll Course Now</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}

    <script src="https://www.paypal.com/sdk/js?client-id={% settings_value 'PAYPAL_CLIENT_ID' %}"></script>


    <script>
        (function ($) {

            $.PackageCartManager = function (options) {

                var that = this;
                var packagesList = [];

                var totalPrice = 0;

                var items = [];
                var payments = [];

                var settings = $.extend({}, options);

                var getList = function () {

                    ShowLoadingModal("Please wait", "loading");

                    var id = '{{ id }}';

                    var parms = {
                        format: 'json',
                        id: id
                    };

                    $.get('/api/packages/', parms, function (response) {
                        packagesList = response;
                        drawList();
                    });
                };

                var drawList = function () {

                    $(".total-price").html('$' + packagesList[0].price);

                    totalPrice = packagesList[0].price;

                    $(packagesList[0].courses).each(function (ix, item) {

                        if (! item.image) {
                            item.image = '/static/edutim/images/courses/course-' + (
                                Math.floor(Math.random() * 12) + 1
                            ) + ".jpg";
                        }

                        var source = document.getElementById("cartItemTemplate").innerHTML;
                        var template = Handlebars.compile(source);

                        $("#itemsList tbody").prepend(template(item));

                        var item = {
                            course: item.course.id,
                            price: item.course.price ? item.course.price : 0,
                            sub_total: item.course.price ? item.course.price : 0,
                            qty: 1
                        };

                        items.push(item);

                    });

                    setPaypal();

                    Swal.close();

                };

                var setPaypal = function () {

                    paypal.Buttons({
                        funding: {
                           // disallowed: [paypal.FUNDING.CREDIT]
                        },
                        style: {
                            label: 'checkout'
                        },
                        createOrder: function (data, actions) {

                            if (totalPrice <= 0) {
                                return false;
                            }

                            return actions.order.create({
                                purchase_units: [
                                    {
                                        amount: {
                                            value: totalPrice
                                        }
                                    }
                                ]
                            });
                        },
                        onApprove: function (data, actions) { // This function captures the funds from the transaction.
                            return actions.order.capture().then(function (details) {
                                if (data.orderID) {

                                    var payment = {
                                        orderID: data.orderID,
                                        details: details,
                                        data: data
                                    };

                                    postOrder(payment);
                                }
                            });
                        }
                    }).render('#paypal-button-container');


                };

                var postOrder = function (paymentData) {

                    var payments = [];

                    payments.push({gateway: 'paypal', info: JSON.stringify(paymentData), total_price: totalPrice, amount_paid: totalPrice});

                    var orderObject = {
                        ref_id: paymentData.orderID,
                        user: '{{ request.user.id }}',
                        total_amount: totalPrice,
                        items: items,
                        payments: payments
                    };

                    $.ajax({
                        type: "POST",
                        url: "/api/orders/",
                        data: JSON.stringify(orderObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function (response) {

                            if (response && response.ref_id) {
                                sendConfirmMail(response);
                            } else {
                                swal({
                                    title: "Order failed to complete",
                                    text: "Please refresh the page and try again.",
                                    icon: "warning",
                                    buttons: {

                                        catch: {
                                            text: "Ok",
                                            value: "catch"
                                        }
                                    }
                                }).then((value) => {
                                    window.location.reload();
                                });
                            }
                        },
                        failure: function (errMsg) {}
                    });
                };

                var payViaBank = function() {

                    $("#bankTransferModal").find("button, input").attr('disabled', true);
    
                    var payments = [];

                    payments.push({gateway: 'Bank Tranfer', info: "", total_price: totalPrice, 
                    amount_paid: totalPrice});

                    var orderObject = {
                        ref_id: createREfID(),
                        user: '{{ request.user.id }}',
                        total_amount: totalPrice,
                        items: items,
                        payments: payments
                    };
    
                    $.ajax({
                        type: "POST",
                        url: "/api/orders/",
                        data: JSON.stringify(orderObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                            ShowLoadingModal("Please wait", "working on your request");
                        },
                        success: function (response) {
    
                            if (response && response.ref_id) {
                                sendConfirmMail(response);
                            } else {
                                Swal.close();
    
                                Swal.fire({ title: 'Order failed to complete', text: 'Please refresh the page and try again.' }).then(function () {
                                    window.location.reload();
                                });
                            }
                        },
                        failure: function (errMsg) { }
                    });
                };
    
                var createREfID = function() {
                   return new Date().valueOf() + parseInt('{{user.id}}') + "-" +(Math.random() + 1).toString(36).substring(7).toUpperCase();
                };

                
            var sendConfirmMail = function (order) {

                $.ajax({
                    type: "POST",
                    url: "/send-order-confirm-mail",
                    data: { ref: order.ref_id },
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        ShowLoadingModal("Please wait", "working on your request");
                    },
                    success: function (response) {
                        window.location.href = '/order/' + order.ref_id + '/';
                    },
                    failure: function (errMsg) {
                        localStorage.removeItem(keyName);
                        window.location.href = '/order/' + order.ref_id + '/';
                    }
                });

            };


                var registerEvent = function () {

                    $("div").on("click", '.link-auth', function (e) {
                        e.stopPropagation();

                        var opts = {
                            title: 'Please login to buy this course package!',
                            showDenyButton: true,
                            showCancelButton: false,
                            confirmButtonText: 'Already have an account? Login',
                            denyButtonText: 'Create a new account'
                        };


                        Swal.fire(opts).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '{% url "login" %}';
                            } else if (result.isDenied) {
                                window.location.href = '{% url "student_registration" %}';
                            }
                        });


                    });

                    $("#btnPayBank").click(function () {
                        $("#bankTransferModal").modal('show');
                    });
    
                    $("#enrollViaBank").click(function () {
                        payViaBank();
                    });
                };

                var init = function () {
                    registerEvent();
                    getList();
                };

                init();

                return this;

            };


        }(jQuery));

        $(document).ready(function () {
            var cartManager = new $.PackageCartManager({});
        });
    </script>
{% endblock %}
