{% extends "app_base.html" %}
{% load staticfiles %}
{% block title %} - Buy Package {% endblock %}
{% block content %}
<div class="home-courses cart-page">
    <div class="container">
        <div class="yes-cart row">
            <div class="col">
                <div class="card">
                    <div class="row">
                        <div class="col-md-8 cart">
                            <div class="title">
                                <div class="row">
                                    <div class="col">
                                        <h4><b>Shopping Cart</b></h4>
                                    </div>
                                    <div class="col align-self-center text-right text-muted count"></div>
                                </div>
                            </div>
                            <div id="itemsList"></div>
                            <div class="back-to-shop"><a href="{% url 'packages' %}">&leftarrow;</a><span
                                    class="text-muted">Browse More Packages</span></div>
                        </div>
                        <div class="col-md-4 summary">
                            <div>
                                <h5><b>Summary</b></h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6 count2">ITEMS 1</div>
                                <div class="col-lg-6 text-lg-right total-price">$0.00</div>
                            </div>
                            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                                <div class="col-lg-6">TOTAL PRICE</div>
                                <div class="col-lg-6 text-lg-right total-price">$0.00</div>
                            </div>
                            {%if request.user.is_authenticated%}
                            <div id="paypal-button-container" class="mt-3">
                            </div>
                            {%else%}
                            <button class="btn link-auth">Pay Now</button>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% verbatim %}

<script type="text/x-handlebars-template" id='cartItemTemplate'>
    <div class="row border-top border-bottom">
            <div class="row main align-items-center">
                <div class="col-lg-2"><img class="img-fluid" src="/static/fe_v1/img/course.png">
                </div>
                <div class="col-lg-10">
                    <div class="row text-muted">{{course.title}}</div>
                  
                </div>
               
            </div>
    </div>
 </script>
{% endverbatim %}

<style>
    .cart-page .title {
        margin-bottom: 5vh
    }

    .cart-page .card {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }

    @media(max-width:767px) {
        .cart-page .card {
            margin: 3vh auto
        }
    }

    .cart-page .cart {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem
    }

    @media(max-width:767px) {
        .cart-page .cart {
            padding: 4vh;
            border-bottom-left-radius: unset;
            border-top-right-radius: 1rem
        }
    }

    .cart-page .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }

    @media(max-width:767px) {
        .cart-page .summary {
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem
        }
    }

    .cart-page .summary .col-2 {
        padding: 0
    }

    .cart-page .summary .col-10 {
        padding: 0
    }

    .cart-page .row {
        margin: 0
    }

    .cart-page .title b {
        font-size: 1.5rem
    }

    .cart-page .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }

    .cart-page .col-2,
    .cart-page .col {
        padding: 0 1vh
    }

    .cart-page a {
        padding: 0 1vh
    }

    .cart-page .close {
        margin-left: auto;
        font-size: 0.7rem
    }

    .cart-page img {
        width: 3.5rem
    }

    .cart-page .back-to-shop {
        margin-top: 4.5rem
    }

    .cart-page h5 {
        margin-top: 4vh
    }

    .cart-page hr {
        margin-top: 1.25rem
    }

    .cart-page form {
        padding: 2vh 0
    }

    .cart-page select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    .cart-page input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    .cart-page input:focus::-webkit-input-placeholder {
        color: transparent
    }

    .cart-page .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0
    }

    .cart-page .btn:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none
    }

    .cart-page .btn:hover {
        color: white
    }

    .cart-page a {
        color: black
    }

    .cart-page a:hover {
        color: black;
        text-decoration: none
    }

    .cart-page #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center
    }
</style>
<script
    src="https://www.paypal.com/sdk/js?client-id=AfCYO-690TOTak5bLJ9lxaw-a7nY-8SBFID1X7a6Cmoyw2X4j79OMSm7ZDp_6oj218W5YKF19qqgWW0Y&currency=USD&disable-funding=credit,card">
    </script>

<script>
    (function ($) {

        $.PackageCartManager = function (options) {

            var that = this;
            var packagesList = [];

            var totalPrice = 0;

            var items = [];
            var payments = [];

            var settings = $.extend({}, options);

            var getList = function () {
                var parms = {
                    format: 'json',
                    id: '{{id}}'
                };

                $.get('/api/packages/', parms, function (response) {
                    packagesList = response;
                    drawList();
                });
            };

            var drawList = function () {

                $(".total-price").html('$' + packagesList[0].price);

                totalPrice = packagesList[0].price;

                $(packagesList[0].courses).each(function (ix, item) {

                    var source = document.getElementById("cartItemTemplate").innerHTML;
                    var template = Handlebars.compile(source);

                    $("#itemsList").append(template(item));

                    var item = {
                        course: item.course.id,
                        price: item.course.price ? item.course.price : 0,
                        sub_total: item.course.price ? item.course.price : 0,
                        qty: 1,
                    };

                    items.push(item);

                });

                setPaypal();

            };

            var setPaypal = function () {

                paypal.Buttons({
                    funding: {
                        disallowed: [paypal.FUNDING.CREDIT]
                    },
                    style: {
                        label: 'checkout',
                    },
                    createOrder: function (data, actions) {

                        if (totalPrice <= 0) return false;

                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: totalPrice
                                },
                            }]
                        });
                    },
                    onApprove: function (data, actions) {
                        // This function captures the funds from the transaction.
                        return actions.order.capture().then(function (details) {
                            if (data.orderID) {

                                var payment = {
                                    orderID: data.orderID,
                                    details: details,
                                    data: data
                                };

                                postOrder(payment);
                            }
                        });
                    }
                }).render('#paypal-button-container');


            };

            var postOrder = function (paymentData) {

                var payments = [];

                payments.push({
                    gateway: 'paypal',
                    info: JSON.stringify(paymentData),
                    total_price: totalPrice,
                    amount_paid: totalPrice,
                });

                var orderObject = {
                    ref_id: paymentData.orderID,
                    user: '{{request.user.id}}',
                    total_amount: totalPrice,
                    items: items,
                    payments: payments
                };

                $.ajax({
                    type: "POST",
                    url: "/api/orders/",
                    data: JSON.stringify(orderObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response) {

                        if (response && response.ref_id) {
                            window.location.href = '/order/' + response.ref_id + '/';
                        } else {
                            swal({
                                title: "Order failed to complete",
                                text: "Please refresh the page and try again.",
                                icon: "warning",
                                buttons: {

                                    catch: {
                                        text: "Ok",
                                        value: "catch",
                                    },

                                },
                            })
                                .then((value) => {
                                    window.location.reload()
                                });
                        }
                    },
                    failure: function (errMsg) { }
                });
            };

            var registerEvent = function () {

                $("div").on("click", '.link-auth', function (e) {
                    e.stopPropagation();
                    swal("You need to login as verified user to proceed.", {
                        buttons: {
                            catch: {
                                text: "Already have an account? Login",
                                value: "catch",
                                className: 'btn-primary'
                            },
                            defeat: {
                                text: "New User? Register",
                                value: "try",
                            },
                        },
                    })
                        .then((value) => {
                            switch (value) {

                                case "catch":
                                    window.location.href = '{% url "login" %}';
                                    break;

                                case "try":
                                    window.location.href = '{% url "student_registration" %}';
                                    break;

                            }
                        })
                });
            };

            var init = function () {
                registerEvent();
                getList();
            };

            init();

            return this;

        };


    }(jQuery));

    $(document).ready(function () {
        var cartManager = new $.PackageCartManager({});
    });
</script>
{% endblock %}