@import url(http://www.osha-slc.gov/Styles/default.css);

address, blockquote, body, dd, dir, div, dl, dt, form, h1, h2, h3, h4, h5, h6, hr, li, menu, ol, p, pre, td, ul
{
	direction: ltr;
	text-align: left;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
}

a, b, button, input, textarea, select, option, legend, fieldset, strong, i, em, cite, code, kbd, samp, img, span {
	direction: ltr;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
	}

body { 
	background-color: transparent;
	direction: ltr;
	text-align: left;
	font-size: small;
	font-family: verdana, arial, helvetica, sans-serif;
}

pre, tt, code, kbd, samp { font-family: monospace }

a:link    { 
	background-color: transparent;
	font-size: small;
	}
a:active  {
	background-color: transparent;
	font-size: small;
	}
a:visited {
	background-color: transparent;
	font-size: small; 
	}
b {
	background-color: transparent;
	font-weight: bold;
	font-size: small;
	}

b.italics {
	background-color: transparent;
	font-style: italic;
	font-weight: bold;
	font-size: small;
	}


b.minus1 {
	background-color: transparent;
	font-weight: bold;
	font-size: x-small;
	color: #000000;
	}

center {
	font-size: small;
	}

dl {
	background-color: transparent;
	font-size: small;
	}

font.title1 {
	background-color: transparent;
	font-weight: bold;
	font-size: large;
	}
font.title2 {
	background-color: transparent;
	font-weight: bold;
	font-size: large;
	}
font.title3 {
	background-color: transparent;
	font-size: small;
	}
font.title4 {
	background-color: transparent;
	font-weight: bold;
	font-size: large;
	}
font.title5 {
	background-color: transparent;
	font-weight: bold;
	font-size: medium;
	}
font.notetext1 {
	background-color: transparent;
	font-size: small;
	margin: 2px 2px 2px 2px;
	}
font.notetext2 {
	background-color: transparent;
	font-weight: bold;
	font-size: small;
	margin: 2px 2px 2px 2px;
	}
font.footnote1 {
	background-color: transparent;
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	vertical-align: super;
	margin: 2px 2px 2px 2px;
	}
font.linktext {
	font-size: small;
	}

/* headings rules*/

h1, h2, h3, h4, h5, h6 {
	margin: 2px;
	}

hr {
	border-top: thin solid black;
	border-right: thin solid black;
	border-bottom: thin solid black;
	border-left: thin solid black;
	text-align: left;
	width: 100%;
	}

/*li {
	background-color: transparent;
	font-size: small;
	}*/

p { 
	background-color: transparent;
	font-size: small;
	}

p.block{ margin: 10px 10px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
p.block1{ margin: 10px 10px 10px 40px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
p.block2{ margin: 10px 10px 10px 80px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
p.block3{ margin: 10px 10px 10px 120px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
p.block4{ margin: 10px 10px 10px 160px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
p.block5{ margin: 10px 10px 10px 200px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }

p.plus1 { 
	font-size: medium;
	}
p.plus2 {
	font-size: large;
	}
p.minus1 {
	font-size: x-small;
	}
p.minus2{
	font-size: xx-small;
	}

p.title1 { background: transparent; color: #996600; margin: 2px 2px 2px 2px; font: normal normal bold 20px verdana, arial, helvetica, sans-serif; }
p.title2 { background: transparent; color: #000099; margin: 2px 2px 2px 2px; font: normal normal bold large verdana, arial, helvetica, sans-serif; }

span.sixpix { background: transparent; font: normal normal normal medium verdana, arial, helvetica, sans-serif; }

/*  */
sub {
	background-color: transparent;
	font-size: x-small;
	}

sup {
	background-color: transparent;
	font-size: x-small;
	}

td {
	background-color: #ffffff;
	font-size: small;
	color: #000000;
	}

td.sixpix {
	background-color: transparent;
	width: 600px;
	font-size: small;
	}

ul {
	background-color: transparent;
	list-style: disc outside;
	font-size: small;
	}

ul.plus1 {
	background-color: transparent;
	list-style: disc outside;
	font-size: medium;
	}
ul.plus2 {
	background-color: transparent;
	list-style: disc outside;
	font-size: large;
	}
ul.minus1 {
	background-color: transparent;
	list-style: disc outside;
	font-size: x-small;
	}
ul.minus2 {
	background-color: transparent;
	list-style: disc outside; 
	font-size: xx-small;
	}

