@import url(http://www.osha-slc.gov/Styles/default.css);

address, blockquote, body, dd, dir, div, dl, dt, form, h1, h2, h3, h4, h5, h6, hr, li, menu, ol, p, pre, td, ul
{
	direction: ltr;
	text-align: left;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
}

a, b, button, input, textarea, select, option, legend, fieldset, strong, i, em, cite, code, kbd, samp, img, span {
	direction: ltr;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal;
	}

body { 
	background-image: url(http://www.osha-slc.gov/gif/bluetile.gif);
	background-color: #FFFFFF;
	font-size: small;
	margin: 0px 0px 0px 15px;
}

pre, tt, code, kbd, samp { font-family: monospace; }

/* li { display: list-item; } */

/* anchor rules */

a:link    { 
	color: #0033CD;
	}
a:active  {
	color: #3399FF;
	}
a:visited {
	color: #9A0000;
	}

a.externalsitedoc:link { background-color: transparent; color: #0033CD; }
a.externalsitedoc:active { background-color: transparent; color: #3399FF; }
a.externalsitedoc:visited { background-color: transparent; color: #3399FF; }

a.internalsitedoc:link { background-color: transparent; color: #0033CD; }
a.internalsitedoc:active { background-color: transparent; color: #3399FF; }
a.internalsitedoc:visited { background-color: transparent; color: #3399FF; }

/* a:link img { border: 2px solid #0033CD; } */
/* a:visited img { border: 2px solid #3399FF; } */
/* a:active img { border: 2px solid #9A0000; } */

/*a:link    { background-color: transparent; color: #0033CD; font: normal normal normal small verdana, arial, helvetica, sans-serif; }*/
/*a:active  { background-color: transparent; color: #3399FF; font: normal normal normal small verdana, arial, helvetica, sans-serif; }*/
/*a:visited { background-color: transparent; color: #9A0000; font: normal normal normal small verdana, arial, helvetica, sans-serif; }*/

/* a:hover   { background-color: transparent; font: normal normal bold 120% verdana, arial, helvetica, sans-serif; color: #0033CD; }*/ /* css2 */
/* a:focus { background-color: transparent; } */ /* css2 */
/* a:focus:hover { background-color: transparent; }*/ /* css2 */

/* bold rules */

b {
	font-weight: bold;
}
b.italics {
	font-style: italic;
	color: #000000;
	}
b.italics.minus1 {
	font-style: italic;
	font-size: x-small;
	color: #000000;
	}
b.minus1 {
	font-size: x-small;
	color: #000000;
	}

center {
	font-size: small;
	text-align: center;
	}

/* font rules*/

font.title1 {
	font-weight: bold;
	font-size: large;
	color: #996600;
	}
font.title2 {
	font-weight: bold;
	font-size: large;
	color: #000099;
	}
font.title3 {
	font-weight: bold;
	font-size: small;
	color: #996600;
	}
font.title4 {
	font-weight: bold;
	font-size: medium;
	color: #153499;
	}
font.title5 {
	font-weight: bold;
	font-size: large;
	color: #666666;
	}
font.notetext1 {
	font-size: small;
	color: #F40000;
	margin: 2px;
	}
font.notetext2 {
	font-weight: bold;
	font-size: small;
	color: #F40000;
	margin: 2px;
	}
font.footnote1 {
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	vertical-align: super;
	color: #F40000;
	margin: 2px;
	}
font.linktext {
	font-size: small;
	}

/* headings rules*/

h1, h2, h3, h4, h5, h6 {
	margin: 2px;
	}
h1.main {
	color: #996600;
	}
h2.main {
	color: #000099;
	}
h3.main {
	color: #996600;
	}
h4.main {
	color: #333399;
	}

/* horizontal rules rules*/

hr {
	border-top: solid;
	text-align: left;
	width: 100%;
	height: 1px;
	text-shadow: none;
	color: #000099;
	}

/* iframe rules*/

iframe {
	background-color: transparent;
	color: #000099;
	}

/* paragraph rules */

p {
	font-size: small;
	}

p.block { margin: 10px 10px; }

p.block1 {
	margin: 10px 10px 10px 40px;
	font-size: small;
	}
p.block2 { 
	margin: 10px 10px 10px 80px;
	font-size: small;
	}
p.block3 { 
	margin: 10px 10px 10px 120px;
	font-size: small;
	}
p.block4 {
	margin: 10px 10px 10px 160px;
	font-size: small;
	}
p.block5 {
	margin: 10px 10px 10px 200px;
	font-size: small;
	}
p.plus1 { 
	font-size: medium;
	}
p.plus2 {
	font-size: large;
	}
p.minus1 {
	font-size: x-small;
	}
p.minus2{
	font-size: xx-small;
	}

p.notetext1 {
	font-size: small;
	color: #F40000;
	margin: 2px;
	}
p.notetext2 {
	font-weight: bold;
	font-size: small;
	color: #F40000;
	margin: 2px;
	}

p.indented {
	margin-top:-10px;
	text-indent:10px;
}
p.margin{ margin: 10px 10px; }
	
p.quote{
	font-weight: bold;
	font-size: medium;
	color: #000000;
	margin: 20px 40px 20px 40px;
	}


/* spans rules*/

span.sixpix {
	width: 600px;
	}
span.title1 {
	color: #996600;
	font-size: large;
	}
span.title2 {
	color: #000099;
	font-size: large;
	}
span.title3 {
	color: #000099;
	}
span.title4 {
	}
span.linktext {
	font-size: small;
	}

/*  */

sub {
	font-size: x-small;
	vertical-align: sub;
	}
sup {
	font-size: x-small;
	vertical-align: super;
	}

/* table rules */

tbody {
	background-color: #FFFFFF;
	font-style: normal;
	font-size: small;
	color: #000000;
	}

td {
	background-color: #FFFFFF;
	font-size: small;
	color: #000000;
	}

td.sixpix {
	background-color: #FFFFFF;
	width: 600px;
	font-size: small;
	}

u.bold {
	font-weight: bold;
	font-size: small;
	}

/* list rules */

ol {
	font-size: small;
	color: #000000;
	}
ol.plus1 {
	font-size: medium;
	}
ol.plus2 {
	font-size: large;
	}
ol.minus1 {
	font-size: x-small;
	}
ol.minus2 {
	font-size: xx-small;
	}

ul {
	list-style: disc outside;
	font-size: small;
	}
ul.notetext1 {
	list-style: disc outside;
	color: #F40000;
	}
ul.plus1 {
	list-style: disc outside;
	font-size: medium;
	}
ul.plus2 {
	list-style: disc outside;
	font-size: large;
	}
ul.minus1 {
	list-style: disc outside;
	font-size: x-small;
	}
ul.minus2 {

	list-style: disc outside; 
	font-size: xx-small;
	}

ul.bubble { list-style-image: url(http://scripts.osha-slc.gov/gif/bubble.gif) }
ul.blueball { list-style-image: url(http://scripts.osha-slc.gov/gif/blueball.gif) }

/* print style settings */

@media print {

	body { 
		background-color: transparent;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		font-size: small;
		font-family: verdana, arial, helvetica, sans-serif;
	}
	
	h1, h2, h3, h4, h5, h6, p, ul, ol, dir, menu, div, dt, dd, address, pre, blockquote, hr { 
		background-color: transparent;
		font-family: verdana, arial, helvetica, sans-serif;
		}
	
	a, b, strong, i, em, cite, code, kbd, samp, img, span {

		background-color: transparent;
		font-family: verdana, arial, helvetica, sans-serif;
		}
	
	pre, tt, code, kbd, samp { font-family: monospace }
	
	a:link    { 
		background-color: transparent;
		font-size: small;
		}
	a:active  {
		background-color: transparent;
		font-size: small;
		}
	a:visited {
		background-color: transparent;
		font-size: small; 
		}
	b {
		background-color: transparent;
		font-weight: bold;
		font-size: small;
		}
	
	b.italics {
		background-color: transparent;
		font-style: italic;
		font-weight: bold;
		font-size: small;
		}
	
	
	b.minus1 {
		background-color: transparent;
		font-weight: bold;
		font-size: x-small;
		color: #000000;
		}
	
	center {
		font-size: small;
		text-align: center;
		}
	
	dl {
		background-color: transparent;
		font-size: small;
		}
	
	font.title1 {
		background-color: transparent;
		font-weight: bold;
		font-size: large;
		}
	font.title2 {
		background-color: transparent;
		font-weight: bold;
		font-size: large;
		}
	font.title3 {
		background-color: transparent;
		font-size: small;
		}
	font.title4 {
		background-color: transparent;
		font-weight: bold;
		font-size: large;
		}
	font.title5 {
		background-color: transparent;
		font-weight: bold;
		font-size: medium;
		}
	font.notetext1 {
		background-color: transparent;
		font-size: small;
		margin: 2px;
		}
	font.notetext2 {
		background-color: transparent;
		font-weight: bold;
		font-size: small;
		margin: 2px;
		}
	font.footnote1 {
		background-color: transparent;
		font-weight: bold;
		font-size: small;
		text-decoration: none;
		vertical-align: super;
		margin: 2px;
		}
	font.linktext {
		font-size: small;
		}
	
	/* headings rules*/
	
	h1, h2, h3, h4, h5, h6 {
		margin: 2px;
		}
	
	hr {
		border-top: thin solid black;
		border-right: thin solid black;
		border-bottom: thin solid black;
		border-left: thin solid black;
		text-align: left;
		width: 600px;
		}
	
	/*li {
		background-color: transparent;
		font-size: small;
		}*/
	
	p { 
		background-color: transparent;
		font-size: small;
		}
	
	p.block{ margin: 10px 10px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
	p.block1{ margin: 10px 10px 10px 40px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
	p.block2{ margin: 10px 10px 10px 80px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
	p.block3{ margin: 10px 10px 10px 120px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
	p.block4{ margin: 10px 10px 10px 160px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
	p.block5{ margin: 10px 10px 10px 200px; font: normal normal normal small verdana, arial, helvetica, sans-serif; }
	
	p.plus1 { 
		font-size: medium;
		}
	p.plus2 {
		font-size: large;
		}
	p.minus1 {
		font-size: x-small;
		}
	p.minus2{
		font-size: xx-small;
		}
	
	p.title1 { background: transparent; color: #996600; margin: 2px; font: normal normal bold 20px verdana, arial, helvetica, sans-serif; }
	p.title2 { background: transparent; color: #000099; margin: 2px; font: normal normal bold large verdana, arial, helvetica, sans-serif; }
	
	span.sixpix { background: transparent; font: normal normal normal medium verdana, arial, helvetica, sans-serif; }
	
	/*  */
	sub {
		background-color: transparent;
		font-size: x-small;
		}
	
	sup {
		background-color: transparent;
		font-size: x-small;
		}
	
	td {
		background-color: #ffffff;
		font-size: small;
		color: #000000;
		}
	
	td.sixpix {
		background-color: transparent;
		width: 600px;
		font-size: small;
		}
	
	ul {
		background-color: transparent;
		list-style: disc outside;
		font-size: small;
		}
	
	ul.plus1 {
		background-color: transparent;
		list-style: disc outside;
		font-size: medium;
		}
	ul.plus2 {
		background-color: transparent;
		list-style: disc outside;
		font-size: large;
		}
	ul.minus1 {
		background-color: transparent;
		list-style: disc outside;
		font-size: x-small;
		}
	ul.minus2 {
		background-color: transparent;
		list-style: disc outside; 
		font-size: xx-small;
		}
}