{% extends "teacher_base.html" %}

{% block title %}
    {% if object %}
        Edit content
        {{ object.title }}
    {% else %}
        Add a new content
    {% endif %}
{% endblock %}

{% block content %}

    <section class="section-padding popular-course-slider bg-feature pt-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="section-heading center-heading">

                        <a href="{% url 'module_content_list' request.resolver_match.kwargs.module_id %}" class="subheading">
                            <i class="fa fa-arrow-alt-circle-left"></i>
                            Back To Module
                        </a>

                        <h3>
                            {% if object %}
                                Edit content "{{ object.title }}"
                            {% else %}
                                Add a new content
                            {% endif %}
                        </h3>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <section class="feature-3">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-md-8 offset-md-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="" method="post" enctype="multipart/form-data">

                                                {% csrf_token %}

                                                <div class="row">
                                                    {% for field in form.visible_fields %}

                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label style="float: none;" class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>

                                                                {{ field }}
                                                                <!-- <p class="help-text">{{ field.help_text }} </p> -->
                                                                {% if field.errors %}
                                                                    <small class="form-text text-danger">{{ field.label }}:
                                                                        {{ field.errors|striptags }}</small>
                                                                {% endif %}

                                                            </div>
                                                        </div>

                                                    {% endfor %}

                                                </div>


                                                <p>
                                                    <button type="submit" class="btn btn-info mb-3" value="">Save Content</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block scripts %}

    <script>

        $(document).ready(function () {
            $(".container input, select, textarea").addClass('form-control');
            $(".container textarea").css('height', 70);

            if ($("#id_content").length > 0) {}

        });


        $('html, body').animate({
            scrollTop: $(".card").offset().top - 200
        }, 1000);
    </script>
{% endblock %}
