{% extends "student_base.html" %}
{% load i18n %}
{% block title %}
{{ object.title }} | Certificate
{% endblock %}

{% block content %}
<div>

    {% if certificate_valid == True %}
    <main class="page-content shadow">
        <div class="my-2 text-right">
        
            <a href="{% url 'student_download_certificate' object.id %}" target="_blank" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fa fa-download" id="btnDownload"></i> Download Certificate </a>
        </div>
        <div class="row">

            <div class="col" id="pdfFrame">
                <iframe class="embed-responsive embed-responsive-1by1"
                    src="{% url 'student_course_certificate_template' object.id %}"></iframe>
            </div>
        </div>
    </main>

    {% else %}
    <h3 class="text-center mt-4">Course is not completed yet</h3>
    {% endif %}

</div>
{% endblock %}

{% block scripts %}

<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

<style>
    iframe {
        height: 700px;
        border: none;
        background: #fff;
    }
</style>
{% endblock %}