{% extends 'app_base.html' %}
{% load staticfiles %}
{% load course_tags %}

{% block title %}Enroll Online
    {{ object.title }}
    Course | pdhsafety.com
{% endblock %}

{% block meta_desc %}Learn
    {{ object.subject }}
    from top-rated instructors. Find the best online
    {{ object.subject }}
    classes and get certificate today. We provides bulk discounts. Learn Now!
{% endblock %}

{% block meta_keywords %}
    {{ object.subject }},
    {{ object.title }}
{% endblock %}

{% block content %}
    {% with subject=object.subject %}

    <section class="page-wrapper edutim-course-single course-single-style-3">
        <div class="course-single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="course-single-header white-text">
                            <span class="subheading">{{ subject }}</span>
                            <h3 class="single-course-title">{{ object.title }}</h3>
                            <p>{{ object.overview |slice:"0:185" }}</p>
                            <div class="d-flex align-items-center ">
                                <div class="single-top-meta">
                                    <i class="fa fa-book"></i>
                                    <span>
                                        {{ object.modules.count }}
                                        Modules
                                    </span>
                                </div>

                                <div class="single-top-meta">
                                    <div class="rating">
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-star"></i>
                                        </a>
                                        <span>5.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <nav class="course-single-tabs">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
                            <a class="nav-item nav-link" id="nav-topics-tab" data-toggle="tab" href="#nav-topics" role="tab" aria-controls="nav-profile" aria-selected="false">
                                Learning Outcomes
                            </a>
                            <a class="nav-item nav-link" id="nav-instructor-tab" data-toggle="tab" href="#nav-instructor" role="tab" aria-controls="nav-contact" aria-selected="false">
                                Completion Requirements
                            </a>
                            <a class="nav-item nav-link" id="nav-feedback-tab" data-toggle="tab" href="#nav-feedback" role="tab" aria-controls="nav-contact" aria-selected="false">Schedule</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="single-course-details ">
                                <h4 class="course-title">Description</h4>
                                <p>
                                    {{ object.overview }}
                                </p>

                                {% if object.features.first.notes %}
                                    <div class="course-widget bg-light p-3 mt-5">
                                        <h4 class="course-title">Course Notes:</h4>
                                        <div>
                                            {{ object.features.first.notes | safe }}
                                        </div>
                                    </div>
                                {% endif %}


                            </div>
                        </div>
                        <div
                            class="tab-pane fade" id="nav-topics" role="tabpanel" aria-labelledby="nav-topics-tab">
                            <!--  Course Topics -->
                            <div class="edutim-single-course-segment  edutim-course-topics-wrap">

                                <div class="edutim-course-topics-contents">
                                    <div class="edutim-course-topic ">
                                        {{ object.features.first.outcomes  |safe }}
                                    </div>
                                </div>
                            </div>
                            <!--  COurse Topics End -->
                        </div>
                        <div class="tab-pane fade" id="nav-instructor" role="tabpanel" aria-labelledby="nav-instructor-tab">
                            {{ object.features.first.completion_requirements  |safe }}
                        </div>
                        <div class="tab-pane fade" id="nav-feedback" role="tabpanel" aria-labelledby="nav-feedback-tab">
                            <div class="course-widget">
                                {{ object.features.first.schedule | safe }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="course-sidebar">
                        <div class="course-single-thumb">
                            {% if object.image %}
                                <img src="{{ object.image }}" alt="" class="img-fluid w-100"/>
                            {% else %}
                                <img src="{% static 'edutim/images/courses/course-' %}{% random_int 1 12 %}.jpg" alt="" class="img-fluid w-100"/>
                            {% endif %}
                            <div class="course-price-wrapper">
                                <div class="course-price">

                                    {% if object.is_free %}
                                        <h4>
                                            <span>
                                                Price: Free</span>
                                        </h4>
                                    {% elif object.discounted_price > 0 %}

                                        <h4>Price:
                                            <span>${{ object.discounted_price }}</span>
                                            <del class="text-muted">${{ object.price }}</del>
                                        </h4>

                                    {% else %}
                                        <h4>
                                            Price:
                                            <span>${{ object.price }}</span>
                                        </h4>
                                    {% endif %}

                                </div>


                                <div class="buy-btn">

                                    {% if object.is_free %}
                                        {% if request.user.is_authenticated %}
                                            <a href="javascript:;" class="btn btn-main btn-block link-free-enroll">
                                                Take Free Course
                                            </a>
                                        {% else %}
                                            <a href="javascript:;" class="btn btn-main btn-block link-free-auth">
                                                Enroll Free Course
                                            </a>
                                        {% endif %}

                                    {% else %}

                                        <a href="javascript:;" class="btn btn-main btn-block link-add-cart">
                                            Add To Cart
                                        </a>

                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="course-widget course-details-info">
                            <h4 class="course-title">This Course Includes</h4>
                            <ul>
                                <li>
                                    <div class="">
                                        <span>
                                            <i class="fa fa-user"></i>Instructor :</span>
                                        <a href="#" class="d-inline-block">
                                            {{ object.owner }}
                                        </a>
                                    </div>
                                </li>

                                <li>
                                    <div class="">
                                        <span>
                                            <i class="fa fa-book"></i>Modules :</span>
                                        {{ object.modules.count }}
                                    </div>
                                </li>

                                {% if object.features.first.duration %}
                                    <li>
                                        <div class="">
                                            <span>
                                                <i class="fa fa-clock"></i>Duration :
                                            </span>
                                            {{ object.features.first.duration }}
                                        </div>
                                    </li>
                                {% endif %}

                                {% if object.features.first.certificate_status %}
                                    <li>
                                        <div class="">
                                            <span>
                                                <i class="fa fa-certificate"></i>Certificate :
                                            </span>
                                            {{ object.features.first.certificate_status }}
                                        </div>
                                    </li>
                                {% endif %}

                                {% if object.features.first.language %}
                                    <li>
                                        <div class="">
                                            <span>
                                                <i class="fa fa-language"></i>Language :
                                            </span>
                                            {{ object.features.first.language }}
                                        </div>
                                    </li>
                                {% endif %}

                                {% if object.features.first.skill_level %}
                                    <li>
                                        <div class="">
                                            <span>
                                                <i class="fa fa-fill-drip"></i>Skill Level :
                                            </span>
                                            {{ object.features.first.skill_level }}
                                        </div>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endwith %}
{% endblock %}


{% block scripts %}
    <script>
        (function ($) {

            $.CourseDetailPage = function (options) {

                var settings = $.extend({}, options);

                var loadMessage = function () {

                    var urlParts = window.location.href.indexOf('#register=success');

                    if (urlParts >= 0) {
                        Swal.fire('Account Created!', 'You have successfully created a new account.', 'success');
                    }

                    history.pushState("", document.title, window.location.pathname + window.location.search);

                };

                var enrollCourse = function () { // ShowLoadingModal("Please wait", "Processing request");

                    var formData = {
                        course: '{{ object.id }}'
                    };

                    $.ajax({
                        type: "POST",
                        url: "/api/course-enrollment/",
                        data: JSON.stringify(formData),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (response, textStatus, xhr) {
                            if (xhr.status == 201) {
                                Toast.fire({icon: 'success', title: 'You have successfully enrolled to this course'});

                            } else if (xhr.status == 226) {
                                $(".link-free-enroll").hide();
                                Swal.fire({icon: 'warning', title: 'Note!', text: 'You have been already enrolled in this course!'});
                            }
                            else if (xhr.status == 203) {
                                $(".link-free-enroll").hide();
                                Swal.fire({icon: 'error', title: 'Note!', text: 'You are not allowed to take this class.'});
                            }
                        }
                    });

                };

                var registerEvent = function () {

                    $("div").on("click", '.link-free-auth', function (e) {
                        e.stopPropagation();
                        Swal.fire({title: 'You are not logged in. ', showDenyButton: true, confirmButtonText: 'Log in', denyButtonText: 'Create a new account'}).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "{% url 'login' %}?next=      {{ request.path }}";
                            } else if (result.isDenied) {
                                window.location.href = "{% url 'student_registration' %}?next=      {{ request.path }}";
                            }
                        });
                    });

                    $("div").on("click", '.link-free-enroll', function (e) {
                        e.stopPropagation();

                        enrollCourse();
                    });


                };

                var init = function () {
                    registerEvent();
                    loadMessage();
                };

                init();

                return this;

            };

        }(jQuery));

        $(document).ready(function () {
            var pl = new $.CourseDetailPage({});
        });
    </script>
{% endblock %}
