{% extends "app_base.html" %}
{% load staticfiles %}
{% load course_tags %}
{% load cache %}

{% block title %}
{% if subject %} Best {{ subject.title }} Courses Online | pdhsafety.com {%else%}
Best Safety Training and Certification Courses Online | pdhsafety.com
{% endif %}
{% endblock %}

{% block meta_desc %}

{% if subject %} 

{% if subject.meta_description %}
{{subject.meta_description}}
{% else %}
Best Price Online Courses - {{ subject.title }} (Easy Access 24/7 On All Devices) Easy To Take Course Satisfaction Guarantee.
{% endif %}

{% endif %}

{% endblock %}

{% block meta_keywords %}{{subject.meta_tags}}{% endblock %}

{% block content %}

{% cache 500 courses subject.slug if subject else all %}

<section class="page-header" data-time="{{page_time}}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-header-content">
                    {% if subject.page_title %}
                    <h1>{{subject.page_title}}</h1>
                    {%else%}
                    <h1>BEST SELLING COURSES</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding course pt-4">
    <div class="course-top-wrap">
        <div class="container">

            {% if subject.page_details %}
            <div class="row mb-5">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-1 text-center">
                            {{subject.page_details}}
                            <p class="font-weight-bold">
                                You will be awarded a certificate instantly.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row align-items-center bg-light py-1">
                <div class="col-lg-6">
                        <a href="#" class="btn btn-light rounded-0 py-2 btn-lg">
                            Showing
                        {{ courses.count }}
                        courses
                        </a>
                </div>
                <div class="col-lg-2">
                   <a href="{% url 'courses_list' %}" class="text-dark btn btn-outline-warning rounded-0 btn-block py-2 btn-lg">Clear Filters</a>
                </div>
                
                <div class="col-lg-4">
                    <div class="topbar-search" id="category">
                        <form method="get" action="#">
                            <select class="form-control rounded-0" title="select cateory" aria-labelledby="category" id="ddlCategory">
                                <option value="{% url 'courses_list' %}">Choose Category</option>
                                {% for s in subjects %}
                                <option {% if subject == s %} selected {% endif %}
                                    value="{% url 'course_list_subject' s.slug %}">
                                    {{ s.title }}
                                    ({{ s.total_courses }})
                                </option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% for course in courses %}
            {% with subject=course.subject %}
            <div class="col-xl-4 col-md-6 course-item">

                <input type="hidden" name="id" value="{{ course.id }}" />
                <input type="hidden" name="title" value="{{ course.title }}" />
                <input type="hidden" name="subject" value="{{ subject }}" />
                <input type="hidden" name="subject_slug" value="{{ subject.slug }}" />
                <input type="hidden" name="price" value="{{ course.price }}" />
                <input type="hidden" name="discounted_price" value="{{ course.discounted_price }}" />
                <input type="hidden" name="modules" value="{{ course.total_modules }}" />
                <input type="hidden" name="is_free" value="{{ course.is_free }}" />


                <div class="course-block">
                    <div class="course-img">
                        <a class="text-dark course-link" data-id="{{course.id}}" href="{% url 'course_detail' course.slug %}">
                            <img width="348" height="281" 
                            data-src="{% static 'edutim/images/courses/course-' %}{% random_int 1 5 %}.jpg"
                             alt="image"
                                class="img-fluid lazy" />
                        </a>
                        {% if course.features.first.skill_level %}
                        <span class="course-label">{{ course.features.first.skill_level }}</span>
                        {% endif %}

                    </div>

                    <div class="course-content">
                        <div class="course-price ">
                            {% if course.is_free %}
                            Free Course
                            {% elif course.discounted_price > 0 %}
                            ${{ course.discounted_price }}
                            <span class="del">${{ course.price }}</span>
                            {% else %}
                            ${{ course.price }}
                            {% endif %}
                        </div>

                        <h2>
                            <a class="course-link" data-id="{{course.id}}" href="{% url 'course_detail' course.slug %}">
                                {{ course.title }}
                            </a>
                        </h2>
                        <div class="rating">
                            <a href="#" aria-label="Rate">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#" aria-label="Rate">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#" aria-label="Rate">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#" aria-label="Rate">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#" aria-label="Rate">
                                <i class="fa fa-star"></i>
                            </a>
                            <span>(5.00)</span>
                        </div>
                        <p>{{ subject }}</p>

                        <div class="course-footer d-lg-flex align-items-center justify-content-between">
                            <div class="course-meta">
                                {% if course.features.first.duration %}
                                <span class="course-student">
                                    <i class="bi bi-group"></i>
                                    {{ course.features.first.duration }}</span>
                                {% endif %}
                                <span class="course-duration">
                                    <i class="bi bi-badge3"></i>
                                    {{ course.total_modules }}
                                    Modules</span>
                            </div>

                            <div class="buy-btn">
                                <a data-id="{{course.id}}" href="{% url 'course_detail' course.slug %}"
                                    class="btn btn-main-2 btn-small course-link">Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endwith %}
            {% endfor %}
        </div>    
    </div>

</section>
{% endcache %}

{% if subject and subject.video_link %}
<section class="team section-padding bg-grey mb-5">
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="iframeVideo" class="embed-responsive-item" data-src="{{ subject.video_link }}"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}


{% endblock %}

{% block scripts %}

<style>
    .sp-badge {

        position: relative;
        letter-spacing: 0.08em;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: transform 0.3s ease;
        text-align: center;
        filter: drop-shadow(0.25em 0.7em 0.95em rgba(0, 0, 0, 0.8));
        font-size: calc(11px + 14 * ((100vw - 420px) / (860)));
        margin-bottom: 70px;
    }

    @media screen and (max-width: 420px) {
        .sp-badge {
            font-size: 11px;
        }
    }

    @media screen and (min-width: 1280px) {
        .sp-badge {
            font-size: 25px;
        }
    }

    .sp-badge :hover {
        color: #fff;
        text-decoration: none;

    }

    .sp-badge :hover::before {
        opacity: 0.9;
    }

    .sp-badge svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        z-index: 0;
        width: 10em;
        height: 10em;
    }

    .sp-badge span {
        display: block;
        background: #111;
        border-radius: 0.4em;
        padding: 0.4em 1em;
        z-index: 1;
        min-width: 11em;
        border: 1px solid;
        text-transform: uppercase;
    }

    @media only screen and (min-width: 768px) {
        .course-img {
            min-height: 281px;
            max-height: 281px;
            margin-bottom: 10px;
        }

        .course-img img {
            width: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
</style>

<script>

    let gtag_View_item_list_Object = {};

    $(document).ready(function () {

        $("#ddlCategory").change(function () {
            var val = $(this).val();
            window.location.href = val;
        });

        $("div").on("click", ".course-link", function (e) {
            e.stopImmediatePropagation();
            e.stopPropagation();

            var id = $(this).attr('data-id');
            setGtag_select_item(id);
        });

        var videoLink = $("#iframeVideo").attr('data-src');

        if (videoLink) {
            var link = 'https://www.youtube.com/embed/' + getId(videoLink);
            $("#iframeVideo").attr('src', link);
        }

        setGtag_View_item_list();
    });

    function getId(url) {
        var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        var match = url.match(regExp);

        if (match && match[2].length == 11) {
            return match[2];
        } else {
            return 'error';
        }
    };

    function setGtag_View_item_list() {
        try {
            const item_list_id = '{% if subject %} {{ subject.slug }} {%else%} all_courses {% endif %}'.trim();
            const item_list_name = '{% if subject %} {{ subject.title }} {%else%} All Courses {% endif %}'.replace(/&amp;/g, '&').trim();

            var eventObject = {
                item_list_id: item_list_id.trim(),
                item_list_name: item_list_name.trim(),
                items: []
            };

            var items = [];

            $(".course-item").each(function (ix) {

                const id = $(this).find("input[name='id']").val().trim();
                const title = $(this).find("input[name='title']").val().trim();
                const subject = $(this).find("input[name='subject']").val().trim();
                const subject_slug = $(this).find("input[name='subject_slug']").val().trim();
                const price = parseFloat($(this).find("input[name='price']").val().trim());
                const discounted_price = $(this).find("input[name='discounted_price']").val().trim();
                const is_free = $(this).find("input[name='is_free']").val().trim();
                const discounted_price_value = discounted_price ? parseFloat(discounted_price) : 0.00;

                if (is_free !== 'True') {
                    const itemObject = {
                        item_id: id,
                        item_name: title,
                        affiliation: subject,
                        discount: discounted_price_value> 0?(price-discounted_price):discounted_price_value,
                        index: ix,
                        item_brand: subject,
                        item_list_id: subject,
                        item_list_name: subject_slug,
                        item_variant: is_free === 'True' ? 'Free_Course' : 'Premium_Course',
                        location_id: "ChIJEWeHU0PywokRO83ywHyX8q8",
                        price: discounted_price_value > 0? discounted_price_value:price,
                        quantity: 1
                    };

                    items.push(itemObject);
                }

            });

            eventObject.items = items;

            gtag_View_item_list_Object = eventObject;

            if (items.length > 0) {
                gtag("event", "view_item_list", gtag_View_item_list_Object);
            }

            console.log(gtag_View_item_list_Object)
        } catch (error) {
            console.log('setGtag_View_item_list', error);
        }
    };

    function setGtag_select_item(itemId) {
        try {

            var item = gtag_View_item_list_Object.items.find(a => a.item_id === itemId);

            if (!item) return;

            if (item.is_free !== 'True') {

                const eventObject = {
                    item_list_id: item.item_list_id,
                    item_list_name: item.item_list_name,
                    items: [
                        item
                    ]
                };

                gtag("event", "select_item", eventObject);
            }

        } catch (error) {
            console.log('setGtag_select_item', error);
        }
    };

</script>
{% endblock %}
