{% extends "app_base.html" %}
{% block title %}
{% if subject %}
{{ subject.title }} courses
{% else %}
All courses
{% endif %}
{% endblock %}
{% block content %}
<div class="home-courses">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h3>Courses</h3>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <select class="form-control" id="ddlCategory">
                    <option value="{% url "courses_list" %}">All Courses</option>
                    {% for s in subjects %}
                    <option  {% if subject == s %} selected {% endif %} value="{% url "course_list_subject" s.slug %}">{{ s.title }} ({{ s.total_courses }})
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 d-none">
                <div class="list-group mt-2">
                    <a href="{% url "courses_list" %}" class="list-group-item list-group-item-secondary">
                        All
                    </a>
                    {% for s in subjects %}
                    <a class="list-group-item list-group-item-action {% if subject == s %} list-group-item-success {% endif %}"
                        href="{% url "course_list_subject" s.slug %}">
                        <span>{{ s.title }}</span>
                        <span class="badge badge-pill badge-primary">{{ s.total_courses }}</span>
                    </a>
                    {% endfor %}
                </div>
                <div class="list-group mt-2 d-none">
                    <a href="{% url "courses_list" %}" class="list-group-item list-group-item-secondary">
                        All
                    </a>
                    {% for s in instructors %}
                    <a class="list-group-item list-group-item-action" href="{% url "courses_list" %}?teacher={{s.id}}">
                        <span>
                            {% if s.first_name %}
                            {{s.first_name}} {{s.last_name}}
                            {%else%}
                            {{ s.username }}
                            {% endif %}
                        </span>
                        <span class="badge badge-pill badge-primary">{{ s.total_courses }}</span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12">
                <main class="page-content">
                    <div class="row">
                        {% for course in courses %}
                        {% with subject=course.subject %}
                        <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card home-course">
                                <div class="card-body">
                                    <a href="{% url "course_detail" course.slug %}">
                                        <img class="card-img w-9 h-9 br-7 mb-4" src="/static/fe_v1/img/course.png"
                                            alt="{{ course.title }}">
                                    </a>
                                    <h4 class="card-title">
                                        <a href="{% url "course_detail" course.slug %}" title="{{ course.title }}"
                                            class="text-dark">
                                            {{ course.title |slice:"0:30"  }} ..
                                        </a> </h4>
                                    <h6 class="card-subtitle mb-2 text-muted small">
                                        <a href="{% url "course_list_subject" subject.slug %}"
                                            class="text-info">{{subject}}</a>
                                    </h6>
                                    <div class="buy d-flex justify-content-between align-items-center">
                                        <div class="price text-success">
                                            <h5 class="mt-4">
                                                {% if course.is_free %}
                                                Free
                                                {%elif course.discounted_price > 0 %}
                                                ${{course.discounted_price}} <span
                                                    class="ml-2 text-info"><s>${{course.price}}</s></span></h5>
                                            {% else %}
                                            {{course.price}}
                                            {% endif %}
                                        </div>
                                        {% if course.is_free%}
                                        <a href="{% url "course_detail" course.slug %}"
                                            class="btn btn-orange btn-sm mt-3"><i class="fa fa-list-alt"></i>
                                            View Course
                                        </a>
                                        {% else %}
                                        <a href="#" class="btn btn-orange btn-sm mt-3"><i class="fa fa-plus"></i>
                                            Add to
                                            Cart</a>
                                        {% endif %}
                                    </div>
                                    <span class="badge badge-info">Modules ({{ course.total_modules }})</span>
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                        {% endfor %}
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $("#ddlCategory").change(function () {
            var val = $(this).val();
            window.location.href = val;
        });
    });
</script>
{% endblock %}