{% extends "app_base.html" %}
{% load staticfiles %}
{% load course_tags %}

{% block title %}
{% if subject %}
Top
{{ subject.title }}
Courses Online | pdhsafety.com
{% endif %}
{% endblock %}

{% block meta_desc %}
{% if subject %}Low Cost Online 
{{ subject.title }}
IACET Accredited, Access 24/7 On All Devices.
Easy ToTake CSP Exam Prep Course Money Back Guarantee 

{% endif %}
{% endblock %}

{% block content %}

<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-header-content">
                    {% if subject.page_title %}
                    <h1>{{subject.page_title}}</h1>
                    {%else%}
                    <h1>BEST SELLING COURSES</h1>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding course">
    <div class="course-top-wrap">
        <div class="container">

            {% if subject and subject.package_set.count > 0 %}
            
<div class="row">
    <div class="col">

        <div class="sp-badge-panel">
            <a href="#bundles" class="sp-badge ">
                <span>Buy All CSP Exam Preparation Courses at One Low Price $199
</span>
            </a>
        </div>
    
    </div>
</div>
{% endif %}
            {% if subject.page_details %}
            <div class="row mb-5">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <p>{{subject.page_details}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row align-items-center">
                <div class="col-lg-8">
                    <p>Showing
                        {{ courses.count }}
                        results</p>
                </div>

                <div class="col-lg-4">
                    <div class="topbar-search">
                        <form method="get" action="#">
                            <select class="form-control" id="ddlCategory">
                                <option value="{% url 'courses_list' %}">Choose Category</option>
                                {% for s in subjects %}
                                <option {% if subject == s %} selected {% endif %}
                                    value="{% url 'course_list_subject' s.slug %}">
                                    {{ s.title }}
                                    ({{ s.total_courses }})
                                </option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
          
        </div>
    </div>


    <div class="container">
        <div class="row">

            {% for course in courses %}
            {% with subject=course.subject %}
            <div class="col-lg-4 col-md-6 course-item">

                <input type="hidden" name="id" value="{{ course.id }}" />
                <input type="hidden" name="title" value="{{ course.title }}" />
                <input type="hidden" name="subject" value="{{ subject }}" />
                <input type="hidden" name="price" value="{{ course.price }}" />
                <input type="hidden" name="discounted_price" value="{{ course.discounted_price }}" />
                <input type="hidden" name="modules" value="{{ course.total_modules }}" />


                <div class="course-block">
                    <div class="course-img">
                        <a href="{% url 'course_detail' course.slug %}">
                            {% if course.image %}
                            <img src="{{ course.image }}" alt="image" class="img-fluid" />
                            {% else %}
                            <img src="{% static 'edutim/images/courses/course-' %}{% random_int 1 12 %}.jpg" alt="image"
                                class="img-fluid" />
                            {% endif %}
                        </a>
                        {% if course.features.first.skill_level %}
                        <span class="course-label">{{ course.features.first.skill_level }}</span>
                        {% endif %}

                    </div>

                    <div class="course-content">
                        <div class="course-price ">
                            {% if course.is_free %}
                            Free Course
                            {% elif course.discounted_price > 0 %}
                            ${{ course.discounted_price }}
                            <span class="del">${{ course.price }}</span>
                            {% else %}
                            ${{ course.price }}
                            {% endif %}
                        </div>

                        <h4>
                            <a href="{% url 'course_detail' course.slug %}">
                                {{ course.title }}
                            </a>
                        </h4>
                        <div class="rating">
                            <a href="#">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-star"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-star"></i>
                            </a>
                            <span>(5.00)</span>
                        </div>
                        <p>{{ subject }}</p>

                        <div class="course-footer d-lg-flex align-items-center justify-content-between">
                            <div class="course-meta">
                                {% if course.features.first.duration %}
                                <span class="course-student">
                                    <i class="bi bi-group"></i>
                                    {{ course.features.first.duration }}</span>
                                {% endif %}
                                <span class="course-duration">
                                    <i class="bi bi-badge3"></i>
                                    {{ course.total_modules }}
                                    Modules</span>
                            </div>

                            <div class="buy-btn">
                                <a href="{% url 'course_detail' course.slug %}"
                                    class="btn btn-main-2 btn-small">Details</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {% endwith %}
            {% endfor %}
        </div>    
    </div>

</section>

{% if subject and subject.video_link %}
<section class="team section-padding bg-grey mb-5">
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="iframeVideo" class="embed-responsive-item" data-src="{{ subject.video_link }}"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if subject and subject.package_set.count > 0 %}
<section class="team section-padding bg-grey mb-5">
    <div class="container">
        <div class="row align-items-center" id="bundles">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h3>Buy Packages/Bundles for these courses</h3>
                </div>
            </div>
        </div>


        <div class="row" >
            {% for item in subject.package_set.all %}
            <div class="col-md-6">
                <div class="card border-0 mb-4 shadow">
                    <div class="card-header bg-primary">
                        <div class="row">
                            <div class="col">
                                <h4 class="my-0 font-weight-normal text-white">{{ item.name }}</h4>
                            </div>
                            <div class="col">
                                <h4 class="my-0 text-right text-white">${{ item.price }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="text-center">Courses</h3>
                        <div class="text-center mb-2">
                            <ul class="list-unstyled" style="max-height: 150px;overflow: hidden auto;">
                                
                                {% for cs in item.courses.all %}
                                <li>{{ cs.course }}</li>
                                {% endfor %}
                           
                            </ul>
                        </div>
            
                    </div>
                    <div class="card-footer text-center">
                        <a href="/package-buy/{{ item.id }}/" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% endblock %}

{% block scripts %}

<style>



.sp-badge {

    position: relative;
    letter-spacing: 0.08em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
    text-align: center;
    filter: drop-shadow(0.25em 0.7em 0.95em rgba(0, 0, 0, 0.8));
    font-size: calc(11px + 14 * (( 100vw - 420px ) / (860)));
    margin-bottom: 70px;
}
@media screen and (max-width: 420px) {
  .sp-badge  {
    font-size: 11px;
  }
}
@media screen and (min-width: 1280px) {
  .sp-badge  {
    font-size: 25px;
  }
}

.sp-badge :hover {
  color: #fff;
  text-decoration: none;
 
}
.sp-badge :hover::before {
  opacity: 0.9;
}
.sp-badge svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 0;
  width: 10em;
  height: 10em;
}
.sp-badge  span {
  display: block;
  background: #111;
  border-radius: 0.4em;
  padding: 0.4em 1em;
  z-index: 1;
  min-width: 11em;
  border: 1px solid;
  text-transform: uppercase;
}
</style>

<script>
    $(document).ready(function () {
        $("#ddlCategory").change(function () {
            var val = $(this).val();
            window.location.href = val;
        });

        var videoLink = $("#iframeVideo").attr('data-src');

        if(videoLink) {
            var link = 'https://www.youtube.com/embed/'+getId(videoLink);
            $("#iframeVideo").attr('src', link);
        }
    });

    function getId(url) {
        var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
        var match = url.match(regExp);

        if (match && match[2].length == 11) {
            return match[2];
        } else {
            return 'error';
        }
    };
</script>
{% endblock %}
