{% extends "app_base.html" %} {% load staticfiles %} {% block title %} Refund Policy | pdhsafety.com {% endblock %} {% block content %}

<section class="page-header">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8">
            <div class="page-header-content">
               <h1>Refund Policy</h1>
               <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                     <a href="/">Home</a>
                  </li>
                  <li class="list-inline-item">/</li>
                  <li class="list-inline-item">Refund Policy</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>

<main class="site-main page-wrapper woocommerce single single-product">
   <section class="space-3">
      <div class="container">
         <div class="row">
            <div class="col-12">
            <div class="page-content mb-4">
                <p>
                    Thanks for purchasing our course at pdhsafety.com operated by [NYC Construction Safety Training LLC]. We offer a full money-back guarantee for all purchases made on our website. If you are not satisfied with the course that you have purchased from us, you can get your money back no questions asked. You are eligible for a full reimbursement within 30 calendar days of your purchase. After the 30-day period you will no longer be eligible and won't be able to receive a refund. We encourage our customers to try the course in the first four weeks after their purchase to ensure it fits your needs. If you have any additional questions or would like to request a refund, feel free to contact us. at
                    <a href="mailto:mail@pdhsafety.com">mail@pdhsafety.com</a>
                </p>
            </div>
              
            </div>
         </div>
      </div>
   </section>
   <!--shop category end-->
</main>

{% endblock %} {% block scripts %}

<script>
   $(document).ready(function () {});
</script>
{% endblock %}
