{% extends "teacher_base.html" %}
{% load course %}

{% block title %}
Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}

{% with course=module.course %}

<div class="row my-2">

    <div class="col-md-8">
        <h1 class="h3 mb-0 text-gray-800">
            Course "{{ course.title }}"
        </h1>
    </div>

    <div class="col-md-4 text-right">

        <a href="javascript:void(0);" class="d-sm-inline-block btn btn-sm btn-info shadow-sm link-copy-module"
            pk="{{module.id}}">
            <i class="fa fa-clone"></i> Copy Module </a>

        <a href="{% url "manage_course_list" %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fa fa-mail-reply"></i> Back To Courses</a>
    </div>

</div>


<div>
    <div class="row">

        <div class="col-md-3">
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a href="#"> Modules </a>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>

                            {% for m in course.modules.all %}
                            <li data-id="{{ m.id }}">
                                <a {% if m == module %}class="pin" {% endif %}
                                    href="{% url "module_content_list" m.id %}">
                                    <span>
                                        Module <span class="order">{{ m.order|add:1 }}</span>
                                    </span>
                                    <br>
                                    {{ m.title }}
                                </a>
                            </li>
                            {% empty %}
                            <li>No modules yet.</li>
                            {% endfor %}

                            <li class="not">
                                <a href="{% url "course_module_update" course.id %}">Edit modules</a>
                            </li>
                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
            </nav>


        </div>

        <div class="col-md-9">
            <div class="module">

                <!-- <h5>Module contents:</h5> -->

                <div class="row">
                    <div class="col-md-12 not p-0">
                        <h4>Module {{ module.order|add:1 }}: {{ module.title }}</h4>
                    </div>
                </div>
                <div class="row" id="module-contents">

                    {% for content in module.contents.all %}
                    <div class="col-md-8 mb-1 border p-1 bg-white" data-id="{{ content.id }}">
                        {% with item=content.item %}
                        <p>{{ item }} ({{ item|model_name }})</p>
                        <div class="d-flex flex-row">
                            <div class="mr-3">
                                <a class="btn btn-sm btn-info"
                                    href="{% url 'module_content_update' module.id item|model_name item.id %}">
                                    Edit
                                </a>
                            </div>
                            <div>
                                <form action="{% url 'module_content_delete' content.id %}" method="post">
                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                                    {% csrf_token %}
                                </form>
                            </div>

                            <div class="ml-1 p-1">
                                <div class="form-check">
                                    <input class="form-check-input chk-progress" value="{{content.id}}" type="checkbox"
                                        {% if content.has_progress == True %} checked {%endif%}>
                                    <label class="form-check-label" for="flexCheckDefault{{content.id}}">
                                        Progress Enable!
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% endwith %}
                    </div>
                    {% empty %}
                    <div class="col">This module has no contents yet.</div>
                    {% endfor %}
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col p-2">
                        <h5>Add new content:</h5>

                        <a class="badge badge-primary"
                            href="{% url "module_content_create" module.id "text" %}">Text</a>
                        <a class="badge badge-primary"
                            href="{% url "module_content_create" module.id "image" %}">Image</a>
                        <a class="badge badge-primary"
                            href="{% url "module_content_create" module.id "video" %}">Video</a>
                        <a class="badge badge-primary"
                            href="{% url "module_content_create" module.id "file" %}">File</a>
                        <a class="badge badge-primary"
                            href="{% url "module_content_create" module.id "iframe" %}">IFrame</a>
                        <a class="badge badge-primary" href="{% url "app_add_question" module.id %}">Add Questions</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endwith %}


<div id="copyModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Copy Module <small> {{module.title}} </small> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post" action="{% url 'module_copy' %}">

                    {% csrf_token %}

                    <input type="hidden" id="txtModule" name="id">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Select Course</label>
                        <select class="form-control" id="ddlCourse" name="course">
                            <option value="">Choose</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" id="txtName" value="{{module.title}}" name="name">
                    </div>

                    <div class="text-center spin">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Copying...</span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnStartCopy">Start Copy</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function () {
        onLoadPage();
        new $.CopyModuleManager({});
    });

    function onLoadPage() {

        $(".container input, select, textarea").addClass('form-control');

        $(".container textarea").css('height', 70);

        $('.sidebar-menu ul').sortable({
            cancel: '.not',
            stop: function (event, ui) {

                modules_order = {};

                $('.sidebar-menu ul li').each(function (ix) {
                    var _id = $(this).attr('data-id');

                    if (_id) {
                        console.log(_id);
                        modules_order[_id] = ix;
                    }
                });


                $.ajax({
                    type: 'POST',
                    url: '{% url "module_order" %}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(modules_order),
                    success: function (r) {
                        toastr.success('Modules order has been updated', 'Success')
                    }
                });

            }
        });

        $('#module-contents').sortable({
            cancel: '.col-md-12.not',
            stop: function (event, ui) {

                contents_order = {};

                $('#module-contents').children().each(function () {
                    if ($(this).data('id'))
                        contents_order[$(this).data('id')] = $(this).index();
                });

                $.ajax({
                    type: 'POST',
                    url: '{% url "content_order" %}',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify(contents_order),
                    success: function (r) {
                        toastr.success('Content order has been updated', 'Success')
                    }
                });

            }
        });

        $(".chk-progress").change(function () {
            var val = $(this).val();
            var checked = $(this).is(":checked");

            var data = {
                id: val,
                progress: checked == true ? 'True' : 'False'
            };

            $.ajax({
                type: "POST",
                url: "/api/enable-content-progress/",
                data: data,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {

                    if (response.result > 0) {
                        toastr.success('Content progress status updated..');
                    }

                },
                failure: function (errMsg) {}
            });


        });

    };

    (function ($) {

        $.CopyModuleManager = function (options) {

            var that = this;

            var courseList;

            var settings = $.extend({}, options);

            var getCourses = function () {
                $.get('/api/teacher-courses/?format=json', {}, function (response) {
                    courseList = response;
                    fillCourseDropdown();
                });
            };

            var fillCourseDropdown = function () {
                $("#copyModal #ddlCourse").empty();
                $("#copyModal #ddlCourse").append('<option value="">Choose</option>');

                $(courseList).each(function (index, item) {
                    var opt = $("<option />", {
                        value: item.id,
                        text: item.title
                    });

                    $("#copyModal #ddlCourse").append(opt);
                });
            };

            var initForm = function () {

                $('#copyModal form').ajaxForm({

                    beforeSubmit: function () {
                        $('#copyModal .spin').removeClass('d-none');
                        $("#copyModal button, input, select").attr('disabled', true);
                    },
                    success: function (response) {

                        $('#copyModal').modal('hide');

                        if (response > 0) {
                            toastr.success('Module has been copied.');
                        } else {

                            toastr.error(
                                'Sorry, We are failed to created the copy. Kindly refresh the page and try again.'
                            );

                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    }
                });

            };

            var registerEvent = function () {

                $("div").on("click", ".link-copy-module", function (e) {
                    e.stopPropagation();

                    var id = $(this).attr('pk');

                    if (id) {

                        $("#copyModal #txtModule").val(id);

                        $("#copyModal").modal({
                            backdrop: 'static',
                            show: true
                        });
                    }


                });

                $("div").on("click", "#btnStartCopy", function (e) {
                    e.stopPropagation();

                    var course = $("#copyModal #ddlCourse").val()

                    if (course) {

                        $('#copyModal form').submit();

                    } else {
                        toastr.danger('Please select the course');
                    }

                });

                $('#copyModal').on('hidden.bs.modal', function (e) {
                    $('#copyModal .spin').addClass('d-none');
                    $("#copyModal button, input, select").attr('disabled', false);
                });

                $('#copyModal').on('shown.bs.modal', function (e) {
                    $('#copyModal .spin').addClass('d-none');
                    $("#copyModal button, input, select").attr('disabled', false);
                });

            };

            var init = function () {
                registerEvent();
                getCourses();
                initForm();
            };

            init();

            return this;

        };


    }(jQuery));
</script>

{% endblock %}