{% extends "teacher_base.html" %}

{% block title %}
    Modules - 
    {{ course.title }}
{% endblock %}

{% block content %}

    <section class="section-padding popular-course-slider bg-feature pt-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="section-heading center-heading">

                        <a href="{% url 'manage_course_list' %}" class="subheading">
                            <i class="fa fa-arrow-alt-circle-left"></i>
                            View Courses
                        </a>

                        <h3>
                            Course modules
                            {{ course.title }}
                        </h3>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <section class="feature-3">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-md-8 offset-md-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="" method="post">
                                                {{ formset.as_p }}
                                                {{ formset.management_form }}
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-info mb-2" class="" value="">
                                                    Save Modules
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $(".container input, select, textarea").addClass('form-control');
            $(".container textarea").css('height', 70);
            $(".container input[type='checkbox']").removeClass('form-control');
            $('label:contains("Title:")').addClass('font-weight-bold');
        });


        $('html, body').animate({
            scrollTop: $(".card").offset().top - 200
        }, 1000);
    </script>
{% endblock %}
