{% extends "app_base.html" %}
{% block title %}Logged out{% endblock %}
{% block content %}

<section class="home-courses">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h3>Logged out</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>You have been successfully logged out. You can <a href="{% url "login" %}">log-in again</a>.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}