{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head time="{% now 'jS F Y H:i:s' %}">
   <meta charset="utf-8" />
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />

   <meta name="description" content="{% block meta_desc %}Access top-quality online training courses for construction and general industries professionals. We provide free courses and bulk discounts. Start learning now!{% endblock %}" />
   <meta name="author" content="{% block meta_author %}{% endblock %}" />
   <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
   <meta name="robots" content="all" />

   <title>{% block title %}Safety Training and Certification | pdhsafety.com{% endblock %}</title>

   <link rel="icon" type="image/png" href="{% static 'edutim/images/logo100.png' %}" />

   <link rel="dns-prefetch" href="https://www.googletagmanager.com/" />
   <link href="https://www.googletagmanager.com/gtag/js?id=UA-190250545-1" rel="preload" as="script" />
   <link href="https://www.googletagmanager.com/gtag/js?id=G-NKBKFHN4MT" rel="preload" as="script" />

   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/combine.css' %}" />

   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?family=Muli&family=Poppins:wght@400;600;700&family=Quicksand:wght@500;600;700&display=swa" />

   {% comment %}
   <!-- bootstrap.min css -->
   <link rel="stylesheet" href="{% static 'edutim/vendors/bootstrap/bootstrap.css' %}" />
   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/vendors/fontawesome/css/all.min.css' %}" />
   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/vendors/animate-css/animate.css' %}" />

   <!-- Main Stylesheet -->
   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/css/style.css' %}" />
   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/css/responsive.css' %}" />

   {% endcomment %}

   <!-- Global site tag (gtag.js) - Google Analytics -->
   {% comment %}
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-190250545-1"></script>

   <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
         dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-190250545-1");
   </script>
   {% endcomment %}

   <script async src="https://www.googletagmanager.com/gtag/js?id=G-NKBKFHN4MT"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
         dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-NKBKFHN4MT");
   </script>

   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-K1L4WGV6EM"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
         dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-K1L4WGV6EM");
   </script>

   {% block head %}
   <link rel="canonical" href="https://pdhsafety.com{{ request.path }}" />
   {% endblock %}
</head>

<body id="top-header">
   <header>

      <div class="header-top">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-4 col-md-4">
                 

                  <ul class="header-contact">
                     {% comment %} <li>
                        <span>Call :</span>
                        +914-473-6791
                     </li> {% endcomment %}
                     <li>
                        <span>Email :</span>
                        <a class="text-white" title="mail@pdhsafety.com" href="mailto:mail@pdhsafety.com">mail@pdhsafety.com</a>
                     </li>
                  </ul>
                  <div class="header-socials header-socials-v2">
                     <ul>
                         <li><a title="facebook" target="_blank" href="https://www.facebook.com/people/NYC-Construction-Safety-Training/61561593072255/"><i class="fab fa-facebook-f"></i></a></li>
                         <li><a title="x" target="_blank" href="https://x.com/nyc_safety"><i class="fab fa-twitter"></i></a></li>
                         <li><a title="linkedin" target="_blank" href="https://www.linkedin.com/company/nyc-construction-safety-training/"><i class="fab fa-linkedin"></i></a></li>
                         <li><a title="instagram" target="_blank" href="https://www.instagram.com/nyccst/"><i class="fab fa-pinterest"></i></a></li>
                     </ul>
                 </div>
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="header-right float-right">
                     <div class="header-socials">
                        <ul>
                           <li>
                              {% if request.user.is_authenticated %}
                              <a title="Welcome" href="#">Welcome, {{ request.user.first_name }}</a>
                              {% else %}
                             
                              <a title="Student Register" href="{% url 'student_registration' %}" aria-label="Register">Student Register</a>
                              {% endif %}
                           </li>
                        </ul>
                     </div>
                     <div class="header-btn">
                        {% if request.user.is_authenticated %} {% if request.user.is_teacher == True %}
                        <a title="Dashboard" href="{% url 'teacher_dashboard' %}" class="mb-1 btn btn-main btn-small"
                           aria-label="Teacher Dashboard">Teacher Dashboard</a>
                        {% endif %} {% if request.user.is_student == True %}
                        <a title="Dashboard" href="{% url 'student_dashboard' %}" class="mb-1 btn btn-main btn-small"
                           aria-label="Student Dashboard">Student Dashboard</a>
                           {% endif %} {% if request.user.is_business == True %}
                           <a title="Dashboard" href="{% url 'business_dashboard' %}" class="d-none mb-1 btn btn-main btn-small"
                              aria-label="Business Dashboard">My Dashboard</a>
                        {% endif %} {% if request.user.is_superuser == True %}
                        <a title="Dashboard" href="{% url 'admin_dashboard' %}" class="mb-1 btn btn-main btn-small"
                           aria-label="Admin Dashboard">Admin Dashboard</a>
                        {% endif %}
                        <a title="Dashboard" href="{% url 'logout' %}?v={% now 'M-d-Y-H-i-s' %}" class="mb-1 btn btn-main btn-small"
                           aria-label="Logout">
                           <i class="fa fa-sign-out-alt"></i>
                        </a>
                        {% else %}
                        <a title="Dashboard" href="{% url 'login' %}" class="btn btn-main btn-small" aria-label="Login"> <i
                              class="fa fa-user mr-2"></i>Login </a>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Main Menu Start -->

      <div class="site-navigation main_menu">
         <nav class="navbar navbar-expand-lg">
         
            <div class="container justify-content-start1">

               <a title="NYC Construction Safety Training (PdhSafety.com)" class="navbar-brand text-dark" title="Make Safety Training Happen" href="/" aria-label="Home">
                  <img src="{% static 'edutim/images/logo100.png' %}" width="100" height="100"
                     alt="Make Safety Training Happen" title="NYC Construction Safety Training (PdhSafety.com)" class="img-fluid" />
               </a>
               <span class="mr-auto top-logo-tagline d-none d-md-block d-lg-block d-xl-block">Make Safety Training Happen</span>

               <form method="get" class="" action="{% url 'courses_list' %}">
                  <div class="input-group top-search-wrap">
                     <input type="text" class="form-control" id="textQ" name="q"
                        placeholder="What do you want to learn?" title="Search courses here. " />
                     <div class="input-group-append">

                        <button title="loading" aria-label="loading" class="btn btn-light d-none btn-loader" type="button" disabled>
                           <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                           <span class="sr-only">Loading...</span>
                        </button>

                        <button title="Search" aria-label="Search" class="btn btn-main-2" type="submit">
                           <i class="fa fa-search"></i>
                        </button>
                     </div>
                  </div>

               </form>

               <!-- Toggler -->
            </div>
            <!-- / .container -->
         </nav>
      </div>

      <div class="site-navigation main_menu" id="mainmenu-area">
         <nav class="navbar navbar-expand-lg">
            <div class="container justify-content-center">

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                  aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="fa fa-bars"></span>
               </button>

               <a title="Cart" class="navbar-toggler ml-auto" href="{% url 'cart_detail' %}?time={% now "U" %}">
                  <span class="fa fa-shopping-cart">Cart <span class="top-cart-count"></span> </span>
               </a>

               <!-- Collapse -->
               <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a title="Home" class="nav-link" href="/" aria-label="Home"> Home </a>
                     </li>

                     <li class="nav-item dropdown">
                        <a title="Courses" class="nav-link dropdown-toggle" href="{% url 'courses_list' %}" id="navbar3" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                           Courses<i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu subjects-child-dropdown" aria-labelledby="navbar3">
                     
                           <div class="p-2 mb-2 bg-light">
                     
                              <div class="input-group mb-3">
                                 <input type="text" id="txtSearchSubjects" class="form-control" placeholder="Search Categories" />
                                 <div class="input-group-append">
                                    <button class="btn btn-outline-dark" id="btnClearSubjectSearch" type="button">
                                       <i class="fa fa-times"></i>
                                    </button>
                                 </div>
                              </div>
   
                           </div>
                           <div id="listItems" style="max-height: 500px;overflow: auto;">
                              Loading..
                           </div>
                        </div>
                     </li>

                     <li class="nav-item">
                        <a title="Business Account Register" class="nav-link" href="{% url 'business_user_register' %}" aria-label="Business"> Business Account </a>
                     </li>

                     <li class="nav-item">
                        <a title="Training Verification" class="nav-link" href="/sst-verify/"> Training Verification </a>
                     </li>

                     <li class="nav-item">
                        <a title="Contact" href="/contact/" class="nav-link"> Contact </a>
                     </li>
                  </ul>

                  <ul class="header-contact-right">
                     <li>
                        <a title="Cart" href="{% url 'cart_detail' %}?time={% now "U" %}" class="header-cart" alt="My Cart" aria-label="My Cart">
                            My Cart <i class="fa fa-shopping-cart"></i>
                        </a>
                        <span class="top-cart-count">0 items</span>
                     </li>

                  </ul>
               </div>
               <!-- / .navbar-collapse -->
            </div>
            <!-- / .container -->
         </nav>
      </div>
   </header>

   <!--search overlay start-->
   <!-- <div class="search-wrap">
      <div class="overlay">
         <form action="" class="search-form">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 col-9">
                     <h3>Search Your keyword</h3>
                     <input type="text" class="form-control" placeholder="Search..." />
                  </div>
                  <div class="col-md-2 col-3 text-right">
                     <div class="search_toggle toggle-wrap d-inline-block">
                        <img class="search-close" src="{% static 'edutim/images/close.png' %}"
                           srcset="% static 'edutim/images/close@2x.png 2x' %}" alt="" width="39" height="39" />
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div> -->
   <!--search overlay end-->

   {% block content %}{% endblock %}

   <section class="footer pt-120">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 mr-auto col-sm-6 col-md-6">
               <div class="widget footer-widget mb-5 mb-lg-0">
                  <span class="widget-title">About Us</span>
                  <p class="mt-3">
                     NYC Construction Safety Training (PdhSafety.com)
                     aims to offer quality training that is relevant and useful for the construction industry. These efforts include offering training courses that are essential for achieving success and career outcomes in the construction industry, ensuring that course material is both useful and applicable. We conduct perpetual reviews of training materials to maintain accuracy and relevance, and we are committed to developing a team of high-quality staff and instructors.
                  </p>
                  <ul class="list-inline footer-socials">
                     <li class="list-inline-item">
                        <a title="facebook" target="_blank"
                           href="https://www.facebook.com/people/NYC-Construction-Safety-Training/61561593072255/"
                           aria-label="Facebook">
                           <i class="fab fa-facebook-f"></i>
                        </a>
                     </li>
                     <li title="twitter" class="list-inline-item">
                        <a title="twitter" href="https://x.com/nyc_safety" target="_blank" aria-label="Twitter">
                           <i class="fab fa-twitter"></i>
                        </a>
                     </li>
                     <li class="list-inline-item">
                        <a title="linkedin" target="_blank" aria-label="Linkedin"
                           href="https://www.linkedin.com/company/nyc-construction-safety-training/">
                           <i class="fab fa-linkedin"></i>
                        </a>
                     </li>
                     <li class="list-inline-item" aria-label="Pinterest">
                        <a title="instagram" class="pinterest" href="https://www.instagram.com/nyccst/" target="_blank" aria-label="Twitter">
                           <i class="fab fa-pinterest"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>

            <div class="col-lg-2 col-sm-6 col-md-6">
               <div class="footer-widget mb-5 mb-lg-0">
                  <h5 class="widget-title">Quick Links</h5>
                  <ul class="list-unstyled footer-links">


                     {% if not request.user.is_authenticated %}

                     <li>
                        <a title="Login" href="{% url 'login' %}">Login</a>
                     </li>

                     <li>
                        <a title="Register" href="{% url 'student_registration' %}">Register</a>
                     </li>
                     <li>
                        <a title="Business Register" href="{% url 'business_user_register' %}">Business Account</a>
                     </li>
                    
                     {% endif %}

                     <li>
                        <a title="Privacy Policy" href="/privacy-policy/">Privacy Policy</a>
                     </li>
                     <li>
                        <a title="Terms Conditions" href="/terms-conditions/">Terms Conditions</a>
                     </li>
                     <li>
                        <a title="Refund Policy" href="/refund-policy/">Refund Policy</a>
                     </li>
                     <li>
                        <a title="FAQs" href="/faq/">FAQs</a>
                     </li>
                  </ul>
               </div>
            </div>

            <div class="col-lg-2 col-sm-6 col-md-6">
               <div class="footer-widget mb-5 mb-lg-0">
                  <h5 class="widget-title">Company</h5>
                  <ul class="list-unstyled footer-links">
                     <li>
                        <a title="About us" href="/about/">About us</a>
                     </li>
                     <li>
                        <a title="Contact us" href="/contact/">Contact us</a>
                     </li>
                     <li>
                        <a title="Training Verification" href="/sst-verify/">Training Verification</a>
                     </li>
                  </ul>
               </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6">
               <div class="footer-widget footer-contact mb-5 mb-lg-0">
                  <h5 class="widget-title">Contact</h5>

                  <ul class="list-unstyled">
                     {% comment %} <li>
                        <i class="fa fa-phone"></i>
                        <div>
                           <strong>Phone number</strong>
                           +914-473-6791
                        </div>
                     </li> {% endcomment %}
                     <li>
                        <i class="far fa-envelope"></i>
                        <div>
                           <strong>Email Address</strong>
                           <a title="mail@pdhsafety.com" href="mailto:mail@pdhsafety.com">mail@pdhsafety.com</a>
                        </div>
                     </li>
                     <li>
                        <i class="fas fa-location-arrow"></i>
                        <div>
                           <strong>Office Address</strong>
                           189 Valentine Ln Yonkers, New York 10705
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <div class="footer-btm">
         <div class="container">
            <div class="row justify-content-center align-items-center">
               <div class="col-lg-2">
                  <div class="footer-logo">
                     <img data-src="{% static 'edutim/images/logo100.png' %}" width="100" height="100"
                      title="NYC Construction Safety Training (PdhSafety.com)" alt="NYC Construction Safety Training (PdhSafety.com)" class="lazy img-fluid" />
                  </div>
               </div>
               <div class="col-lg-10">
                  <div class="copyright text-lg-center">
                     <p>Copyright © 2021 All rights reserved | NYC Construction Safety Training, LLC (PdhSafety.com)</p>
                    
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <div class="fixed-btm-top">
      <a title="Scroll Top" href="#top-header" class="js-scroll-trigger scroll-to-top" aria-label="Scroll Top" alt="Scroll Top">
         <i class="fa fa-angle-up"></i>
      </a>
   </div>

   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/vendors/fontawesome/css/all.min.css' %}" />

   <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/vendors/bicon/css/bicon.min.css' %}" />

      <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/vendors/owl/assets/owl.carousel.min.css' %}" />
      <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"
      href="{% static 'edutim/vendors/owl/assets/owl.theme.default.min.css' %}" />


   <!-- Main jQuery -->
   <script src="{% static 'edutim/vendors/jquery/jquery.js' %}"></script>
   <!-- Bootstrap 4.5 -->
   <script async src="{% static 'edutim/vendors/bootstrap/bootstrap.min.js' %}"></script>
   <script defer src="{% static 'edutim/vendors/jquery.validate.min.js' %}"></script>
   <script defer src="{% static 'edutim/vendors/jquery.form.min.js' %}"></script>
   <script defer src="{% static 'edutim/vendors/sweetalert.min.js' %}"></script>
   <script defer src="{% static 'edutim/vendors/handlebars.min.js' %}"></script>
   <script defer src="{% static 'edutim/vendors/jquery.lazy.min.js' %}"></script>
   <script defer src="{% static 'edutim/vendors/owl/owl.carousel.min.js' %}"></script>
   <script defer src="{% static 'edutim/js/script.js' %}"></script>

   <script>
      (function ($) {
         $.GlobalCartManager = function (options) {
            var that = this;

            var keyName = "__nyc_cart__data__";

            var settings = $.extend({}, options);

            var addCourseToMemory = function (dataObject) {

               var memoryData = getMemoryData();

               if (!("_ps_" in memoryData)) {
                  memoryData["_ps_"] = [];
               }

               var dataList = memoryData["_ps_"];

               var itemIndex = dataList.findIndex(a => a.pk == dataObject.pk);

               if (itemIndex >= 0) {
                  dataList[itemIndex].qty = 1;
               } else {
                  dataList.push(dataObject);
               }
               memoryData["_ps_"] = dataList;

               localStorage.setItem(keyName, JSON.stringify(memoryData));

               onChangeCart();

               console.log("cart updated.");

               Toast.fire({ icon: "success", title: "Course has been added to cart." });

               window.location.href = '{% url "cart_detail" %}?time=' + $.now();
            };

            var onChangeCart = function () {
               var memoryData = getMemoryData();

               var count = 0;

               if (!("_ps_" in memoryData)) {
                  count = 0;
               } else {
                  count = memoryData["_ps_"].length;
               }

               var countText = count <= 0 || count > 1 ? " items " : " item";

               $(".top-cart-count").html(count + countText);
            };

            var getMemoryData = function () {
               try {
                  var memoryData = localStorage.getItem(keyName);

                  var parsedMemoryData = {};

                  if (memoryData) {
                     parsedMemoryData = JSON.parse(memoryData);
                  }

                  return parsedMemoryData;
               } catch (error) {
                  return {};
               }
            };

            var logEvent = function (product) {
               try {
                  const fields = product.fields;

                  const discounted_price = fields.discounted_price;
                  const price = parseFloat(fields.price);
                  const discounted_price_value = discounted_price ? parseFloat(discounted_price) : 0.00;

                  const itemObject = {
                     item_id: product.pk,
                     item_name: fields.title,
                     affiliation: product.subject,
                     discount: discounted_price_value > 0 ? (price - discounted_price).toFixed(2) : discounted_price_value,
                     index: 0,
                     item_brand: product.subject,
                     item_list_id: product.subject,
                     item_list_name: product.subject_slug,
                     item_variant: 'Premium_Course',
                     location_id: "ChIJEWeHU0PywokRO83ywHyX8q8",
                     price: discounted_price_value > 0 ? discounted_price_value : price,
                     quantity: 1
                  };

                  itemObject.discount = parseFloat(itemObject.discount);

                  const eventObject = {
                     currency: "USD",
                     value: itemObject.price,
                     items: [
                        itemObject
                     ]
                  };

                  gtag("event", "add_to_cart", eventObject);

                  console.log(eventObject)

               } catch (error) {
                  console.log('logEvent', error);
               }
            };

            var registerEvent = function () {

               $("div").on("click", ".link-add-cart", function (e) {

                  e.stopPropagation();

                  var dataJson = $(this).attr("data-json");
                  var subject = $(this).attr("data-subject");
                  var subjectSlug = $(this).attr("data-subject-slug");

                  if (dataJson) {
                     var parsedData = JSON.parse(dataJson);

                     if (subject) {
                        parsedData.subject = subject;
                     }
                     if (subjectSlug) {
                        parsedData.subject_slug = subjectSlug;
                     }

                     logEvent(parsedData);
                     addCourseToMemory(parsedData);

                  }
               });
            };

            var init = function () {
               registerEvent();
               onChangeCart();
            };

            init();

            return this;
         };
      })(jQuery);

      $(document).ready(function () {
         $("img.lazy").lazy({});

         var globalCart = new $.GlobalCartManager({});
      });

      function autocomplete(inp, arr) {
         /*the autocomplete function takes two arguments,
         the text field element and an array of possible autocompleted values:*/
         var currentFocus;
         /*execute a function when someone writes in the text field:*/
         inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val || val.length < 3) { return false; }
            currentFocus = -1;

            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");

            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);


            $(".btn-loader").removeClass('d-none');

            $.get('{% url "api_v1:courses-list" %}', { format: 'json', limit: 5, result_type: 'auto_search', q: val }, function (response) {

               arr = response;

               /*for each item in the array...*/
               for (i = 0; i < arr.length; i++) {

                  /*create a DIV element for each matching element:*/
                  b = document.createElement("DIV");
                  /*make the matching letters bold:*/
                  // b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                  b.innerHTML += arr[i].title;
                  /*insert a input field that will hold the current array item's value:*/
                  b.innerHTML += "<input type='hidden' value='" + arr[i].slug + "'>";

                  /*execute a function when someone clicks on the item value (DIV element):*/

                  b.addEventListener("click", function (e) {
                     /*insert the value for the autocomplete text field:*/
                     inp.value = this.getElementsByTagName("input")[0].value;
                     Swal.showLoading();
                     window.location.href = '/course/' + inp.value;
                     /*close the list of autocompleted values,
                     (or any other open lists of autocompleted values:*/
                     closeAllLists();
                  });

                  a.appendChild(b);
               }

               $(".btn-loader").addClass('d-none');
            });



         });
         /*execute a function presses a key on the keyboard:*/
         inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
               /*If the arrow DOWN key is pressed,
               increase the currentFocus variable:*/
               currentFocus++;
               /*and and make the current item more visible:*/
               addActive(x);
            } else if (e.keyCode == 38) { //up
               /*If the arrow UP key is pressed,
               decrease the currentFocus variable:*/
               currentFocus--;
               /*and and make the current item more visible:*/
               addActive(x);
            } else if (e.keyCode == 13) {
               /*If the ENTER key is pressed, prevent the form from being submitted,*/
               e.preventDefault();
               if (currentFocus > -1) {
                  /*and simulate a click on the "active" item:*/
                  if (x) x[currentFocus].click();
               }
            }
         });
         function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
         }
         function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
               x[i].classList.remove("autocomplete-active");
            }
         }
         function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
               if (elmnt != x[i] && elmnt != inp) {
                  x[i].parentNode.removeChild(x[i]);
               }
            }

            $(".btn-loader").addClass('d-none');
         }
         /*execute a function when someone clicks in the document:*/
         document.addEventListener("click", function (e) {
            closeAllLists(e.target);
         });
      }

      autocomplete(document.getElementById("textQ"), []);


   </script>
   {% block scripts %}{% endblock %}
</body>

</html>