{% extends "app_base.html" %}
{% load staticfiles %}

{% block title %}
- Legal
{% endblock %}

{% block content %}

<div class="breadcumb-area">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">NYC CONSTRUCTION SAFETY TRAINING - Legal</li>
        </ol>
    </nav>
</div>

<div class="regular-page-area section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-content">

                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header bg-secondary p-1 text-white" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Terms of Service
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Terms of Service..
                                </div>
                            </div>
                        </div>

                        <!-- END headingOne -->

                        <div class="card">
                            <div class="card-header bg-secondary p-1 text-white" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Proprietary Interest Policy
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p> It is the policy of NYCCST that the Proprietary Interest of Trainers/Instructors
                                        is disclosed. </p>
                                    <p>Any set of learning materials used to conduct a training, or learning event, that
                                        is created by an individual, independent of NYCCST funding and guidance, will be
                                        credited to the individual. </p>
                                    <p>At the beginning of each learning event the instructor will disclose proprietary
                                        interest and relay that the materials used for instruction at NYCCST do not
                                        violate any personal or property rights of any other organization or individual.
                                    </p>
                                    <p>Courses and other learning materials created by an individual are to be licensed
                                        for use at NYCCST and the developer shall be credited for the presented
                                        material. NYCCST holds no financial obligation to any other 3rd party
                                        organization for the development, use, and distribution of learning materials.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <!-- END headingTwo -->

                        <div class="card">
                            <div class="card-header bg-secondary p-1 text-white" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Anti-Discrimination Policy
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">

                                    <p >
                                        NYC Construction Safety Training, LLC does not tolerate discrimination, nor
                                        tolerate
                                        explicit references of a discriminatory nature, based on gender, gender
                                        identity, gender
                                        expression, race, national origin, color, religion, age, disability, veteran
                                        status,
                                        socioeconomic status, marital status, pregnancy, and/or sexual orientation.
                                    </p>



                                </div>
                            </div>
                        </div>

                        <!-- END headingThree -->

                        <div class="card">
                            <div class="card-header bg-secondary p-1 text-white" id="heading4">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                                        data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                        Copyright Policy
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Copyright Policy
                                </div>
                            </div>
                        </div>

                        <!-- END heading4 -->

                        <div class="card">
                            <div class="card-header bg-secondary p-1 text-white" id="heading5">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                                        data-target="#collapse5" aria-expanded="false" aria-controls="collapse4">
                                        User Identity / Integrity Agreement
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    User Identity / Integrity Agreement
                                </div>
                            </div>
                        </div>

                        <!-- END heading5 -->

                        <div class="card">
                            <div class="card-header bg-secondary p-1 text-white" id="heading6">
                                <h2 class="mb-0">
                                    <button class="btn btn-link text-white" type="button" data-toggle="collapse"
                                        data-target="#collapse6" aria-expanded="false" aria-controls="collapse4">
                                        NYCCST Agreement
                                    </button>
                                </h2>
                            </div>
                            <div id="collapse6" class="collapse" aria-labelledby="heading6"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    Agreement
                                </div>
                            </div>
                        </div>

                        <!-- END heading5 -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}

<style>
    .accordion .btn-link:hover {
        text-decoration: none;
        color: #d16112 !important;
    }
</style>

<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}