{% extends 'admin_base.html' %}

{% block title %} - Order Detail {% endblock %}

{% block content %}
<noscript>
    <style type="text/css">
        .pagecontainer {
            display: none;
        }
    </style>
    <div class="noscriptmsg">You don't have javascript enabled. Good luck with that.</div>
</noscript>

<div class="pagecontainer">
   <div class="row">
    <div class="col">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <h5 class="card-title">Order Details (#14534)</h5>
            </div>
        </div>
       
    </div>
    <div class="col">
        <div class="card mb-4 py-3 border-left-primary">
            <div class="card-body">
                <h5 class="card-title">Customer Details</h5>
            </div>
        </div>
    </div>
   </div>
</div>
//TODO
{% endblock %}