{% extends "app_base.html" %}
{% load staticfiles %}

{% block title %} Evaluate {% endblock %}

{% block content %}

<div class="breadcumb-area">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">COURSE - EVALUTION</li>
        </ol>
    </nav>
</div>

<div class="regular-page-area section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-content">

                    <div class="row">

                        <div class="col-12 col-lg-9 offset-lg-1">


                            <div class="card">

                                <div class="card-header">
                                    COURSE - EVALUTION
                                </div>
                                <div class="card-body">

                                    <form action="#" method="post" id="fmEvaluate">

                                        <div>
                                            <p>
                                                1) Considering your complete experience with our class, how likely are
                                                you
                                                to recommend it to your friends or colleagues?
                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="recommend" id="">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        Very likely
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="recommend" id="">
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        Likely
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                2) On a scale of 1 to 7, 7 being the highest, how satisfied are you with
                                                the overall format (environment ) of the class?
                                            </p>

                                            <div class="form-group p-3">
                                                <input type="number" min="1" max="7" value="1"
                                                    class="form-control form-control-sm" id="">
                                            </div>

                                        </div>

                                        <div>
                                            <p>
                                                3) The learning event achieved the defined learning outcomes?
                                            </p>

                                            <div class="form-group p-3">


                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_outcomes" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_outcomes" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_outcomes" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_outcomes" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_outcomes" id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                4) On a scale of 1 to 7, 7 being the highest, how would you rate the
                                                instructor for the knowledge they possess about the topic being taught?
                                            </p>

                                            <div class="form-group p-3">
                                                <input type="number" min="1" max="7" value="1"
                                                    name="instructor_knowledge" class="form-control form-control-sm"
                                                    id="">
                                            </div>

                                        </div>

                                        <div>
                                            <p>
                                                5) How helpful was the class material provided to you?
                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="helpful_material"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Extremely helpful
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="helpful_material"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Very helpful
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="helpful_material"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat helpful
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="helpful_material"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Not so helpful
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="helpful_material"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Not at all helpful
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                6) Is there opportunities to improve the learning event.?
                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_opportunities" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_opportunities" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_opportunities" id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_opportunities" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="learning_opportunities" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly agree
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                7) On a scale of 1 to 7, 7 being the highest, how beneficial was the class
                                                for you?
                                            </p>

                                            <div class="form-group p-3">
                                                <input type="number" min="1" max="7" value="1" name="beneficial_class"
                                                    class="form-control form-control-sm" id="">
                                            </div>

                                        </div>

                                        <div>
                                            <p>
                                                8) Do you think the class provided the right amount of theoretical and
                                                practical experience?
                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="theoretical_experience" id="">
                                                    <label class="form-check-label" for="">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="theoretical_experience" id="">
                                                    <label class="form-check-label" for="">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                9) Do you think the class teachings will be helpful for the growth in
                                                your career?
                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="helpful_growth_career" id="">
                                                    <label class="form-check-label" for="">
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"
                                                        name="helpful_growth_career" id="">
                                                    <label class="form-check-label" for="">
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                10) Please state how satisfied were you with the grade given to you?
                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="grade_given"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Very dissatisfied
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="grade_given"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Dissatisfied
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="grade_given"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="grade_given"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Satisfied
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="grade_given"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Very satisfied
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                11) Please state your level of agreement for the following statements:
                                                The class was very well organized

                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="class_organized"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="class_organized"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="class_organized"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="class_organized"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio" name="class_organized"
                                                        id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly agree
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                12) The instructor was very knowledgeable about the topic that was
                                                taught

                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_knowledgeable" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_knowledgeable" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_knowledgeable" id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_knowledgeable" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_knowledgeable" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly agree
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                13) The instructor was very good at communication

                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_communication" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_communication" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_communication" id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_communication" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_communicationk" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly agree
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>
                                                14) The instructor was motivating and enthusiastic

                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_motivating" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_motivating" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_motivating" id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_motivating" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_motivating" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly agree
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

     <div>
                                            <p>
                                                15) The instructor’s methods helped in understanding the topic better

                                            </p>

                                            <div class="form-group p-3">
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_methods" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_methods" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat disagree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_methods" id="">
                                                    <label class="form-check-label" for="">
                                                        Neutral
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_methods" id="">
                                                    <label class="form-check-label" for="">
                                                        Somewhat agree
                                                    </label>
                                                </div>
                                                <div class="form-check mb-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="instructor_methods" id="">
                                                    <label class="form-check-label" for="">
                                                        Strongly agree
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-success" id="btnSubmit">Submit Response</button>
                                </div>
                            </div>


                        </div>




                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<style>
    form label {
        float: none;
    }

    form input {
        float: none;
        width: auto;
    }
</style>

<script>
    $(document).ready(function () {

        $("#fmEvaluate input[type='checkbox']").change(function () {

            var checked = $("#fmEvaluate input[type='checkbox']:checked").length;


            if (checked > 3) {
                $(this).attr('checked', false);
            }


        });

        $("#btnSubmit").click(function () {

            var data = [];

            $("#fmEvaluate input[type='checkbox']:checked").each(function () {
                data.push(this.value);
            });

            console.log(data);


        });
    });
</script>
{% endblock %}