{% extends "app_base.html" %}
{% load staticfiles %}
{% block title %} FAQ | pdhsafety.com
{% endblock %}
{% block content %}

    <section class="page-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="page-header-content">
                        <h1>Frequently Asked Questions</h1>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="list-inline-item">/</li>
                            <li class="list-inline-item">
                                FAQs
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <main class="site-main page-wrapper woocommerce single single-product">
        <section class="space-3">
            <div class="container">
                <div class="row" id="packagesList">
                    <div class="col-12">
                        <div class="page-content">
                            <div class="card">
                                <div class="card-header">
                                    <strong>
                                        How do I register?
                                    </strong>
                                </div>
                                <div class="card-body">
                                    To register for an account, please
                                    <a href="{% url 'student_registration' %}">
                                        <strong>click here</strong>
                                    </a>.
                                </div>
                            </div>
                            <!-- end card -->
                            <div class="card mt-2">
                                <div class="card-header">
                                    <strong>
                                        What courses do you offer?
                                    </strong>
                                </div>
                                <div class="card-body">
                                   We offer a variety of online courses,  Certified Safety Professional (BCSP) Exam Prep, OSHA Hazardous Waste Operations and Emergency Response (HAZWOPER), Confined Space Training, Emergency and Fire Safety, Construction Safety, 
                                    Environmental Health and Safety, OSHA Construction Safety and Health, Safety Management, Scaffold Training, Fall Protection in Construction and many more please     
                                    <a href="{% url 'courses_list' %}">
                                        <strong>click here</strong>
                                    </a>.
                                </div>
                            </div>
                            <!-- end card -->
                            <div class="card mt-2">
                                <div class="card-header">
                                    <strong>
                                        How can I contact you?
                                    </strong>
                                </div>
                                <div class="card-body">
                                    You can call us at 914-473-6791, email us at
                                    <a href="mailto:mail@pdhsafety.com" class="text-primary">mail@pdhsafety.com</a>
                                    or, please
                                    <a href="{% url 'contact_detail' %}">
                                        <strong>click here</strong>
                                    </a>
                                    and leave us a message.
                                </div>
                            </div>
                            <!-- end card -->
                           
                            <!-- end card -->
                          
                            <!-- end card -->
                            
                            <!-- end card -->
                            <div class="card mt-2">
                                <div class="card-header">
                                    <strong>
                                        Where can I register for OSHA 10 course?
                                    </strong>
                                </div>
                                <div class="card-body">
                                    You can register for Occupational Safety and Health Administration, OSHA 10 here at Construction Safety Training, LLC. To view our OSHA 10 course, please
                                    <a href="{% url 'student_registration' %}">
                                        <strong>click here</strong>
                                    </a>.
                                </div>
                            </div>
                            <!-- end card -->
                            <div class="card mt-2">
                                <div class="card-header">
                                    <strong>
                                        Where can I register for OSHA 30 course?
                                    </strong>
                                </div>
                                <div class="card-body">
                                    You can register for Occupational Safety and Health Administration, OSHA 30 here at Construction Safety Training, LLC. To view our OSHA 30 course, please
                                    <a href="{% url 'student_registration' %}">
                                        <strong>click here</strong>
                                    </a>.
                                </div>
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--shop category end-->
    </main>


{% endblock %}
{% block scripts %}
    <style></style>
    <script>
        $(document).ready(function () {});
    </script>
{% endblock %}
