{% extends "teacher_base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}


<div class="mt-3 d-sm-flex align-items-center justify-content-between mb-4 p-2">
  <h1 class="h3 mb-0 text-gray-800">My Dashboard</h1>
  <a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-add"></i> Generate Reports</a>
</div>

<div class="row">

  <div class="col-xl-3">
    <div class="card shadow border-0">
      <div class="card-body p-0">
        <!-- stat 1 -->
        <div class="media px-3 py-4 border-bottom">
          <div class="media-body">
            <h4 class="mt-0 mb-1 font-size-22 font-weight-normal">{{courses_count}}</h4>
            <span class="text-muted">Total Courses</span>
          </div>
          <i class="align-self-center fa fa-book fa-lg"></i>
        </div>

      </div>
    </div>
  </div>
  <!-- end col-->

  <div class="col-xl-3">
    <div class="card shadow border-0">
      <div class="card-body p-0">

        <!-- stat 2 -->
        <div class="media px-3 py-4 border-bottom">
          <div class="media-body">
            <h4 class="mt-0 mb-1 font-size-22 font-weight-normal">{{students_count}}</h4>
            <span class="text-muted">Total Students</span>
          </div>
          <i class="align-self-center fa fa-graduation-cap fa-lg"></i>
        </div>

      </div>
    </div>
  </div>
  <!-- end col-->

</div>

<div class="row">

  <div class="col-xl-3 mt-2">
    <div class="card shadow border-0">
      <div class="card-body text-center">
        <a class="font-weight-bold text-uppercase btn btn-info btn-block" href="/teachers/courses/">View My Courses</a>
      </div>
    </div>
  </div>
  <!-- end col-->

  <div class="col-xl-3 mt-2">
    <div class="card shadow border-0">
      <div class="card-body text-center">
        <a class="font-weight-bold text-uppercase btn btn-dark btn-block" href="{% url 'messages' %}">View Messages</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}