.sidebar-wrapper .sidebar-brand {
    padding: 10px 7px;
    align-items: center;
    background: #4f4e4e;
    border-radius: 2px;
    border: 1px solid #4d4b4b;
  }
  
  .sidebar-wrapper .sidebar-brand a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
    color: #d9d9d9;
  }
  
  .sidebar-wrapper {
    left: 0px;
    background: #575757;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #474444;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.23);
  }
  
  .sidebar-wrapper {
    width: 100%;
    min-width: 260px;
    min-height: 260px;
    height: auto;
    max-height: 100%;
    top: 0;
    left: -300px;
    z-index: 999;
  }
  
  .sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-wrapper a {
    text-decoration: none;
  }
  
  .sidebar-wrapper .sidebar-content a:hover {
    background: #5b5b5b;
  }
  
  .sidebar-content {
    max-height: calc(100% - 30px);
    height: calc(100% - 30px);
    overflow-y: auto;
    position: relative;
  }
  
  .sidebar-content.desktop {
    overflow-y: hidden;
  }
  
  /*----------------------sidebar-menu-------------------------*/
  
  .sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
  }
  
  .sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: bold;
    font-size: 14px;
    padding: 15px 20px 5px 20px;
    display: inline-block;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 10px 30px 10px 20px;
    color: #bdbdbd;
    font-size: 14px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transform: rotate(90deg);
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 2px 0;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 10px;
    font-size: 13px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a span.label, .sidebar-wrapper .sidebar-menu ul li a span.badge {
    float: right;
    margin-top: 4px;
    margin-right: 43px;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(0deg);
    right: 17px;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a.active {
    background: #000;
  }
  
  .sidebar-wrapper .sidebar-menu .sidebar-submenu a {
    font-size: 13px;
    padding: 7px 10px 7px 2px;
    border-bottom: 2px solid #323232;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 2px;
    font-size: 12px;
    width: 24px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 4px;
    background: #4f4f4f;
    color: #fff;
    font-family: FontAwesome;
    border: 1px solid #4b4848;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a.pin {
    background: #3d3d3d;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a.complete {
    border-bottom: 2px solid #1e8d02;
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i.video:before {
    content: "\f03d";
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i.text:before {
    content: "\f0f6";
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i.image:before {
    content: "\f03e";
  }
  
  .sidebar-wrapper .sidebar-menu ul li a i.file:before {
    content: "\f016";
  }

  .notification .dropdown-list {
    padding: 0;
  }

  .notification .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
    font-weight: 800;
    font-size: .65rem;
  }
  
  .notification .dropdown-item  {

    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
  }
  .notification .icon-circle {

      height: 1.0rem;
      width: 1.0rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
  }
  .notification .text-gray-500 {
    color: #b7b9cc!important;
  }

  .notification .font-weight-bold {
    font-weight: 500!important;
    font-size: 12px;
}