{% extends "admin_base.html" %}
{% block title %} - Assessment {% endblock %}

{% block content %}

<div>
    <div class="row mb-3">
        <div class="col">
           <select class="form-control" id="ddl_courses" name="ddl_courses"
           >
           <option value="">Select Course</option>
        </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" id="btnGetRatings">Fetch Assessments</button>
        </div>
     </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Assessments</h6>
    </div>
    <div class="card-body" id="student_ratings_area">
        
    </div>
</div>


{% verbatim %}
<script type="text/x-handlebars-template" id='listItemTemplate'>

    <tr id="{{id}}">
        <td>{{id}}</td>
        <td>
        {{course.title}}
        </td>
         <td>
        {{student.first_name}} {{student.last_name}}
        </td>
        <td>
        {{#date}}{{created}}{{/date}}
        </td>
        <td>
            <a href="javascript:;" class="btn btn-info btn-sm link-view" id="{{id}}">View</a>
        </td>
    </tr>
</script>
{% endverbatim %}

{% endblock %}

{% block scripts %}

<script>
    (function ($) {

        Handlebars.registerHelper("date", function (options) {
            return new Handlebars.SafeString(moment(this.created).format('LL'));
        });

        $.EvaluationsManager = function (options) {

            var that = this;

            var allCoursesList = [];
            var ratedCoursesList = [];

            var settings = $.extend({}, options);

            var getCourses = function() {
                $.get('/api/courses/', {}, function(response){
                    allCoursesList = response;
                    getRatedCourses();
                });
            };

            var getList = function () {
                $.get('/api/course-evaluation/?format=json', {}, function (response) {
                    evaluationsList = response;
                    drawList();
                });
            };

            var drawList = function () {

                if (dataTableObject) {
                    dataTableObject.destroy();
                }

                $("#listTable tbody").empty();

                $(evaluationsList).each(function (index, item) {
                    var source = document.getElementById("listItemTemplate").innerHTML;
                    var template = Handlebars.compile(source);
                    $("#listTable tbody").append(template(item));

                });

                dataTableObject = $("#listTable").DataTable();

                dataTableObject.order([
                    [0, 'desc']
                ]).draw();

            };

            var getRatedCourses = function () {
    
                $.ajax({
                    type: "GET",
                    url: '{% url "api_admin_v1:view_admin_asess_ratings-get-courses-ids" %}',
                    data: {},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    success: function (response, textStatus, xhr) {
                        console.log(response)

                        allCoursesList.forEach(function(item){
                            if(response.find(a=>a.course == item.id)) {
                                var option = `<option value="${item.id}">${item.title}</option>`;
                                $("#ddl_courses").append(option);
                            }
                          
                         });
                    },
                    complete: function (xhr, textStatus) { },
                    failure: function (errMsg) { }
                });

            };

            var registerEvent = function () {

                $("div").on("click", "#btnGetRatings", function (e) {
                    e.stopPropagation();

                    var id = $('#ddl_courses').val();
                    getRatings(id);
                });

                var getRatings = function (id) {
    
                    $.ajax({
                        type: "GET",
                        url: '{% url "api_admin_v1:view_admin_asess_ratings-get-course-ratings" %}',
                        data: {course_id:13},
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                        },
                        success: function (response, textStatus, xhr) {
                            drawRating(response)
                        },
                        complete: function (xhr, textStatus) { },
                        failure: function (errMsg) { }
                    });
    
                };

                const drawRating = function(list) {
list.forEach(function(item) {
    console.log($("#table-"+item.student.id))
    if($("#table-"+item.student.id).length<=0) {
        var html = `  <table class="table table-bordered mb-4" id="table-${item.student.id}">
          <thead>
            <tr>
                <th>${item.student.first_name} ${item.student.last_name}</th>
                <th>Rated</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
          </table>`
        
              $("#student_ratings_area").append(html);
            }

            var lisHTML = ` <tr>
                <td>
                    ${item.key_name}
                </td>
                <td>
                    ${item.key_value}
                </td>
            </tr>`;

            $("#table-"+item.student.id + " tbody").append(lisHTML);
})
                }

           

                $("div").on("click", ".link-view", function (e) {
                    e.stopPropagation();

                    var id = $(this).attr('id');

                    var dataObject = evaluationsList.find(a => a.id == id);

                    if (dataObject) {

                        for (var key in dataObject) {
                            $("#fmEvaluate #" + key).html(dataObject[key]).css('min-width', 50)
                                .addClass('px-3');
                        }

                        $("#detailModal").modal({
                            show: true,
                            backdrop: 'static'
                        });
                    }



                });

            };

            var init = function () {
                registerEvent();
                getCourses();
            };

            init();

            return this;

        };

    }(jQuery));

    $(document).ready(function () {
        var studentManager = new $.EvaluationsManager({});
    });
</script>

{% endblock %}