{% extends "admin_base.html" %} {% block title %} - Students {% endblock %} {% block content %}

<noscript>
   <style type="text/css">
       .pagecontainer {display:none;}
   </style>
   <div class="noscriptmsg">
   You don't have javascript enabled.  Good luck with that.
   </div>
</noscript>


<div class="pagecontainer">
   <div>
      <div class="d-flex align-items-center justify-content-center loader mb-2">
         <div class="spinner-border text-primary mr-2" role="status" aria-hidden="true"></div>
         <span class="badge badge-secondary px-2"><strong>Loading...</strong></span>
      </div>
   </div>
   
   <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary">Students</h6>
         <div class="dropdown no-arrow">
            <button type="button" class="btn btn-success btn-sm link-new-user" disabled><i class="fa fa-plus"></i> ADD
               NEW</button>
         </div>
      </div>
      <div class="card-body">
         <div class="table-responsive">
            <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">
               <thead>
                  <tr>
                     <th>#</th>
                     <th>IMG</th>
                     <th>UserName</th>
                     <th>First Name</th>
                     <th>Last Name</th>
                     <th>Phone</th>
                     <th>Email</th>
                     <th>Courses</th>
                  </tr>
               </thead>
               <tbody></tbody>
            </table>
         </div>
      </div>
   </div>
   
</div>

<div id="userModal" class="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Manage Student Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body"></div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnSaveUser">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<div id="courseModal" class="modal" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Student Courses</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>

         <div class="bg-light p-2">
            <div class="row mb-1">
               <div class="col-md-8">
                  <select class="form-control" id="ddlCourses" name="course">
                     <option value="">Select Course</option>
                  </select>
               </div>
               <div class="col-md-2">
                  <button class="btn btn-info" id="btnAssignCourse">Add Course</button>
               </div>
               <div class="col-md-1">
                  <div class="spinner-border text-primary mb-2 d-none" role="status">
                     <span class="sr-only">Loading...</span>
                  </div>

               </div>
            </div>

         </div>

         <div class="modal-body">

            <div class="row mb-3">
               <div class="col">
                  <table class="table table-bordered" id="tblStudentCourses">
                     <thead class="bg-light">
                        <tr>
                           <th>ID</th>
                           <th>Course</th>
                           <th>Price</th>
                           <td>Date</td>
                           <th>Action</th>
                        </tr>
                     </thead>

                     <tbody></tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="d-none">
   <form id="fmFile" action="{% url 'upload-file' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="file" id="fu" /><br />
   </form>
</div>

{% verbatim %}
<script type="text/x-handlebars-template" id="studentListItemTemplate">
   <tr id="{{id}}">
      <td>{{id}}</td>
      <td>

         {{#if image}}

            <a href="{{image}}" target="_blank">
               <img src="{{image}}" width="35" alt="img" />
            </a>
         {{else}}
            <img src="https://via.placeholder.com/200x200.png?text=.." width="35" alt="img" />
         {{/if}}

      </td>
      <td>{{username}}</td>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{cell_number}}</td>
      <td>{{email}}</td>

   </tr>
</script>
{% endverbatim %} {% verbatim %}
<script type="text/x-handlebars-template" id="studentFormTemplate">

   <form>

       <input type="hidden" name="id" id="id" value="{{id}}" >
       <input type="hidden" name="image" id="id_image" value="{{image}}">

       <div class="row">

           <div class="col-md-8">

               <div class="row mb-3">

                   <div class="col d-none">
                       <div class="custom-control custom-radio custom-control-inline">
                           <input checked type="radio" id="customRadioInline1" name="role" value="is_student"
                               class="custom-control-input">
                           <label class="custom-control-label" for="customRadioInline1">Student</label>
                       </div>
                       <div class="custom-control custom-radio custom-control-inline">
                           <input type="radio" id="customRadioInline2" name="role" value="is_teacher"
                               class="custom-control-input">
                           <label class="custom-control-label" for="customRadioInline2">Teacher</label>
                       </div>
                   </div>

               </div>

               <div class="row mb-3">
                   <div class="col">
                       <input type="text" class="form-control" value="{{first_name}}" id="first_name" name="first_name" placeholder="First name">
                   </div>
                   <div class="col">
                       <input type="text" class="form-control" value="{{last_name}}" id="last_name" name="last_name" placeholder="Last name">
                   </div>
               </div>
               <div class="row mb-3">

                   <div class="col">
                       <input type="text" class="form-control" value="{{cell_number}}" id="cell_number" name="cell_number"
                           placeholder="Cell number">
                   </div>


                   <div class="col">
                       <input type="text" class="form-control" value="{{email}}" id="email" name="email" placeholder="Email">
                   </div>

               </div>
               <div class="row mb-3 bg-light p-1">

                   <div class="col">
                       <input type="text" class="form-control" {{#if id}}disabled{{/if}} value="{{username}}" id="username" name="username" placeholder="Login name">
                  
                       <!-- <div>
                        <a href="javascript:;" class="text-info link-create-username">Create Random</a>
                       </div> -->
                     </div>

                   <div class="col">
                       <input type="password" class="form-control" {{#if id}}disabled{{/if}} id="password" name="password" placeholder="Password">
                       <!-- <div>
                        <a href="javascript:;" class="text-info link-create-password">Create Random</a>
                       </div> -->
                     </div>

               </div>
               <div class="row mb-3">
                   <div class="col">
                       <input type="text" class="form-control" value="{{address}}" id="address" name="address" placeholder="Address">
                   </div>
               </div>

           </div>

           <div class="col-md-4 text-center mt-3">

               {{#if image}}
                   <img src="{{image}}" id="prevImage" alt="image" style="max-height: 200px;"
                   class="img-thumbnail">

               {{else}}
               <img src="https://via.placeholder.com/200x200.png?text=.." id="prevImage" alt="image" style="max-height: 200px;"
                   class="img-thumbnail">
               {{/if}}

               <p class="mt-2">
                   <a href="javascript:;" id="btnAddImage" class="btn btn-primary btn-sm" role="button">
                       Upload Image
                   </a>

                   <a href="javascript:;" id="btnRemoveImage" class="btn btn-danger btn-sm" role="button">
                       Remove
                   </a>
               </p>

               <div class="progress" style="height:3px;">
                   <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
               </div>

           </div>

       </div>

       <div class="spinner-border text-primary mb-2 d-none" role="status">
         <span class="sr-only">Loading...</span>
      </div>


   </form>
</script>
{% endverbatim %} {% verbatim %}

<script type="text/x-handlebars-template" id="itemActionTemplate">
   <div class="row">
      <div class="col student-courses" pk="{{id}}">

      </div>

      <div class="col text-right">
         <a href="javascript:;" class="btn btn-dark btn-sm link-course-user" id="{{id}}">
            Courses
         </a>

         <a href="javascript:;" class="btn btn-info btn-sm link-edit-user" id="{{id}}">
            Edit
         </a>
         <a href="javascript:;" class="btn btn-info btn-sm link-password-user" id="{{id}}">
            Change Password
         </a>
         <a href="javascript:;" class="btn btn-danger btn-sm link-delete-user" id="{{id}}">
            Delete
         </a>
      </div>
   </div>
</script>
{% endverbatim %} {% verbatim %}

<script type="text/x-handlebars-template" id="studentCourseItemTemplate">
   <tr id="{{id}}" data-enrollment-id="{{enrollment.id}}">
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{price_format}}</td>
      <td>
         <small>Start: {{enrollment.created}}</small> <br />
         <small>Complete: {{enrollment.completed_date}}</small>
      </td>
      <td> <a href='#' class='badge badge-danger link-delete-enrollment' data-id='{{enrollment.id}}'>Delete</a> </td>
   </tr>
</script>

{% endverbatim %} {% endblock %} {% block scripts %}

<script>
   Handlebars.registerHelper("get_name", function (options) {
      var r = this.username;

      if (this.first_name && this.last_name) {
         r = this.first_name + " " + this.last_name;
      } else if (this.email) {
         r = this.email;
      }

      return new Handlebars.SafeString(r);
   });

   let waitDialog = bootbox.dialog({
      message: '<p class="text-center mb-0"><i class="fas fa-spinfa-cog"></i> Please wait, processing request...</p>',
      closeButton: false
   });

   (function ($) {
      $.fn.serializeObject = function () {
         var o = {};
         var a = this.serializeArray();

         $.each(a, function () {
            if (o[this.name] !== undefined) {
               if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
               }

               o[this.name].push(this.value || "");
            } else {
               o[this.name] = this.value || "";
            }
         });

         return o;
      };
   })(jQuery);

   (function ($) {

      $.StudentManager = function (options) {

         var that = this;

         var studentsList = [];
         var userDataTable;
         var studentCoursetDT;

         var coursesList = [];

         var settings = $.extend({}, options);

         var getStudents = function () {

            try {

               $(".loader").parent().show();
               $(".loader strong").text("Loading Students");
   
               if (userDataTable) {
                  userDataTable.destroy();
               }
   
               $("#usersTable").on("draw.dt", function () {
                  if (!userDataTable) return;
   
                  $("#usersTable tbody tr").each(function () {
   
                     var row = userDataTable.row($(this));
   
                     var data = row.data();
   
                     var source = document.getElementById("itemActionTemplate").innerHTML;
                     var template = Handlebars.compile(source);
   
                     //var element = studentsList.find(a => a.id == $(this).attr("id"));
   
                     row.child(template(data)).show();
                  });
   
                  $(".loader").parent().hide();
                  $(".link-new-user").removeAttr("disabled");
                  waitDialog.modal('hide');
               });
   
               $("#usersTable").on('xhr.dt', function (e, settings, json, xhr) {
                  studentsList = json.data;
               });
   
               userDataTable = $("#usersTable").DataTable({
                  ajax: '{% url "api_v1:api_users_list" %}' + "?format=json&is_student=1&is_active=1&_=" + $.now(),
                  processing: true,
                  serverSide: true,
                  columns: [
                     { data: "id" },
                     {
                        data: "image",
                        render: function (data) {
                           return '<img src="' + data + '" width="40px">';
                        },
                     },
                     { data: "username" },
                     { data: "first_name" },
                     { data: "last_name" },
                     { data: "cell_number" },
                     { data: "email" },
                     { data: "enrolled_count" },
                  ],
               });
            }
            catch(e) {
               document.write(e)
            }

         };

         var getCourses = function (isFetchStudents) {

            try {

               $(".loader").parent().show();
               $(".loader strong").text("Loading courses..");
   
               return $.get('{% url "api_v1:courses-list" %}', { format: "json", _: $.now() }, function (response) {
                  coursesList = response;
   
                  if (isFetchStudents) getStudents();
               });

            } catch(e) {
               document.write(e)
            }

           
         };

         var fillCoursesList = function () {
            $("#ddlCourses").html('<option value="">Select Course</option>');

            $(coursesList).each(function (index, item) {
               $("#ddlCourses").append('<option value="' + item.id + '">' + item.title + "</option>");
            });
         };

         var saveUser = function () {

            var isValid = $("#userModal form").valid();
            if (!isValid) return;

            $("#userModal .spinner-border").removeClass("d-none");
            $("#userModal button").attr("disabled", true);

            var data = $("#userModal form").eq(0).serializeObject();

            if (data.role) {
               data[data.role] = true;
               delete data.role;
            }

            $("#userModal form .alert").remove();

            url = '{% url "api_v1:api_user_detail" pk=0 %}';

            if (data.id > 0) {
               url = url.replace("0", data.id);
            }
            else {
               url = url.replace("/0", "");
            }

            $.ajax({
               type: data.id > 0 ? "PUT" : "POST",
               url: url,
               data: JSON.stringify(data),
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
               },
               success: function (response, textStatus, xhr) {
                  if (textStatus == "success") {
                     $("#userModal").modal("hide");

                     if (data.id > 0) {
                        toastr.success("Student has been updated");
                     }
                     else {
                        toastr.success("Student has been added");
                     }

                     getStudents();
                  }
               },
               complete: function (xhr, textStatus) {
                  if (xhr.status == 400) {
                     $("#userModal form .alert").remove();

                     $("#userModal form").append(
                        $("<div />", {
                           class: "alert alert-warning",
                        }).html(xhr.responseText)
                     );
                  }

                  $("#userModal .spinner-border").addClass("d-none");
                  $("#userModal button").attr("disabled", false);
               },
               failure: function (errMsg) {
                  $("#userModal").modal("hide");
                  $("#userModal .spinner-border").addClass("d-none");
                  $("#userModal button").attr("disabled", false);
               },
            });
         };

         var deleteUser = function (id) {

            url = '{% url "api_v1:api_user_detail" pk=0 %}';
            url = url.replace("0", id);

            $.ajax({
               type: "DELETE",
               url: "/api/users/" + id + "/",
               // contentType: "application/json; charset=utf-8",
               // dataType: "json",
               beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
               },
               success: function (response, textStatus, xhr) {
                  toastr.warning("User has been deleted");
                  getStudents();
               },
               complete: function (xhr, textStatus) { },
               failure: function (errMsg) { },
            });
         };

         var drawStudentCourses = function () {

            var id = $("#courseModal").attr("data-id");

            id = parseInt(id);

            if (studentCoursetDT) {
               studentCoursetDT.destroy();
            }

            $("#tblStudentCourses tbody").html('<div class="badge badge-info">Loading courses</div>');

            $.get('{% url "api_v1:enrollments-list" %}', { student: id, _: $.now() }, function (response) {

               $("#tblStudentCourses tbody").empty();

               $(response).each(function (index, item) {

                  var course = coursesList.find(a => a.id == item.course);
                  course.enrollment = item;
                  course.price_format = course.price;

                  var source = document.getElementById("studentCourseItemTemplate").innerHTML;
                  var template = Handlebars.compile(source);
                  $("#tblStudentCourses tbody").append(template(course));
               });

               if (response.length <= 0) {
                  $("#tblStudentCourses tbody").html('<div class="badge badge-info">No course found..</div>');
               }
               else {
                  studentCoursetDT = $("#tblStudentCourses").DataTable();
               }

            });
         };

         var assignCourse = function (user, course) {

            $("#courseModal .spinner-border").removeClass("d-none");
            $("#courseModal button").attr("disabled", true);

            var data = {
               user: user,
               course: course,
            };

            $.ajax({
               type: "POST",
               url: '{% url "api_v1:enrollments-list" %}',
               data: JSON.stringify(data),
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
               },
               success: function (response, textStatus, xhr) {
                  if (textStatus == "success") {

                     $("#courseModal .spinner-border").addClass("d-none");
                     $("#courseModal button").attr("disabled", false);

                     toastr.success("Course has been addded");

                     drawStudentCourses();

                     // getCourses(false).then(function () {
                     //    setTimeout(function () {
                     //       drawStudentCourses();

                     //       $("#courseModal .spinner-border").addClass("d-none");

                     //       $("#courseModal button").attr("disabled", false);
                     //    }, 2000);
                     // });

                  }
               },
               complete: function (xhr, textStatus) {
                  if (xhr.status == 400) {
                  }
               },
               failure: function (errMsg) { },
            });
         };

         var deleteEnrollment = function (id) {

            $("#courseModal .spinner-border").removeClass("d-none");
            $("#courseModal button").attr("disabled", true);

            var url = '{% url "api_v1:enrollments-force-remove" pk=0 %}';
            url = url.replace("0", id);

            $.ajax({
               type: "POST",
               url: url,
               data: null,
               contentType: "application/json; charset=utf-8",
               dataType: "json",
               beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
               },
               success: function (response, textStatus, xhr) {
                  toastr.success("Enrollment deleted");
                  $("tr[data-enrollment-id='" + id + "']").remove();
                  $("#courseModal .spinner-border").addClass("d-none");
                  $("#courseModal button").attr("disabled", false);

               },
            });
         };

         var resetUserPassword = function (id, newPassword) {

            var url = '{% url "api_v2:view_user_profile-admin-reset-password" %}';

            waitDialog.modal('show');

            $.ajax({
               type: "POST",
               url: url,
               data: { user_id: id, password: newPassword },
               //contentType: "application/json; charset=utf-8",
               //dataType: "json",
               beforeSend: function (xhr, settings) {
                  xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
               },
               success: function (response, textStatus, xhr) {

                  setTimeout(() => {
                     waitDialog.modal('hide');

                     if (response.status == false) {
                        toastr.error(response.message);
                     }
                     else {
                        toastr.success("Password has been updated");
                     }

                  }, 1000);

               },
            });
         };

         var registerEvent = function () {

            $("div").on("click", ".link-new-user", function (e) {
               e.stopPropagation();

               $("#userModal").removeAttr("data-id");

               $("#userModal").modal({
                  show: true,
                  backdrop: "static",
               });
            });

            $("div").on("click", ".link-edit-user", function (e) {
               e.stopPropagation();

               $("#userModal").attr("data-id", $(this).attr("id"));

               $("#userModal").modal({
                  show: true,
                  backdrop: "static",
               });
            });

            $("div").on("click", ".link-course-user", function (e) {
               e.stopPropagation();

               var id = $(this).attr("id");

               $("#courseModal").attr("data-id", $(this).attr("id"));

               $("#courseModal").modal({
                  show: true,
                  backdrop: "static",
               });

               fillCoursesList();
               drawStudentCourses();
            });

            $("div").on("click", ".link-delete-user", function (e) {
               e.stopPropagation();

               var id = $(this).attr("id");

               bootbox.confirm("Are you sure? You want to delete this user", function (r) {
                  if (r == true) {
                     deleteUser(id);
                  }
               });
            });

            $("div").on("click", ".link-password-user", function (e) {
               e.stopPropagation();

               var id = $(this).attr("id");

               bootbox.prompt('Enter new password!',
                  function (result) {
                     if (result) {
                        resetUserPassword(id, result);
                     }
                  });
            });

            $("div").on("click", "#btnAssignCourse", function (e) {
               e.stopPropagation();

               $("#btnAssignCourse").attr('disabled', true);

               var val = $("#ddlCourses").val();

               var trs = $("#tblStudentCourses tr#" + (val ? val : 0));

               var user = $("#courseModal").attr("data-id");

               if (val && trs.length <= 0) {
                  assignCourse(user, val);
               }
               else {
                  $("#btnAssignCourse").attr('disabled', false);
                  toastr.warning("Course already exist in this student record..");
               }
            });

            $("div").on("click", ".link-create-username", function (e) {
               e.stopPropagation();
            });

            $("div").on("click", "#btnSaveUser", function (e) {
               e.stopPropagation();
               saveUser();
            });

            $("div").on("click", "#btnAddImage", function (e) {
               e.stopPropagation();
               $("#fu").trigger("click");
            });

            $("div").on("click", "#btnRemoveImage", function (e) {
               e.stopPropagation();
               $("#prevImage").attr("src", "https://via.placeholder.com/200x200.png?text=..");
               $("#id_image").val(null);
            });

            $("div").on("click", ".link-delete-enrollment", function (e) {
               e.stopPropagation();

               var id = $(this).attr("data-id");

               bootbox.confirm("Are you sure? You want to delete this enrollment.", function (r) {
                  if (r == true) {
                     deleteEnrollment(id);
                  }
               });
            });

            $("#fu").change(function () {
               $("#fmFile").submit();
            });

            $("#fmFile").ajaxForm({
               beforeSend: function () {
                  $(".progress-bar").css("width", 0);
               },
               uploadProgress: function (event, position, total, percentComplete) {
                  $(".progress-bar").css("width", percentComplete + "%");
               },
               success: function (response) {
                  if (response != 0) {
                     $("#prevImage").attr("src", response);
                     $("#id_image").val(response);
                  }
               },
               complete: function (xhr) { },
            });

            $("#userModal").on("shown.bs.modal", function (e) {

               var id = $("#userModal").attr("data-id");

               var element = studentsList.find(a => a.id == id);

               var source = document.getElementById("studentFormTemplate").innerHTML;
               var template = Handlebars.compile(source);
               $("#userModal .modal-body").html(template(element));

               $("#userModal form").validate({
                  rules: {
                     first_name: "required",
                     last_name: "required",
                     password: "required",
                     username: "required",
                     email: {
                        email: true,
                     },
                  },
               });
            });
         };

         var init = function () {
            registerEvent();
            getCourses(true);
         };

         init();

         return this;
      };
   })(jQuery);

   $(document).ready(function () {
      var studentManager = new $.StudentManager({});
   });
</script>

{% endblock %}