{% extends "student_base.html" %}
{% load staticfiles %}

{% block title %} Evaluate {% endblock %}

{% block content %}


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h6 class="card-title text-justify mb-3">
                        Please give your assessment about "{{object}}" learning an event.
                        Your thoughtful and objective response to each question is a highly valued part of
                        NYC Construction Safety Training's facilitation and the learning continuous
                        improvement
                        process. Thank You.
                    </h6>
                    <form action="#" method="post" id="fmEvaluate">

                        <input type="hidden" name="course" value="{{object.id}}">
                        <input type="hidden" name="student" value="{{student_id}}">

                        <table class="table table-bordered text-center table-sm">
                            <thead>
                                <tr>
                                    <th>Strongly Disagree</th>
                                    <th>Disagree Somewhat</th>
                                    <th>Neutral</th>
                                    <th>Agree Somewhat</th>
                                    <th>Strongly Agreee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tbody>
                        </table>

                        <table class="table table-striped">

                            <tbody>
                                <tr title="The learning event meet my expectations">
                                    <td>
                                        The learning event meet my expectations.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>


                                <tr title="The subject matter was well organized.">
                                    <td>
                                        The subject matter was well organized.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="The materials and handouts were helpful.">
                                    <td>
                                        The materials and handouts were helpful.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="The learning event achieved the defined learning outcomes.">
                                    <td>
                                        The learning event achieved the defined learning outcomes.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="I liked how the facilitators presented and delivered the content.">
                                    <td>
                                        I liked how the facilitators presented and delivered the content.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="The facilitators seemed knowledgeable about the subject matter.">
                                    <td>
                                        The facilitators seemed knowledgeable about the subject matter.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr
                                    title="The facilitators conveyed a positive and respectful attitude toward the participants.">
                                    <td>
                                        The facilitators conveyed a positive and respectful attitude toward
                                        the participants.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr
                                    title="I had the opportunity to provide feedback on how to apply my new skills on the job.">
                                    <td>
                                        I had the opportunity to provide feedback on how to apply my new
                                        skills on the job.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="I was given clear direction on how to implement my action items.">
                                    <td>
                                        I was given clear direction on how to implement my action items.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="I was provided with guidance and support to access training course.">
                                    <td>
                                        I was provided with guidance and support to access training course.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="The learning event met my learning style.">
                                    <td>
                                        The learning event met my learning style.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="The learning environment and facilities were appropriate for this event.">
                                    <td>
                                        The learning environment and facilities were appropriate for this
                                        event.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                                <tr title="I would recommend this learning event to my colleagues.">
                                    <td>
                                        I would recommend this learning event to my colleagues.
                                    </td>
                                    <td>
                                        <div class="number">1</div>
                                    </td>
                                    <td>
                                        <div class="number">2</div>
                                    </td>
                                    <td>
                                        <div class="number">3</div>
                                    </td>
                                    <td>
                                        <div class="number">4</div>
                                    </td>
                                    <td>
                                        <div class="number">5</div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" id="btnSubmit">Submit Response</button>
                </div>
            </div>
        </div>
    </div>


</div>



{% endblock %}

{% block scripts %}

<style>
    td div {
        background: #000;
        color: #fff;
        text-align: center;
        border: 1px solid #000;
        cursor: pointer;
    }

    td div:hover {

        background: #20a041;
        border: 1px solid #20a041;
    }

     td div.number.active {

        background: #20a041;
        border: 1px solid #20a041;
    }
</style>

<script>
    $(document).ready(function () {

        toastr.options.positionClass = 'toast-bottom-center';

        $("#fmEvaluate input").each(function () {
            $(this).attr('required', true);
        });

        $("div.number").click(function () {
            $(this).parent().parent().find(".number").removeClass('active');
            $(this).addClass('active');
        });

        $("#btnSubmit1").click(function () {

            var valid = $("#fmEvaluate").valid();

            if (!valid) {

                $('html, body').animate({
                    scrollTop: $("label.error").eq(0).offset().top - 10
                }, 2000);

                return;
            }

            var data = $("#fmEvaluate").serializeObject();

            $("#fmEvaluate input").attr('disabled', true);
            $("#btnSubmit").attr('disabled', true);

            $.ajax({
                type: "POST",
                url: "/api/course-evaluation/",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (response) {

                    if (response.id > 0) {
                        toastr.success('Thank you! You response has been recorded');
                    }

                    setTimeout(function () {
                        window.location.href = '/';
                    }, 3000);
                },
                failure: function (errMsg) {}
            });



        });
    });
</script>
{% endblock %}