{% extends "app_base.html" %}
{% load staticfiles %}
{% block title %}
- Contact
{% endblock %}
{% block content %}
<div class="home-courses">
    <div class="container">
        <div class="row mb-4">
            <div class="col text-center">
                <h3>Contact Us</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="page-content">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="contact-form mt-0">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="text" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" id="message" cols="30"
                                                    rows="10" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button type="button" class="btn btn-orange w-100">Post A Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Contact Info</h4>
                                </div>
                                <div class="card-body">
                                    <h6 class="mb-3"><i class="fa fa-phone mr-2" aria-hidden="true"></i> +914-473-6791</h6>
                                    <h6 class="mb-3"><i class="fa fa-envelope mr-2" aria-hidden="true"></i>
                                        <a class="text-dark" href="mailto:nyccst@construction-safety-nyc.com">
                                            nyccst@construction-safety-nyc.com
                                        </a></h6>

                                         <h6><i class=" fa fa-map-pin" aria-hidden="true"></i> 189 Valentine Ln Yonkers, New York 10705</h6>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}