{% verbatim %}
    <script id="featureFormTemplate" type="text/x-handlebars-template">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Manage Features</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/api/course-features/" id="fmFeature">

                        {{{ csrf_token }}}

                        <input type="hidden" class="form-control" name="course" value="{{ course_id }}"/>

                        <div class="row">
                            <div class="col-3">
                                <div class="list-group" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
                                        Certificate</a>
                                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
                                        Learning Outcomes</a>
                                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Notes
                                    </a>

                                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
                                        Completion Requirements</a>

                                    <a class="list-group-item list-group-item-action" id="list-credits-list" data-toggle="list" href="#list-credits" role="tab" aria-controls="credits">
                                        Credits</a>

                                    <a class="list-group-item list-group-item-action" id="list-more-list" data-toggle="list" href="#list-more" role="tab" aria-controls="more">
                                        More Features</a>
                                </div>
                            </div>
                            <div class="col-9">

                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                        <textarea name="schedule" class="form-control">
                                            {{ schedule }}
                                        </textarea>
                                    </div>
                                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                                        <textarea name="outcomes" class="form-control">
                                            {{ outcomes }}
                                        </textarea>
                                    </div>
                                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                                        <textarea name="notes" class="form-control">
                                            {{ notes }}
                                        </textarea>
                                    </div>
                                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                                        <textarea name="completion_requirements" class="form-control">
                                            {{ completion_requirements }}
                                        </textarea>
                                    </div>
                                    <div class="tab-pane fade" id="list-credits" role="tabpanel" aria-labelledby="list-credits-list">
                                       
                                         
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Credits</label>
                                            <input name="credits" value=" {{ credits }}" class="form-control" />
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="list-more" role="tabpanel" aria-labelledby="list-more-list">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Certificate</label>
                                                    <select class="form-control" data-value="{{ certificate_status }}" name="certificate_status">
                                                        <option value="No">No</option>
                                                        <option value="Yes">Yes</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect2">Language</label>
                                                    <select class="form-control" data-value="{{ language }}" name="language">
                                                        <option value="English">English</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect3">Skill Level</label>
                                                    <select class="form-control" data-value="{{ skill_level }}" name="skill_level">
                                                        <option value="Beginner">Beginner</option>
                                                        <option value="Proficient">Proficient</option>
                                                        <option value="Expert">Expert</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label for="exampleFormControlInput1">Duration</label>
                                                    <input type="text" class="form-control bg-white" name="duration" value="{{ duration }}"/>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnSaveFeatures">
                        Save Changes
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </script>
{% endverbatim %}
