<div id="studentsEnrolledModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Students Enrolled</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body vh-100" style="overflow: hidden auto">
                <div class="row">
                    <div class="col-md-4">
                        <div id="studentsPanel">
                            <div class="list-group" id="studentsEnrollList"></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div id="studentProgressPanel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
