{% extends 'teacher_base.html' %}

{% block title %}
    {% if object %}
        Edit course "{{ object.title }}"
    {% else %}
        Create a new course
    {% endif %}
{% endblock %}

{% block content %}


    <section class="section-padding popular-course-slider bg-feature pt-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="section-heading center-heading">

                        <a href="{% url 'manage_course_list' %}" class="subheading">
                            <i class="fa fa-arrow-alt-circle-left"></i>
                            View Courses
                        </a>

                        <h3>
                            {% if object %}
                                Edit course "{{ object.title }}"
                            {% else %}
                                Create a new course
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <section class="feature-3">
                        <div class="container">
                            <div class="row no-gutters">
                                <div class="col-md-8 offset-md-2">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="" method="post">
                                                {{ form.as_p }}
                                                {% csrf_token %}
                                                <p>
                                                    <button type="submit" class="btn btn-info" value="">
                                                        Save course</button>
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {

            $(".container input, select, textarea").addClass('form-control');
            $(".container textarea").css('height', 70);

            $("div").on("change", "#id_title", function (e) {
                e.stopPropagation();
                var val = $(this).val();

                $("#id_slug").val(null);

                if (val) {
                    $("#id_slug").val(string_to_slug(val));
                }

            });
        });

        function string_to_slug(str) {
            str = $.trim(str.toLowerCase());
            var regExp = /\s+/g;
            str = str.replace(regExp, '-');
            return str;
        }
    </script>
{% endblock %}
