{% extends 'teacher_base.html' %}
{% block title %}
    My Courses
{% endblock %}
{% block content %}

    <input type="hidden" value="{{ object_json }}" id="hfJson"/>

    <div id="hfCsrfToken">
        {% csrf_token %}
    </div>

    <section class="section-padding course-grid pt-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-7">
                    <div class="section-heading center-heading">
                        <h3>My Courses</h3>
                        <p>
                            <a href="{% url 'course_create' %}" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-add"></i>
                                Create New Course</a>
                        </p>

                    </div>
                </div>
            </div>

            <div class="row align-items-center mb-2">


                <div class="col-md-4 offset-md-1">
                    <div class="topbar-search">
                        <form method="get" action=".">
                            <input type="text" name="q" placeholder="Search courses" class="form-control"/>
                            <label>
                                <i class="fa fa-search"></i>
                            </label>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-secondary" onclick="window.location.href='/teachers/courses'">Clear Search</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <table class="table table-bordered bg-white">
                        <thead>
                            <tr>
                                <th>IMG</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in object_list %}
                                <tr id="q-{{ course.id }}">
                                    <td>
                                        {% if course.image %}
                                            <img width="22" src="{{ course.image }}" alt=""/>
                                        {% else %}
                                            <img width="22" src="/static/edutim/images/course.png" alt=""/>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="font-weight-bold">
                                            {{ course.title }}
                                        </div>
                                    </td>
                                    <td>
                                        {{ course.created|date:"M d, Y" }}
                                    </td>
                                    <td>
                                        {% if course.is_free %}
                                            <span class="badge badge-dark">Free</span>
                                        {% elif course.discounted_price > 0 %}
                                            <span class="badge badge-info">
                                                <s>{{ course.price }}</s>
                                            </span>
                                            <span class="badge badge-success">{{ course.discounted_price }}</span>
                                        {% elif course.price > 0 %}
                                            <span class="badge badge-warning">{{ course.price }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="p-4 bg-light">

                                        <div class="mb-3 text-center">
                                            <a class="badge badge-info px-3 py-1" href="{% url 'course_edit' course.id %}">
                                                Edit Basic</a>

                                            <a class="badge badge-info px-3 py-1 link-features" href="javascript:void(0);" pk="{{ course.id }}">
                                                Manage Features
                                            </a>

                                            <a class="badge badge-info px-3 py-1" href="{% url 'course_module_update' course.id %}">
                                                Manage Modules
                                            </a>

                                            {% if course.modules.count > 0 %}
                                                <a class="badge badge-info px-3 py-1" href="{% url 'module_content_list' course.modules.first.id %}">
                                                    Manage Contents
                                                </a>
                                            {% endif %}
                                            <a class="badge badge-info px-3 py-1 link-final-quiz" href="javascript:;" data-quiz="{{ course.quiz.id }}" data-id="{{ course.id }}">
                                                Final Quiz
                                            </a>
                                            {% if course.quiz %}
                                                <a class="badge badge-info px-3 py-1 link-quiz-summary" data-quiz="{{ course.quiz.id }}" href="javascript:void(0);">
                                                    Quiz Summary
                                                </a>
                                            {% endif %}

                                            <a class="badge badge-warning px-3 py-1 link-price" href="javascript:void(0);" pk="{{ course.id }}">
                                                Set Price
                                            </a>
                                            <a class="badge badge-info px-3 py-1 link-image" href="javascript:void(0);" pk="{{ course.id }}">
                                                Set Image
                                            </a>
                                            <a class="badge badge-info px-3 py-1 link-video" href="javascript:void(0);" pk="{{ course.id }}">
                                                Set Video
                                            </a>
                                            <a class="badge badge-primary px-3 py-1 link-copy" href="javascript:void(0);" pk="{{ course.id }}">
                                                Make Copy
                                            </a>
                                        </div>
                                        <div class=" text-center">
                                            <a href="javascript:;" class="badge badge-success px-3 py-1 link-students" pk="{{ course.id }}">
                                                View Students
                                            </a>
                                            <a href="{% url 'teacher_course_detail' course.id %}" class="badge badge-success px-3 py-1">
                                                View Course
                                            </a>

                                            <a class="badge badge-danger px-3 py-1" href="{% url 'course_delete' course.id %}">
                                                Delete Course
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                                {% empty %}
                                <p>You haven't created any courses yet.</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--course-->
    </section>

    {% include "manage/course/_copy.html" %}
    {% include "manage/course/_features.html" %}
    {% include "manage/course/_final_quiz_summary.html" %}
    {% include "manage/course/_final_quiz.html" %}
    {% include "manage/course/_image.html" %}
    {% include "manage/course/_price.html" %}
    {% include "manage/course/_student_enroll.html" %}
    {% include "manage/course/_video.html" %}
    {% include "manage/course/_final_quiz.html" %}

    <div id="videoModal" class="modal" tabindex="-1" role="dialog"></div>
    <div id="featureEditorModal" class="modal" tabindex="-1" role="dialog"></div>

    <form id="fmVideoFile" class="d-none" action="{% url 'upload-file' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="fuVideo"/>
    </form>

    {% verbatim %}

        <script type="text/x-handlebars-template" id="studentEnrollItemTemplate">
            <a href="javascript:;" class="list-group-item list-group-item-action link-student-enrolled" id="{{ id }}" item="{{ stringify }}">
                {{#get_name}}
                    {{ user }}
                {{/get_name}}
            </a>
        </script>

    {% endverbatim %}

    {% verbatim %}
        <script type="text/x-handlebars-template" id="studentCourseProgressTemplate">
            <table class="table table-bordered">
                <tr>
                    <td>Final Quiz</td>
                    <td>

                        {{#ifCond final_quiz.score ">=" 0}}
                            <span>{{ final_quiz.score }}%</span>
                        {{/ifCond}}
                        {{#ifCond final_quiz.score "<" 0}}
                            <span>Not Taken</span>
                        {{/ifCond}}
                    </td>
                </tr>
            </table>

            {{#ifCond final_quiz.score ">=" 0}}
                <div class="accordion mb-2" id="accordionExample" data-id="{{ final_quiz.quiz }}">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    View Quiz Details
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body"></div>
                        </div>
                    </div>

                </div>
            {{/ifCond}}

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>

                            {{#if is_completed}}
                                <span>Completed</span>
                            {{ else }}
                                <span>
                                    Not Finished Yet</span>
                            {{/if}}

                        </td>
                        <td>
                            {{#if is_completed}}
                                <button class="btn btn-warning btn-sm" type="button" id="btnMarkInCompleteCourse" target="{{ id }}">
                                    Mark incomplete
                                </button>
                            {{ else }}
                                <button class="btn btn-info btn-sm" type="button" id="btnMarkCompleteCourse" target="{{ id }}">
                                    Mark complete
                                </button>
                            {{/if}}

                        </td>
                        <td class="text-center">
                            {{{ dateFormat }}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>
    {% endverbatim %}

    {% verbatim %}

        <script type="text/x-handlebars-template" id="quizDetailTemplate">
            <p>{{ name }}</p>

            <ul class="list-group">
                {{#each questions}}
                    <li class="list-group-item">
                        <p>{{ text }}</p>

                        <ul class="answers">
                            {{#each answers}}
                                <li class="p-2" data-id="{{ id }}">{{ text }}
                                    {{#if is_correct}}
                                        <span class="badge badge-success">(Correct)</span>
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>

                    </li>

                {{/each}}
            </ul>
        </script>

    {% endverbatim %}

    {% verbatim %}
        <script type="text/x-handlebars-template" id="quizQuestionItemTemplate">
            {{#each questions}}
                <tr>
                    <td>{{ text }}</td>
                    <td class="correct">0</td>
                    <td class="wrong">0</td>
                </tr>
            {{/each}}
        </script>
    {% endverbatim %}


{% endblock %}


{% block scripts %}

    <script type="application/javascript">

        Handlebars.registerHelper("ifEquals", function (arg1, arg2, options) {
            return arg1 == arg2 ? options.fn(this) : options.inverse(this);
        });

        Handlebars.registerHelper("ifCond", function (v1, operator, v2, options) {
            switch (operator) {
                case "==":
                    return v1 == v2 ? options.fn(this) : options.inverse(this);
                case "===":
                    return v1 === v2 ? options.fn(this) : options.inverse(this);
                case "!=":
                    return v1 != v2 ? options.fn(this) : options.inverse(this);
                case "!==":
                    return v1 !== v2 ? options.fn(this) : options.inverse(this);
                case "<":
                    return v1 < v2 ? options.fn(this) : options.inverse(this);
                case "<=":
                    return v1 <= v2 ? options.fn(this) : options.inverse(this);
                case ">":
                    return v1 > v2 ? options.fn(this) : options.inverse(this);
                case ">=":
                    return v1 >= v2 ? options.fn(this) : options.inverse(this);
                case "&&":
                    return v1 && v2 ? options.fn(this) : options.inverse(this);
                case "||":
                    return v1 || v2 ? options.fn(this) : options.inverse(this);
                default:
                    return options.inverse(this);
            }
        });

        Handlebars.registerHelper("get_name", function (options) {
            var r = this.username;

            if (this.first_name && this.last_name) {
                r = this.first_name + " " + this.last_name;
            } else if (this.email) {
                r = this.email;
            }

            return new Handlebars.SafeString(r);
        });

        Handlebars.registerHelper("dateFormat", function (options) {
            if (this.completed_date) {
                return new Handlebars.SafeString(moment(this.completed_date).format("LL"));
            }

            return "Date Unavailable";
        });

        (function ($) {

            $.StudentsEnrolledManager = function (options) {
                var that = this;

                var studentsList = [];

                var settings = $.extend({}, options);

                var getStudents = function () {
                    var id = $("#studentsEnrolledModal").attr("data-id");

                    $.get("/api/student-history/?format=json", {
                        course: id
                    }, function (response) {
                        studentsList = response;
                        drawStudentsList();
                    });
                };

                var drawStudentsList = function () {
                    var activeElement = $(".link-student-enrolled.active");

                    $("#studentsEnrollList").empty();
                    $("#studentProgressPanel").empty();

                    $(studentsList).each(function (index, item) {
                        item.stringify = JSON.stringify(item);

                        var source = document.getElementById("studentEnrollItemTemplate").innerHTML;
                        var template = Handlebars.compile(source);
                        $("#studentsEnrollList").append(template(item));
                    });

                    if (activeElement.length > 0) {
                        $(".link-student-enrolled#" + activeElement.attr("id")).trigger("click");
                    }


                };

                var updateCourseCompleteStatus = function (id, status) {
                    $.ajax({
                        type: "POST",
                        url: "/api/course-enrollment/" + id + "/set_completed/",
                        data: JSON.stringify(
                            {status: status}
                        ),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (response, textStatus, xhr) {
                            getStudents();
                        }
                    });
                };

                var getQuizDetails = function (id) {

                    $.get("/api/quiz-details/?format=json", {
                        id: id
                    }, function (response) {
                        var source = document.getElementById("quizDetailTemplate").innerHTML;
                        var template = Handlebars.compile(source);
                        $("#accordionExample .card-body").html(template(response));

                        var userId = $("a.link-student-enrolled.active").attr("id");

                        var student = studentsList.find((a) => a.id == userId);

                        $(student.quiz_answers).each(function (ix, item) {
                            $(".answers li[data-id='" + item.answer + "']").append('<span class="badge badge-primary">Answered</span>');
                        });
                    });

                };

                var getQuizDetails2 = function () {
                    var id = $("#finalQuizSummaryModal").attr("data-id");

                    $.get("/api/quiz-details/?format=json", {
                        id: id
                    }, function (response) {
                        var source = document.getElementById("quizQuestionItemTemplate").innerHTML;
                        var template = Handlebars.compile(source);
                        $("#finalQuizSummaryModal tbody").html(template(response));

                        $("#finalQuizSummaryModal tbody tr").each(function () {
                            var x = Math.floor(Math.random() * 100) + 1;
                            var y = Math.floor(Math.random() * 100) + 1;

                            $(this).find(".correct").html(x);
                            $(this).find(".wrong").html(y);

                            if (y > x) {
                                $(this).addClass("bg-danger");
                            }
                        });
                    });
                };

                var registerEvent = function () {
                    $("div").on("click", ".link-students", function (e) {
                        e.stopPropagation();

                        var id = $(this).attr("pk");

                        $("#studentsEnrolledModal").attr("data-id", id);

                        $("#studentsEnrolledModal").modal({show: true, backdrop: "static"});
                    });

                    $("div").on("click", ".link-student-enrolled", function (e) {
                        e.stopPropagation();

                        var item = $(this).attr("item");

                        $("#studentsEnrollList .link-student-enrolled").removeClass("active");

                        $(this).addClass("active");

                        var itemObject = JSON.parse(item);

                        var courseId = $("#studentsEnrolledModal").attr("data-id");

                        var courseTaken = itemObject.course_enrolled.find((a) => a.course.id == courseId);

                        courseTaken.final_quiz = {
                            score: -1
                        };

                        var finalQuiz = itemObject.taken_quizzes.find((a) => a.quiz == courseTaken.course.quiz);

                        if (finalQuiz) {
                            courseTaken.final_quiz = finalQuiz;
                        }

                        var source = document.getElementById("studentCourseProgressTemplate").innerHTML;
                        var template = Handlebars.compile(source);
                        $("#studentProgressPanel").html(template(courseTaken));

                        $("#accordionExample").on("shown.bs.collapse", function () {
                            $("#accordionExample .card-body").empty();

                            var id = $("#accordionExample").attr("data-id");

                            getQuizDetails(id);
                        });
                    });

                    $("div").on("click", "#btnMarkCompleteCourse", function (e) {
                        e.stopPropagation();

                        var item = $(this).attr("target");

                        $("#btnMarkCompleteCourse").attr("disabled", true);
                        updateCourseCompleteStatus(item, true);
                    });

                    $("div").on("click", "#btnMarkInCompleteCourse", function (e) {
                        e.stopPropagation();

                        var item = $(this).attr("target");

                        $("#btnMarkInCompleteCourse").attr("disabled", false);
                        updateCourseCompleteStatus(item, false);
                    });

                    $("div").on("click", ".link-quiz-summary", function (e) {
                        e.stopPropagation();

                        var id = $(this).attr("data-quiz");

                        $("#finalQuizSummaryModal").attr("data-id", id);

                        $("#finalQuizSummaryModal").modal({show: true, backdrop: "static"});

                        getQuizDetails2();
                    });

                    $("#studentsEnrolledModal").on("shown.bs.modal", function (e) {
                        var id = $("#studentsEnrolledModal").attr("data-id");

                        getStudents();

                        $("#studentsEnrolledModal .modal-content").css({
                            "max-height": $(window).height() * 0.9
                        });

                        var h = $("#studentsEnrolledModal .modal-body").height();

                        $("#studentsPanel").css({
                            "max-height": h + "px",
                            overflow: "hidden auto"
                        });
                    });
                };

                var init = function () {
                    registerEvent();
                };

                init();

                return this;
            };

            $.PriceManager = function (options) {
                var that = this;

                var courseList = JSON.parse($("#hfJson").val());

                var settings = $.extend({}, options);

                var updatePrice = function () {
                    var formData = $("#fmPrice").serializeObject();
                    formData["is_free"] = $("#fmPrice input[name='is_free']").is(":checked");

                    if (! formData.price) {
                        formData.price = 0;
                    }

                    if (! formData.discounted_price) {
                        formData.discounted_price = 0;
                    }

                    $.ajax({
                        type: "PUT",
                        url: "/api/course-price/" + formData.id + "/",
                        data: JSON.stringify(formData),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (response, textStatus, xhr) {
                            if (response && response.id > 0) {
                                Toast.fire({icon: 'success', title: 'Price has been updated'});
                                window.location.reload();
                            }
                        }
                    });
                };

                var registerEvent = function () {

                    $(".link-price").click(function (event) {
                        event.stopPropagation();

                        var id = $(this).attr("pk");
                        var item = courseList.find((a) => a.pk == id);

                        if (id && item) {

                            $("#priceModal input[name='is_free']").prop("checked", item.fields.is_free);
                            $("#priceModal input[name='id']").val(id);

                            if (item.fields.is_free) {
                                $("#priceModal input[name='price']").val(null).attr("readonly", true);
                                $("#priceModal input[name='discounted_price']").val(null).attr("readonly", true);
                            } else {
                                $("#priceModal input[name='price']").val(item.fields.price).removeAttr("readonly");
                                $("#priceModal input[name='discounted_price']").val(item.fields.discounted_price).removeAttr("readonly");
                            };

                            $("#priceModal").modal("show");
                        }
                    });

                    $("div").on("change", "input[name='is_free']", function (e) {
                        e.stopPropagation();

                        if ($(this).is(":checked")) {
                            $("#priceModal input[name='price']").val(null).attr("readonly", true);
                            $("#priceModal input[name='discounted_price']").val(null).attr("readonly", true);
                        } else {
                            $("#priceModal input[name='price']").val(null).removeAttr("readonly");
                            $("#priceModal input[name='discounted_price']").val(null).removeAttr("readonly");
                        }
                    });

                    $("div").on("click", "#btnSavePrice", function (e) {
                        e.stopPropagation();
                        updatePrice();
                    });
                };

                var init = function () {
                    registerEvent();
                };

                init();

                return this;
            };

            $.ImageManager = function (options) {
                var that = this;

                var courseList = JSON.parse($("#hfJson").val());

                var settings = $.extend({}, options);

                var updateImage = function () {

                    var dataSrc = $("#imageModal img").attr("data-src");
                    var id = $("#imageModal input[name='id']").val();

                    var formData = {
                        image: dataSrc ? dataSrc : null,
                        id: id
                    };

                    $.ajax({
                        type: "PUT",
                        url: "/api/course-image/" + formData.id + "/",
                        data: JSON.stringify(formData),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (response, textStatus, xhr) {
                            if (response && response.id > 0) {
                                Toast.fire({icon: 'success', title: 'Image has been updated'});

                                setTimeout(function () {
                                    window.location.reload();
                                }, 1000);
                            }
                        }
                    });
                };

                var registerEvent = function () {

                    $(".link-image").click(function (event) {
                        event.stopPropagation();

                        var id = $(this).attr("pk");
                        var item = courseList.find((a) => a.pk == id);

                        $("#imageModal input[name='id']").val(item.pk);
                        $("#imageModal input[name='image']").val(item.fields.image);
                        $("#imageModal").modal("show");
                    });

                    $("#fu").change(function () {
                        $("#fmFile").submit();
                    });

                    $("#fmFile").ajaxForm({
                        beforeSend: function () {
                            ShowLoadingModal("Please wait", "uploading image");
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            Swal.close();
                        },
                        success: function (response) {
                            if (response != 0) {
                                $("#imageModal img").attr("src", response);
                                $("#imageModal img").attr("data-src", response);
                            }
                        },
                        complete: function (xhr) {}
                    });

                    $("div").on("click", "#btnDeleteImage", function (e) {
                        e.stopPropagation();

                        $("#imageModal img").attr("src", "https://via.placeholder.com/600x488.png?text=600x488");
                        $("#imageModal img").attr("data-src", null);

                        updateImage();
                    });

                    $("div").on("click", "#btnSaveImage", function (e) {
                        e.stopPropagation();

                        updateImage();
                    });

                    $("#imageModal").on("shown.bs.modal", function (e) {

                        var imgSrc = $("#imageModal input[name='image']").val();

                        if (imgSrc) {
                            $("#imageModal img").attr("src", imgSrc);
                            $("#imageModal img").attr("data-src", imgSrc);
                        } else {
                            $("#imageModal img").attr("src", "https://via.placeholder.com/600x488.png?text=600x488");
                            $("#imageModal img").attr("data-src", null);
                        }
                    });
                };

                var init = function () {
                    registerEvent();
                };

                init();

                return this;
            };

            $.VideoManager = function (options) {
                var that = this;

                var courseList = JSON.parse($("#hfJson").val());

                var settings = $.extend({}, options);

                var initForm = function (id) {

                    $("#fmVideo").ajaxForm({
                        url: "/api/course-video/" + id + "/",
                        beforeSubmit: function () {
                            ShowLoadingModal("Please wait", "Saving Video");
                            $("#videoModal button").attr("disabled", true);
                        },
                        success: function (response) {

                            var item = courseList.find((a) => a.pk == id);
                            item.fields.video = $("#fmVideo input[name='video']").val();

                            $("#videoModal button").attr("disabled", false);
                            $("#videoModal").modal('hide');

                            Swal.close();

                            if (response > 0) {
                                Toast.fire({icon: 'success', title: 'Course video has been saved.'});
                            } else {
                                Toast.fire({icon: 'error', title: 'Sorry, We are failed to save the video.'});
                            }

                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);

                        }
                    });
                };

                var initVideoFileForm = function () {

                    $("#fmVideoFile").ajaxForm({
                        beforeSend: function () {
                            ShowLoadingModal("Please wait", "uploading video");
                        },
                        uploadProgress: function (event, position, total, percentComplete) {
                            Swal.close();
                        },
                        success: function (response) {
                            if (response != 0) {
                                $("#videoModal input[name='video']").val(response);
                            }
                        },
                        complete: function (xhr) {}
                    });


                };

                var registerEvent = function () {

                    $(".link-video").click(function (event) {
                        event.stopPropagation();

                        var id = $(this).attr("pk");
                        var item = courseList.find((a) => a.pk == id);

                        item.csrf_token = $("#hfCsrfToken").html();

                        console.log(item);

                        var source = document.getElementById("videoTemplate").innerHTML;
                        var template = Handlebars.compile(source);
                        $("#videoModal").html(template(item));

                        $("#videoModal").modal("show");
                    });

                    $("div").on("click", "#btnSaveVideo", function (event) {
                        event.stopPropagation();

                        $("#fmVideo").submit();
                    });

                    $("div").on("click", ".link-upload-video", function (event) {
                        event.stopPropagation();

                        $("#fuVideo").trigger('click');
                    });

                    $("#fuVideo").change(function () {
                        $("#fmVideoFile").submit();
                    });

                    $("#videoModal").on("shown.bs.modal", function (e) {
                        var id = $("#fmVideo input[name='course']").val();
                        initForm(id);
                    });
                };

                var init = function () {
                    registerEvent();
                    initVideoFileForm();
                };

                init();

                return this;
            };

            $.FeaturesManager = function (options) {

                var settings = $.extend({}, options);

                var getCourseFeatures = function (courseId) {

                    ShowLoadingModal("Please wait", "Loading Features");

                    $.get("/api/course-features/", {
                        course: courseId,
                        "_": $.now()
                    }, function (response) {
                        var item = response[0];

                        if (! item) {
                            item = {};
                        }

                        item.course_id = courseId;
                        item.csrf_token = $("#hfCsrfToken").html();

                        var source = document.getElementById("featureFormTemplate").innerHTML;
                        var template = Handlebars.compile(source);
                        $("#featureEditorModal").html(template(item));

                        $("#featureEditorModal").modal({backdrop: "static", show: true});

                    });

                };

                var initForm = function () {
                    $("#fmFeature").ajaxForm({
                        beforeSubmit: function () {
                            ShowLoadingModal("Please wait", "Saving Features");
                            $("#featureEditorModal button").attr("disabled", true);
                        },
                        success: function (response) {

                            $("#featureEditorModal button").attr("disabled", false);
                            $("#featureEditorModal").modal('hide');

                            Swal.close();

                            if (response.id > 0) {
                                Toast.fire({icon: 'success', title: 'Course features has been saved.'});
                            } else {
                                Toast.fire({icon: 'error', title: 'Sorry, We are failed to save the features.'});
                            }


                        }
                    });
                };

                var registerEvent = function () {

                    $(".link-features").click(function (event) {
                        event.stopPropagation();

                        var id = $(this).attr("pk");
                        getCourseFeatures(id);
                    });

                    $("div").on("click", "#btnSaveFeatures", function (event) {
                        event.stopPropagation();
                        $("#fmFeature").submit();
                    });

                    $('#featureEditorModal').on('hidden.bs.modal', function (e) {
                        $("#featureEditorModal").empty();
                    });

                    $('#featureEditorModal').on('shown.bs.modal', function (e) {

                        $("#fmFeature textarea").each(function () {
                            var val = $.trim($(this).val());
                            $(this).val(val);
                        });

                        $("#fmFeature select").each(function () {
                            var val = $(this).attr('data-value');
                            if (val) {
                                $(this).val(val);
                            }
                        });

                        $("#fmFeature textarea[name='schedule']").summernote({height: 330});
                        $("#fmFeature textarea[name='outcomes']").summernote({height: 330});
                        $("#fmFeature textarea[name='notes']").summernote({height: 330});
                        $("#fmFeature textarea[name='completion_requirements']").summernote({height: 330});

                        initForm();
                        Swal.close();

                    });


                };

                var init = function () {
                    registerEvent();
                };

                init();

                return this;
            };

            $.FinalQuizManager = function (options) {
                var that = this;

                var settings = $.extend({}, options);

                var initForm = function () {

                    $("#fmFinalQuiz").ajaxForm({
                        url: "/api/update-course-quiz/",
                        beforeSubmit: function () {
                            ShowLoadingModal("Please wait", "updating course");
                            $("#quizesModal button").attr("disabled", true);
                        },
                        success: function (response) {

                            $("#quizesModal button").attr("disabled", false);
                            $("#quizesModal").modal('hide');

                            Swal.close();

                            var id = $("#quizesModal input[name='id']").val();

                            if (response > 0) {
                                Toast.fire({icon: 'success', title: 'Final quiz has been saved.'});
                                window.location.href = '/teachers/courses/#q-' + id;
                            } else {
                                Toast.fire({icon: 'error', title: 'Sorry, We are failed to save the quiz.'});
                            }


                        }
                    });
                };

                var registerEvent = function () {

                    $(".link-final-quiz").click(function (event) {
                        event.stopPropagation();

                        var id = $(this).attr("data-id");
                        var quiz_id = $(this).attr("data-quiz");

                        $("#quizesModal input[name='id']").val(id);

                        if (quiz_id) {
                            $("#quizesModal select[name='quiz_id']").val(quiz_id);
                        }

                        $("#quizesModal").modal("show");
                    });

                    $("#quizesModal").on("change", "select[name='quiz_id']", function (event) {

                        event.stopPropagation();

                        var val = $(this).val();
                        var text = $(this).find("option:selected").attr('data-name');

                        $("#quizesModal #quizActions").empty();

                        if (val) {

                            var link = $("<a />", {
                                href: '/teachers/quiz/?id=' + val + "&q=" + text,
                                class: 'bage badge-info py-2 px-3 mr-2',
                                text: 'View Quiz'
                            });

                            var link2 = $("<a />", {
                                href: '/quiz/quiz-questions/' + val + '/',
                                class: 'bage badge-info py-2 px-3',
                                text: 'View Questions',
                                target: '_blank'
                            });

                            $("#quizesModal #quizActions").html(link).append(link2);
                        }

                    });

                    $("#quizesModal").on("click", "#btnSaveFinalQuiz", function (event) {

                        event.stopPropagation();

                        $("#fmFinalQuiz").submit();

                    });


                    $("#quizesModal").on("shown.bs.modal", function (e) {
                        $("#quizesModal #quizActions").empty();
                        $("select[name='quiz_id']").trigger('change');
                    });
                };

                var init = function () {
                    registerEvent();
                    initForm();
                };

                init();

                return this;
            };


        })(jQuery);

        $(document).ready(function () {

            new $.StudentsEnrolledManager({});
            new $.PriceManager({});
            new $.ImageManager({});
            new $.FeaturesManager({});
            new $.VideoManager({});
            new $.FinalQuizManager({});

            $(".link-copy").click(function (event) {
                event.stopPropagation();

                var id = $(this).attr("pk");

                if (id) {
                    var title = $(".card-title[pk='" + id + "']").text();

                    $("#copyModal #id").val(id);
                    $("#copyModal #name").val($.trim(title) + " Copy");

                    $("#copyModal").modal("show");
                }
            });

            $("#btnCreateCopy").click(function (event) {
                event.stopPropagation();

                $("#copyModal form").submit();
            });

            $("#copyModal form").ajaxForm({
                beforeSubmit: function () {
                    var load = '<span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>';
                    load = load + "Creating...";
                    $("#btnCreateCopy").html(load);
                    $("#copyModal button").attr("disabled", true);
                },
                success: function (response) {
                    if (response > 0) {
                        Toast.fire({icon: 'success', title: 'Course copy has been created'});
                        window.location.reload();
                    } else {
                        $("#copyModal").modal("hide");
                        $("#btnCreateCopy").html("Create Copy");
                        $("#copyModal button").attr("disabled", false);
                        $("#copyModal #id").val(null);
                        $("#copyModal #name").val(null);

                        Toast.fire({icon: 'error', title: 'Sorry, We are failed to created the copy. Kindly refresh the page and try again'});

                    }
                }
            });


        });
    </script>

{% endblock %}
