{% extends "student_base.html" %}
{% load i18n %}
{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="header">
        {{ object.title }}
    </h1>

    <div class="row">
        <div class="col-md-3">
            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a href="{% url "student_course_detail" object.id %}"> Course Materials </a>
                    </div>
                    <!-- sidebar-search  -->
                    <div class="sidebar-menu">
                        <ul>

                            {% for m in object.modules.all %}

                            <li data-id="{{ m.id }}" class="sidebar-dropdown">
                                <a href="javascript:;" class="{% if m == module %} active {% endif %}">
                                    {{ m.title }}
                                </a>

                                <div class="sidebar-submenu">
                                    <ul>
                                        {% for content in m.contents.all %}
                                        {% with item=content.item %}

                                        <li>
                                            {% if content.id in completed_contents or active_content.object.id  == content.id %}

                                            <a class="{% if content.id in completed_contents %}complete{% endif %} {% if active_content.object.id  == content.id %}pin{% endif %}"
                                                href="{% url 'student_course_detail_module' object.id m.id %}?content={{content.id}}">

                                                <i title=" {{ content.content_type }}"
                                                    class="fa {{ content.content_type }}"></i>
                                                {{ item.title }}

                                            </a>

                                            {% else %}
                                            <a href="javascript:;">
                                                <i title=" {{ content.content_type }}"
                                                    class="fa {{ content.content_type }}"></i>
                                                {{ item.title }}
                                            </a>
                                            {% endif %}
                                        </li>
                                        {% endwith %}
                                        {% endfor %}

                                        {% if m.quiz != None and m.quiz_id in taken_quizzes %}
                                        <li>
                                            <a class="complete"
                                                href="{% url 'student_course_detail_module' object.id m.id %}?content={{m.quiz_id}}&type=quiz">
                                                <i class="fa fa-question-circle-o"></i>
                                                Quiz </a>
                                        </li>
                                        {% elif m.quiz != None %}
                                        <li>
                                            <a href="javascript:;">
                                                <i title="Quiz" class="fa fa-question-circle-o"></i>
                                                Quiz
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>
                            {% empty %}
                            <li class="menu__item">No modules yet.</li>

                            {% endfor %}

                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
            </nav>
        </div>
        <div class="col-md-9">
            <main class="page-content">
                <div class="clever-description">

                    <div class="row ">

                        {% if module == None %}

                        <div class="col-md-12 mb-30">
                            <div class="about-course">
                                {{object.overview}}
                            </div>
                        </div>

                        {%endif%}

                        {% if module != None %}

                        {% if next_content != None and active_content.complete == True %}

                        {% if next_content.type == 'quiz' %}

                        <!-- and next_content.object.id not in taken_quizzes -->

                        <div class="col-md-12 mb-5">
                            <a href="{% url 'student_course_detail_module' object.id next_content.module.id %}?content={{next_content.object.id}}&type=quiz"
                                class="btn btn-primary">Next Chapter (Quiz) >> </a>
                        </div>

                        <!-- <div class="col-md-12 mb-5">
                            <a href="{% url 'take_quiz' next_content.object.id %}" class="btn btn-primary">Take Quiz >> </a>
                        </div> -->

                        {% elif next_content.type == 'content' %}

                        <div class="col-md-12 mb-5">
                            <a href="{% url 'student_course_detail_module' object.id next_content.module.id %}?content={{next_content.object.id}}"
                                class="btn btn-primary">Next Chapter >> </a>
                        </div>

                        {% endif %}

                        {% endif %}
                        <!--  if next_content != None -->

                        {% for content in module.contents.all %}

                        {% if active_content.object.id  == content.id and active_content.type == 'content' %}

                        <div class="col-md-12 mb-30">
                            <div class="about-course">
                                {% with item=content.item %}

                                <h4>{{ item.title }}</h4>
                                <div>
                                    {{ item.render }}
                                </div>

                                {% endwith %}
                            </div>
                        </div>

                        {% endif %}

                        {% endfor %}

                        {% if active_content.type == 'quiz' %}
                        <div class="col-md-12 mb-30">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Quiz</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            {{active_content.object}}
                                        </td>
                                        <td>
                                            {% if active_content.complete == True %}
                                            {{active_content.score}}
                                            {% else %}
                                            Not Taken
                                            {% endif %}
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            {% if active_content.complete == True %}
                                            <a href="{% url 'quiz_reset' active_content.object.id %}?ref={{request.get_full_path}}"
                                                class="btn btn-primary">Retake Quiz </a>
                                            {% else %}
                                            <a href="{% url 'take_quiz' active_content.object.id %}?ref={{request.get_full_path}}"
                                                class="btn btn-primary">Take Quiz </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        {%endif%}

                        {%endif%}

                    </div>

                </div>
            </main>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"
    integrity="sha512-4ze/a9/4jqu+tX9dfOqJYSvyYd5M6qum/3HpCLr+/Jqf0whc37VUbkpNGHR7/8pSnCFw47T1fmIpwBV7UySh3g=="
    crossorigin="anonymous"></script>

<script>


    $(document).ready(function () {

        $(".sidebar-dropdown > a").click(function () {

            $(".sidebar-submenu").slideUp(200);

            if ($(this).parent().hasClass("active")) {
                $(".sidebar-dropdown").removeClass("active");
                $(this).parent().removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this).next(".sidebar-submenu").slideDown(200);
                $(this).parent().addClass("active");
            }

        });

        $(".sidebar-dropdown > a.active").trigger('click');

        videoPlayersState(true);

        setInterval(function () {
            videoPlayersState(false);
        }, 4000);

        embedFile();

    });

    function videoPlayersState(isSet) {

        var count = document.querySelectorAll('.module_video').length;

        for (let index = 0; index < count; index++) {

            var element = document.querySelectorAll('.module_video')[index];

            if (isSet) {
                setVideoState(element);
            }
            else {
                saveVideoState(element);
            }


            console.log(element.currentTime);
            console.log(element.duration);

        }
    };

    function setVideoState(element) {

        var storedData = localStorage.getItem("userVideos");

        var d = {
            id: element.id,
            module: element.getAttribute('module_id'),
            watched: element.currentTime,
            created: new Date()
        };

        if (storedData) {

            var parsedData = JSON.parse(storedData);

            for (let index = 0; index < parsedData.length; index++) {

                var parsed = parsedData[index];

                if (parsed.id == d.id && parsed.module == d.module) {
                    element.currentTime = Math.floor(parsed.watched);
                }
            }
        }


    };

    function saveVideoState(element) {

        var storedData = localStorage.getItem("userVideos");

        var d = {
            id: element.id,
            module: element.getAttribute('module_id'),
            watched: element.currentTime,
            created: new Date()
        };

        var parsedData = [];

        if (storedData) {

            parsedData = JSON.parse(storedData);

            var isFound = false;

            // will check & update if found
            for (let index = 0; index < parsedData.length; index++) {
                var parsed = parsedData[index];

                if (parsed.id == d.id && parsed.module == d.module) {
                    parsedData[index] = d;
                    isFound = true;
                }
            }

            // will add the new 
            if (!isFound) {
                parsedData.push(d);
            }
        }
        else {
            parsedData.push(d);
        }

        localStorage.setItem("userVideos", JSON.stringify(parsedData));
    };

    function embedFile() {
        if ($(".file-item").length > 0) {
            var href = $(".file-item").eq(0).attr('href');

            if (href) {
                if (href.toLowerCase().indexOf(".png") >= 0) {

                    var img = $("<img />", { src: href });

                    $(".file-item").eq(0).replaceWith(img);
                } else   if (href.toLowerCase().indexOf(".pdf") >= 0) {
                    
                    var pdfDiv = $("<div />", { id: 'pdfViewer' });

                    pdfDiv.css({
                        width:'100%',
                        'min-height':600
                    });

                    $(".file-item").eq(0).replaceWith(pdfDiv);

                    var options = {
    height: "500px",
    pdfOpenParams: { view: 'FitV', page: '1' }
};

                    PDFObject.embed(href, "#pdfViewer", options);
                }
            }
        }

    };
</script>
{% endblock %}