{% extends "student_base.html" %}
{% load i18n %}
{% block title %}
{{ object.title }}
{% endblock %}

{% block nav %}

<nav class="navbar navbar-expand-md navbar-bark bg-dark" id="secNav">
    <a class="navbar-brand mb-0 h1 text-white" href="#"> {{ object.title }}</a>

    <div class="navbar-collapse">

        <div class="m-auto">
            <div class="digits">
                <h3 class="time-output" id="hours">00</h3>
                <h3 class="colon" id="colon-one">:</h3>
                <h3 class="time-output" id="minutes">00</h3>
                <h3 class="colon" id="colon-two">:</h3>
                <h3 class="time-output" id="seconds">00</h3>
                <h3 class="time-end" id="end">
                </h3>
            </div>
        </div>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item top-audio-1 d-none">
            </li>

            {% if module != None %}

            {% comment %} {% if next_content != None and active_content.complete == True %} {% endcomment %}

            {% if next_content != None %}

            {% if next_content.type == 'quiz' %}

            <li class="nav-item {% if active_content.complete != True %} d-none {% endif %} next-item-link">
                <a href="{% url 'student_course_detail_module' object.id next_content.module.id %}?content={{next_content.object.id}}&type=quiz"
                    class="nav-link text-white btn btn-sm btn-success">Next Chapter (Quiz) >> </a>
            </li>

            {% elif next_content.type == 'content' %}

            <li class="nav-item {% if active_content.complete != True %} d-none {% endif %} next-item-link">
                <a href="{% url 'student_course_detail_module' object.id next_content.module.id %}?content={{next_content.object.id}}"
                    class="nav-link text-white btn btn-sm btn-success">Next Chapter >> </a>
            </li>

            {% endif %}

            {% endif %}
            {% endif %}

            <li class="nav-item dropdown ml-3">
                <a class="nav-link dropdown-toggle text-white btn btn-sm btn-info" data-toggle="dropdown" href="#">
                    Connect Live
                </a>
                <div class="dropdown-menu dropdown-menu-right p-2 rooms">

                    <ul class="list-group" id="live-rooms">
                    </ul>

                </div>
            </li>

            <li class="nav-item dropdown ml-3">
                <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#">
                    <i class="fa fa-lg fa-cog text-white"></i> {{request.user}}
                </a>
                <div class="dropdown-menu dropdown-menu-right ">
                    <a class="dropdown-item" href="{%url 'student_course_list'%}">Dashboard</a>
                    {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="{% url "logout" %}">Sign out</a>
                    {%endif%}
                </div>
            </li>
        </ul>

    </div>

</nav>
{% endblock %}

{% block content %}

<div class="container-fluid py-0 px-1" id="fixContainer">
    <!-- <h1 class="header">
        {{ object.title }}
    </h1> -->

    <div class="row">
        <div class="col-md-3 p-0 position-relative">

            <nav id="sidebar" class="sidebar-wrapper">

                <div class="scrollbar-inner">
                    <div class="sidebar-content">
                        <div class="sidebar-brand">
                            <a href="{% url "student_course_detail" object.id %}"> Course Materials </a>
                        </div>
                        <!-- sidebar-search  -->
                        <div class="sidebar-menu">
                            <ul>

                                {% for m in object.modules.all %}

                                <li data-id="{{ m.id }}" class="sidebar-dropdown">
                                    <a href="javascript:;" class="{% if m == module %} active {% endif %}">
                                        {{ m.title }}
                                    </a>

                                    <div class="sidebar-submenu">
                                        <ul>
                                            {% for content in m.contents.all %}
                                            {% with item=content.item %}

                                            <li>
                                                {% if content.id in completed_contents or active_content.object.id  == content.id %}

                                                <a class="content-{{content.id}} {% if content.id in completed_contents %}complete{% endif %} {% if active_content.object.id  == content.id %}pin{% endif %}"
                                                    href="{% url 'student_course_detail_module' object.id m.id %}?content={{content.id}}">

                                                    <i title=" {{ content.content_type }}"
                                                        class="fa {{ content.content_type }}"></i>
                                                    {{ item.title }}

                                                </a>

                                                {% else %}
                                                <a href="javascript:;">
                                                    <i title=" {{ content.content_type }}"
                                                        class="fa {{ content.content_type }}"></i>
                                                    {{ item.title }}
                                                </a>
                                                {% endif %}
                                            </li>
                                            {% endwith %}
                                            {% endfor %}

                                            {% if m.quiz != None and m.quiz_id in taken_quizzes and m.quiz.questions.count > 0  %}

                                            <li>
                                                <a class="complete"
                                                    href="{% url 'student_course_detail_module' object.id m.id %}?content={{m.quiz_id}}&type=quiz">
                                                    <i class="fa fa-question-circle-o"></i>
                                                    Quiz </a>
                                            </li>
                                            {% elif m.quiz != None and m.quiz.questions.count > 0 %}
                                            <li>
                                                <a href="javascript:;">
                                                    <i title="Quiz" class="fa fa-question-circle-o"></i>
                                                    Quiz
                                                </a>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </li>

                                {% empty %}
                                <li class="menu__item">No modules yet.</li>

                                {% endfor %}

                            </ul>
                        </div>
                        <!-- sidebar-menu  -->

                        {% if content_completed == True and object.quiz is not None %}

                        <div class="sidebar-brand">

                            <a href="{% url "student_course_detail" object.id %}?type=quiz" class="btn btn-primary">
                                Take Quiz </a>
                        </div>

                        {% endif %}


                    </div>
                    <!-- sidebar-content  -->
                </div>
            </nav>

        </div>
        <div class="col-md-9">
            <main class="page-content ">
                <div class="row">

                    <div class="col">


                        {% if module == None %}

                        {% if request.GET.type == 'quiz' and object.quiz is not None %}
                        <div class="col-md-12 mb-30">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Quiz</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            {{active_content.object}}
                                        </td>
                                        <td>
                                            {% if active_content.complete == True %}
                                            {{active_content.score}}
                                            {% else %}
                                            Not Taken
                                            {% endif %}
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            {% if active_content.complete == True %}
                                            <a href="{% url 'quiz_reset' active_content.object.id %}?ref={{request.get_full_path}}"
                                                class="btn btn-primary">Retake Quiz </a>
                                            {% else %}
                                            <a href="{% url 'take_quiz' active_content.object.id %}?ref={{request.get_full_path}}"
                                                class="btn btn-primary">Take Quiz </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        {% else %}
                        <div class="col-md-12 mb-30">
                            <div class="about-course p-2">

                                {{object.overview|safe}}

                            </div>
                        </div>
                        {%endif%}

                        {%endif%}

                        {% comment %} if module == None {% endcomment %}

                        {% if module != None %}

                        {% if next_content != None and active_content.complete == True %}

                        {% if next_content.type == 'quiz' %}

                        <div class="col-md-12 mb-5 d-none">
                            <a href="{% url 'student_course_detail_module' object.id next_content.module.id %}?content={{next_content.object.id}}&type=quiz"
                                class="btn btn-primary">Next Chapter (Quiz) >> </a>
                        </div>

                        {% elif next_content.type == 'content' %}

                        <div class="col-md-12 mb-5 d-none">
                            <a href="{% url 'student_course_detail_module' object.id next_content.module.id %}?content={{next_content.object.id}}"
                                class="btn btn-primary">Next Chapter >> </a>
                        </div>

                        {% endif %}

                        {% endif %}

                        <!--  if next_content != None -->

                        {% for content in module.contents.all %}

                        {% if active_content.object.id  == content.id and active_content.type == 'content' %}

                        <div class="col-md-12 mt-2 mb-30">
                            <div class="about-course">

                                {% with item=content.item %}

                                {% comment %} <h4>{{ item.title }}</h4> {% endcomment %}

                                <div id="contentSection" data-id="{{content.id}}" data-type="{{content.content_type}}"
                                    data-completed="{{active_content.complete}}">
                                    {{ item.render }}
                                </div>

                                {% endwith %}

                            </div>
                        </div>

                        {% endif %}

                        {% endfor %}

                        {% if active_content.type == 'quiz' %}
                        <div class=" col-md-12 mb-30">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Quiz</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>
                                            {{active_content.object}}
                                        </td>
                                        <td>
                                            {% if active_content.complete == True %}
                                            {{active_content.score}}
                                            {% else %}
                                            Not Taken
                                            {% endif %}
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            {% if active_content.complete == True %}
                                            <a href="{% url 'quiz_reset' active_content.object.id %}?ref={{request.get_full_path}}"
                                                class="btn btn-primary">Retake Quiz </a>
                                            {% else %}
                                            <a href="{% url 'take_quiz' active_content.object.id %}?ref={{request.get_full_path}}"
                                                class="btn btn-primary">Take Quiz </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        {%endif%}

                        {%endif%}

                    </div>

            </main>
        </div>
    </div>

</div>

{% verbatim %}
<script type="text/x-handlebars-template" id='roomListItemTemplate'>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{title}}
        <a href="/communicate/video-rooms/{{id}}?ref_course={{ref_course}}" target="_blank" class="link-add-member badge badge-primary badge-pill text-white">Connect</a></li>
    </script>
{% endverbatim %}

{% endblock %}

{% block scripts %}

<style>
    .digits {
        display: flex;
        flex-direction: row;
    }


    .digits h3 {
        color: #fff;
    }

    .sidebar-wrapper {
        overflow: hidden;
        border-radius: 0;
        min-width: auto;
    }

    .sidebar-content {
        max-height: 100%;
        height: 100%;
    }

    .scrollbar-inner {
        height: 100%;
        max-height: 100%;
    }

    .sidebar-wrapper .sidebar-submenu li {
        padding-left: 5px !important;
    }

    .sidebar-wrapper .sidebar-menu ul li a i {
        float: left;
        margin-right: 7px !important;
    }

    .scrollbar-inner>.scroll-element.scroll-y {
        right: -3px;
    }

    .dropdown-menu.rooms {
        min-width: 25rem;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js"
    integrity="sha512-4ze/a9/4jqu+tX9dfOqJYSvyYd5M6qum/3HpCLr+/Jqf0whc37VUbkpNGHR7/8pSnCFw47T1fmIpwBV7UySh3g=="
    crossorigin="anonymous"></script>

<script>

    var totalSeconds = 0;
    var lastSavedTime = 0;

    var roomsList;

    $("#top-nav").hide();

    $('iframe').on("load", function () {
        addAudioTop();
    });

    $(document).ready(function () {

        $("#fixContainer").css({
            'max-height': $(window).height() - $("#secNav").height() - 20,
            'height': $(window).height() - $("#secNav").height() - 20
        });

        $("#sidebar").css({
            'max-height': $(window).height() - $("#secNav").height() - 30,
            'height': $(window).height() - $("#secNav").height() - 30
        });

        $(".page-content").css({
            'max-height': $(window).height() - $("#secNav").height() - 30,
            'height': $(window).height() - $("#secNav").height() - 30,
            'overflow': 'hidden',
            'padding': 10
        });

        $(".sidebar-dropdown > a").click(function () {

            $(".sidebar-submenu").slideUp(200);

            if ($(this).parent().hasClass("active")) {
                $(".sidebar-dropdown").removeClass("active");
                $(this).parent().removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this).next(".sidebar-submenu").slideDown(200);
                $(this).parent().addClass("active");
            }

        });

        $(".sidebar-dropdown > a.active").trigger('click');

        //videoPlayersState(true);

        setInterval(function () {
            // videoPlayersState(false);
        }, 4000);

        embedFile();

        getTimeLog();

        getRooms();

        checkCourseProgress();

        jQuery('.scrollbar-inner').scrollbar();

    });

    function videoPlayersState(isSet) {

        var count = document.querySelectorAll('.module_video').length;

        for (let index = 0; index < count; index++) {

            var element = document.querySelectorAll('.module_video')[index];

            if (isSet) {
                setVideoState(element);
            } else {
                saveVideoState(element);
            }

        }
    };

    function setVideoState(element) {

        var storedData = localStorage.getItem("userVideos");

        var d = {
            id: element.id,
            module: element.getAttribute('module_id'),
            watched: element.currentTime,
            created: new Date()
        };

        if (storedData) {

            var parsedData = JSON.parse(storedData);

            for (let index = 0; index < parsedData.length; index++) {

                var parsed = parsedData[index];

                if (parsed.id == d.id && parsed.module == d.module) {
                    element.currentTime = Math.floor(parsed.watched);
                }
            }
        }


    };

    function saveVideoState(element) {

        var storedData = localStorage.getItem("userVideos");

        var d = {
            id: element.id,
            module: element.getAttribute('module_id'),
            watched: element.currentTime,
            created: new Date()
        };

        var parsedData = [];

        if (storedData) {

            parsedData = JSON.parse(storedData);

            var isFound = false;

            // will check & update if found
            for (let index = 0; index < parsedData.length; index++) {
                var parsed = parsedData[index];

                if (parsed.id == d.id && parsed.module == d.module) {
                    parsedData[index] = d;
                    isFound = true;
                }
            }

            // will add the new 
            if (!isFound) {
                parsedData.push(d);
            }
        } else {
            parsedData.push(d);
        }

        localStorage.setItem("userVideos", JSON.stringify(parsedData));
    };

    function embedFile() {

        if ($(".file-item").length > 0) {

            var href = $(".file-item").eq(0).attr('href');

            if (href) {

                if (href.toLowerCase().indexOf(".png") >= 0) {

                    var img = $("<img />", {
                        src: href
                    });

                    $(".file-item").eq(0).replaceWith(img);

                } else if (href.toLowerCase().indexOf(".pdf") >= 0) {

                    var pdfDiv = $("<div />", {
                        id: 'pdfViewer'
                    });

                    pdfDiv.css({
                        width: '100%',
                        'min-height': 600
                    });

                    $(".file-item").eq(0).replaceWith(pdfDiv);

                    var options = {
                        height: "500px",
                        width: '100%',
                        pdfOpenParams: {
                            view: 'FitV',
                            page: '1'
                        }
                    };

                    PDFObject.embed(href, "#pdfViewer", options);
                }
            }
        }

    };

    function addAudioTop() {

        if ($(".about-course iframe").length > 0) {

            if ($(".about-course iframe").eq(0).contents().find('audio:eq(0) source').length > 0) {

                var src = $(".about-course iframe").eq(0).contents().find('audio:eq(0) source')[0].src;

                if (src) {

                    var ad = '<audio id="audio-player" controls="controls" src="' + src + '" type="audio/mpeg">';

                    $(".top-audio-1").html(ad);
                    $(".top-audio-1").removeClass('d-none');
                    $(".about-course iframe").eq(0).contents().find('audio:eq(0)').hide();

                    $(".top-audio-1 audio").css({
                        'height': 33,
                        'margin-right': 20,
                        'margin-top': 5
                    })
                }

            }
        }

    }

    function getTimeLog() {

        $.get('/api/courses_time_logs/', {
            course: '{{object.id}}'
        }, function (response) {

            if (response && response.length > 0) {
                totalSeconds = response[response.length - 1].total_seconds;
            }

            timeCounter();

        });
    };

    var saveTimeLog = function () {

        var data = {
            course: '{{object.id}}',
            total_seconds: totalSeconds
        };

        $.ajax({
            type: "POST",
            url: "/api/courses_time_logs/",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                console.log(response)
            },
            failure: function (errMsg) {}
        });
    };

    function timeCounter() {
        setInterval(() => {

            totalSeconds += 1;

            lastSavedTime++;

            if (lastSavedTime >= 55) {
                saveTimeLog();
                lastSavedTime = 0;
            }

            secondsToHms(totalSeconds);

        }, 1000);
    };

    function pad(str, max) {
        str = str.toString();
        return str.length < max ? pad("0" + str, max) : str;
    };

    function secondsToHms(d) {

        d = Number(d);
        var h = Math.floor(d / 3600);
        var m = Math.floor(d % 3600 / 60);
        var s = Math.floor(d % 3600 % 60);

        $("#hours").html(pad(h, 2));
        $("#minutes").html(pad(m, 2));
        $("#seconds").html(pad(s, 2));

    };

    function getRooms() {
        $.get('/api/video-rooms/?format=json', {}, function (response) {
            roomsList = response;
            fillRoomsTable();
        });
    };

    var fillRoomsTable = function () {

        $("#live-rooms").empty();

        $(roomsList).each(function (index, item) {

            var course = item.courses.find(a => a.course.id == '{{object.id}}');

            if (course) {

                var source = document.getElementById("roomListItemTemplate").innerHTML;
                var template = Handlebars.compile(source);

                item.ref_course = window.location.href.replace(window.location.origin, "");

                $("#live-rooms").append(template(item));
            }

        });

        if (roomsList.length <= 0) {
            $("#live-rooms").append('<li class="list-group-item">No live connection is created yet.</li>');
        }

    };

    var checkCourseProgress = function () {

        if ($("#contentSection").length > 0) {

            var id = $("#contentSection").attr('data-id');
            var content_type = $("#contentSection").attr('data-type');
            var is_completed = $("#contentSection").attr('data-completed');

            if (is_completed != 'False') {
                return;
            }

            var data = {
                content: id,
                is_completed: true,
                content_type: content_type
            };

            if (content_type != 'video') {
                saveCourseProgress(data);
            }

        }

    };

    var saveCourseProgress = function (data) {

        $.ajax({
            type: "POST",
            url: "/api/course_progress/",
            data: data,
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (response) {
                if (response.id > 0) {
                    $(".next-item-link").removeClass('d-none');
                    $(".content-" + data.content).addClass('complete');
                }
            },
            failure: function (errMsg) {}
        });

    };

</script>
{% endblock %}