{% extends "admin_base.html" %}

{% block title %}{% endblock %}

{% block head %}
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% endblock %}

{% block content %}


<div class="container-fluid" id="homeApp">
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Dashboard [[message]]</h1>
   </div>

   <!-- Content Row -->
   <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        {% now "F" %} Earnings</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">$[[earnings.this_month]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Earnings (Monthly) -->

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Earnings</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">$[[earnings.total]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Earnings (Total) -->

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        {% now "F" %} Enrollments (Paid)</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">[[enrollments.this_month]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Orders (Monthly) -->

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Enrollments (Paid)</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">[[enrollments.total]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-users fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Orders (Total) -->
   </div>

   <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        {% now "F" %} Orders</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">[[orders.this_month]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Total Orders</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">[[orders.total]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        {% now "F" %} Enrollments (Free)</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">[[free_enrollments.this_month]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
         <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
               <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Total Enrollments (Free)</div>
                     <div class="h5 mb-0 font-weight-bold text-gray-800">[[free_enrollments.total]]</div>
                  </div>
                  <div class="col-auto">
                     <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>

   <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-6 col-lg-6">
         <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
               <h6 class="m-0 font-weight-bold text-primary">Earnings Overview - {% now "Y" %}</h6>
               <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                     <div class="dropdown-header">Dropdown Header:</div>
                     <a class="dropdown-item" href="#">Action</a>
                     <a class="dropdown-item" href="#">Another action</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Something else here</a>
                  </div>
               </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
               <div class="chart-area">
                  <canvas id="ordersOverviewChart"></canvas>
               </div>
            </div>
         </div>
      </div>
      <div class="col-xl-6 col-lg-6">
         <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
               <h6 class="m-0 font-weight-bold text-primary">Paid Enrollments Overview - {% now "F" %}</h6>
               <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                     <div class="dropdown-header">Dropdown Header:</div>
                     <a class="dropdown-item" href="#">Action</a>
                     <a class="dropdown-item" href="#">Another action</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Something else here</a>
                  </div>
               </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
               <div class="chart-area">
                  <canvas id="enrollmentsOverviewChart"></canvas>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>

{% endblock %}

{% block scripts %}


<script>
   // Set new default font family and font color to mimic Bootstrap's default styling

   function number_format(number, decimals, dec_point, thousands_sep) {
      // *     example: number_format(1234.56, 2, ',', ' ');
      // *     return: '1 234,56'
      number = (number + "").replace(",", "").replace(" ", "");
      var n = !isFinite(+number) ? 0 : +number,
         prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
         sep = typeof thousands_sep === "undefined" ? "," : thousands_sep,
         dec = typeof dec_point === "undefined" ? "." : dec_point,
         s = "",
         toFixedFix = function (n, prec) {
            var k = Math.pow(10, prec);
            return "" + Math.round(n * k) / k;
         };
      // Fix for IE parseFloat(0.55).toFixed(0) = 0;
      s = (prec ? toFixedFix(n, prec) : "" + Math.round(n)).split(".");
      if (s[0].length > 3) {
         s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
      }
      if ((s[1] || "").length < prec) {
         s[1] = s[1] || "";
         s[1] += new Array(prec - s[1].length + 1).join("0");
      }
      return s.join(dec);
   }

   function initEarningChart(dataArray, elementId, label, preFormat) {

      const dataValues = [];

      dataArray.sort((a, b) => {
         return a.month - b.month;
      });

      for (var i = 1; i <= 12; i++) {
         dataValues.push(0)
      }

      dataArray.forEach((a, i) => {
         dataValues[i] = a.total;
      })

      // Area Chart Example
      var ctx = document.getElementById(elementId);
      var myLineChart = new Chart(ctx, {
         type: "line",
         data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [
               {
                  label: label,
                  lineTension: 0.3,
                  backgroundColor: "rgba(78, 115, 223, 0.05)",
                  borderColor: "rgba(78, 115, 223, 1)",
                  pointRadius: 3,
                  pointBackgroundColor: "rgba(78, 115, 223, 1)",
                  pointBorderColor: "rgba(78, 115, 223, 1)",
                  pointHoverRadius: 3,
                  pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                  pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                  pointHitRadius: 10,
                  pointBorderWidth: 2,
                  data: dataValues//[0, 10000, 5000, 15000, 10000, 20000, 15000, 25000, 20000, 30000, 25000, 40000],
               },
            ],
         },
         options: {
            maintainAspectRatio: false,
            layout: {
               padding: {
                  left: 10,
                  right: 25,
                  top: 25,
                  bottom: 0,
               },
            },
            scales: {
               xAxes: [
                  {
                     time: {
                        unit: "date",
                     },
                     gridLines: {
                        display: false,
                        drawBorder: false,
                     },
                     ticks: {
                        maxTicksLimit: 7,
                     },
                  },
               ],
               yAxes: [
                  {
                     ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        // Include a dollar sign in the ticks
                        callback: function (value, index, values) {
                           return preFormat + number_format(value);
                        },
                     },
                     gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2],
                     },
                  },
               ],
            },
            legend: {
               display: false,
            },
            tooltips: {
               backgroundColor: "rgb(255,255,255)",
               bodyFontColor: "#858796",
               titleMarginBottom: 10,
               titleFontColor: "#6e707e",
               titleFontSize: 14,
               borderColor: "#dddfeb",
               borderWidth: 1,
               xPadding: 15,
               yPadding: 15,
               displayColors: false,
               intersect: false,
               mode: "index",
               caretPadding: 10,
               callbacks: {
                  label: function (tooltipItem, chart) {
                     var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || "";
                     return datasetLabel + ": " + preFormat + number_format(tooltipItem.yLabel);
                  },
               },
            },
         },
      });
   } 
</script>

<script>

   const { createApp, ref } = Vue

   const app = createApp({
      data() {
         return {
            message: 'Real Time Data',
            earnings: {
               total: 0,
               this_month: 0
            },
            enrollments: {
               total: 0,
               this_month: 0
            },
            free_enrollments: {
               total: 0,
               this_month: 0
            },
            orders: {
               total: 0,
               this_month: 0
            },
         }
      },
      mounted() {
         this.getEarnings();
         this.getEnrollments();
         this.getOrders();
      },
      methods: {
         getEarnings() {
            const year = new Date().getFullYear();
            const month = new Date().getMonth() + 1;
            const that = this;

            $.get('{% url "api_v2:view_payments-get-amount-group-count" %}', {}, function (response) {
               const currentMonth = response.find(a => a.month === month && a.year === year);

               if (currentMonth) {
                  that.earnings.this_month = parseFloat(currentMonth.total).toFixed(2);
               }

               that.earnings.total = response.reduce((n, { total }) => n + parseFloat(total), 0).toFixed(2);

               const thisYearOnly = response.filter(a=>a.year === year);

               initEarningChart(thisYearOnly, 'ordersOverviewChart', 'Earnings', '$')
            });
         },

         getEnrollments() {
            const year = new Date().getFullYear();
            const month = new Date().getMonth() + 1;
            const that = this;

            $.get('{% url "api_v2:view_enrollments-get-group-count" %}', {plan:'paid'}, function (response) {

               const currentMonth = response.find(a => a.month === month && a.year === year);

               if (currentMonth) {
                  that.enrollments.this_month = parseFloat(currentMonth.total).toFixed(0);
               }

               that.enrollments.total = response.reduce((n, { total }) => n + parseInt(total), 0).toFixed(0);

               initEarningChart(response, 'enrollmentsOverviewChart', 'Enrollments', '')
            });

            //free

            $.get('{% url "api_v2:view_enrollments-get-group-count" %}', {plan:'free'}, function (response) {

               const currentMonth = response.find(a => a.month === month && a.year === year);

               if (currentMonth) {
                  that.free_enrollments.this_month = parseFloat(currentMonth.total).toFixed(0);
               }

               that.free_enrollments.total = response.reduce((n, { total }) => n + parseInt(total), 0).toFixed(0);

              
            });
         },

         getOrders() {
            const year = new Date().getFullYear();
            const month = new Date().getMonth() + 1;
            const that = this;

            $.get('{% url "api_v2:view_orders-get-group-count" %}', {}, function (response) {

               const currentMonth = response.find(a => a.month === month && a.year === year);

                  if (currentMonth) {
                  that.orders.this_month = parseFloat(currentMonth.total).toFixed(0);
               }

               that.orders.total = response.reduce((n, { total }) => n + parseInt(total), 0).toFixed(0);

               // initEarningChart(response, 'enrollmentsOverviewChart', 'Enrollments', '')
            });
         }
      },
      delimiters: ['[[', ']]'],
   })

   app.mount('#homeApp')

</script>

{% endblock %}