{% extends "student_base.html" %}

{% block title %}
My Purchase History
{% endblock %}

{% block content %}

<section class="section-padding popular-course-slider pt-5">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading center-heading">
                    <h3>Purchase History</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <article id="post-6" class="post-6 page type-page status-publish hentry">
                    <!-- .entry-header -->
                    <div class="entry-content">
                        <div class="woocommerce">
                            <div class="woocommerce-notices-wrapper"></div>
                            <form class="woocommerce-cart-form" action="" method="">
                                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="product-name"></th>
                                            <th class="product-price">Date</th>
                                            <th class="product-price">Total price</th>
                                            <th class="product-quantity">Payment type</th>
                                            <th class="product-quantity"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for order in request.user.orders.all %}
                                        {% for order_item in order.items.all %}
                                        <tr class="woocommerce-cart-form__cart-item cart_item">


                                            <td class="product-name" data-title="Product">
                                                <i class="fas fa-shopping-cart mr-2"></i>
                                                <a href="#">{{order_item.course}}</a>
                                            </td>
                                            <td class="product-price" data-title="Price">
                                                <span class="woocommerce-Price-amount amount">
                                                    {{order.created|date:"M d, Y"}}
                                                </span>
                                            </td>
                                            <td class="product-price" data-title="Price">
                                                <span class="woocommerce-Price-amount amount">
                                                    <span class="woocommerce-Price-currencySymbol">$</span>
                                                    <text>{{order_item.sub_total}}</text>
                                                </span>
                                            </td>


                                            <td class="product-subtotal" data-title="Total">
                                                {% for payment in order.payments.all %}
                                                {{payment.get_gateyway}}
                                                {% endfor %}
                                            </td>

                                            <td class="text-right">
                                                <!-- <button type="button" class="button alt mr-2"
                                                    value="Receipt">Receipt</button> -->
                                                <a href="{% url 'business_purchase_invoice' order.ref_id order_item.pk  %}" target="_blank" type="button" class="button alt btn-info mb-2"
                                                    value="Invoice">Invoice</a>
                                                    <a href="{% url 'business_purchase_receipt' order.ref_id order_item.pk  %}" target="_blank" type="button" class="button alt btn-info"
                                                    value="Receipt">Receipt</a>


                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endfor %}

                                     
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div><!-- .entry-content -->
                </article>

            </div>

        </div>
    </div>
</section>


{% endblock %}
